<div class="row">
  <div class="span8">

    <%= form_for @waitlist, :html=> { :class => "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <fieldset>
        <div class="control-group">
          <%= f.label :name, nil, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name, :class => "input-large" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :description, nil, :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :description, :class => "input-xxlarge", :rows => "3"%>
          </div>
        </div>

        <div class="actions well">
					<%= f.submit "Submit", :class => "btn btn-primary" %>
				</div>
      </fieldset>
    <% end %>
  </div>
</div>
