<%= form_for(@waitlist.adopter_waitlists.build(:waitlist_id => @waitlist.id), :html => {:id => "new_adopter_link"}) do |wa| %>
  <fieldset>
    <div class="control-group">
      <%= wa.label :adopter_id, "Add adopter to the waitlist", :class => "control-label" %>
      <%= wa.collection_select(:adopter_id, @adopters, :id, :name, include_blank: '-select-') %><br /><br />
    </div>
    <div><%= wa.hidden_field :waitlist_id %></div>
    <div id="navigation">
      <%= wa.submit "Add Adopter", :id => "add_adopter_submit", :class => "btn btn-small btn-primary" %>
    </div>
  </fieldset>
<% end %>
