<div class="container">

<h1><%= @treatment.name %></h1>


<p><%= @treatment.available_for %></p>
<p><%= @treatment.has_result %></p>
<p><%= @treatment.has_comment %></p>

<p><%= @treatment.has_date %></p>

<p><%= @treatment.recommendation %></p>

</div>
