<div class="card bg-light mb-3">
  <div class="card-header"> Filter, Search and Sort the database...  </div>
  <div class="card-body">
    <form class='row' id='filter_controls'> <!-- form tag allows the use of jQuery serialize() -->
      <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_age', button_text: 'Age', options: Dog::AGES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_status', button_text: 'Status', options: Dog::STATUSES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_size', button_text: 'Size', options: Dog::SIZES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'has_flags', button_text: 'Flags', options: Dog::FILTER_FLAGS, multiple:true } %>

      <div class="col-4 col-md-2 globalselect-container" id='search'>
        <button type="button" class="globalselect dropdown-toggle btn btn-sm btn-default mb-2 mb-sm-0" data-toggle="dropdown" >
          Search
        </button>
          <ul class="dropdown-menu" data-multiple=false data-close-after-selection=false  >
            <li>
              <div id='search-dropdown-heading'>
                Select a field to search in,<br/>
                and the value to match
              </div>
            </li>
            <li>
              <div class="input-group" id="search">
                <div>
                  <input type="text" class="form-control" id='search' name='search' value=<%=params[:search]%> >
                </div>
                <div class="input-group-append" style="display:<%= search_string_present? ? 'inline' : 'none' %>">
                  <button class="btn btn-light" type="button" id='search_reset'>
                    <i class='fa fa-sm fa-times' id='reset_icon'></i>
                  </button>
                  <button class="btn btn-success" type="button" id='search_button'>
                    <i class='fa fa-sm fa-search' id='search_icon'></i>
                  </button>
                </div>
              </div>
            </li>
            <%- Dog::SEARCH_FIELDS.each do |value, text| %>
              <li id=<%= value %> class=<%= is_selected_search?(value) %> >
                <input type='hidden' name='search_field_index' value=<%= value %> <%= is_disabled_search?(value) %> />
                <span class="check fa fa-check"></span>
                <span class="filter_option"><%= text %></span>
              </li>
            <%- end %>
          </ul>
      </div>
      <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'sort', button_text: 'Sort', options: Sortable::SORT_FIELDS, multiple: false } %>
    </form>
  </div>
</div>

<div class="row" id='filter_info_row'>
  <div class='col-sm-2'>
    <%= @count %> records returned
  </div>
  <div class='col' id='filter_info'>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_age', group_text: "Age", values: Dog::AGES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_status', group_text: "Status", values: Dog::STATUSES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_size', group_text: "Size", values: Dog::SIZES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'has_flags', group_text: "Flags", values: Dog::FILTER_FLAGS} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'sort', group_text: "Sort", values: Sortable::SORT_FIELDS} %>
    <%= render partial: 'dogs/manager_index/filter_text_info_group', locals: {group_id: 'search', group_text: "Search by:", value: "#{@filter_params['search_field_text']} matches #{params['search']}" } %>
    <a href="#" id="reset_message" ><i class="fa fa-lg fa-times"></i> Reset filter, search and sort</a>
  </div>
</div>

<div id="manager_dogs">
  <%- if @dogs.any? %>
    <%= render :partial => "dogs/manager_index/manager_dog", :collection => @dogs, :as => :dog %>
    <div> <%= will_paginate(@dogs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> </div>
  <% else %>
    <div id="none_found"><h4>No dogs were found that match the specified criteria</h3></div>
  <% end %>
</div>

<script type='text/javascript'>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script type='text/javascript' >
  var filter_params = <%= @filter_params.to_json.html_safe %>
</script>
