<div class="row">
  <%= form_tag dogs_path, :method => 'get', class: 'form-inline' do %>
    <%= text_field_tag :search, params[:search], placeholder: 'ID, Name or Microchip' %>
    <%= submit_tag "Search", class: "btn btn-sm btn-primary", id: "search_button"%>
    <%= link_to ' Clear Search', :controller => "dogs", :status => "active" %>
  <% end %>
</div>

<div class="row">
  <div class='col' id='filter_info'>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_age', group_text: "Age", values: Dog::AGES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_status', group_text: "Status", values: Dog::STATUSES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'is_size', group_text: "Size", values: Dog::SIZES.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'has_flags', group_text: "Flags", values: Dog::FILTER_FLAGS.to_id_and_value_hash} %>
    <%= render partial: 'dogs/manager_index/filter_info_group', locals: {group_id: 'sort', group_text: "Sort", values: Sortable::SORT_FIELDS} %>
    <%= render partial: 'dogs/manager_index/filter_text_info_group', locals: {group_id: 'is_breed', group_text: "Breed", value: params['is_breed'] } %>
    <span id="reset_message"><i class="fa fa-times"></i> Reset filter, search and sort</span>
  </div>
</div>

<form class='row' id='filter_controls'>
  <%= hidden_field_tag :commit, 'Filter' %>
  <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_age', button_text: 'Age', options: Dog::AGES.to_id_and_value_hash, multiple: true  } %>
  <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_status', button_text: 'Status', options: Dog::STATUSES.to_id_and_value_hash, multiple: true  } %>
  <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'is_size', button_text: 'Size', options: Dog::SIZES.to_id_and_value_hash, multiple: true  } %>
  <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'has_flags', button_text: 'Flags', options: Dog::FILTER_FLAGS.to_id_and_value_hash, multiple: true  } %>
  <div class="col-sm">
    <div class="input-group" id="breed">
      <input type="text" class="form-control" placeholder="Breed (all/part)" id='is_breed' name='is_breed' value=<%=params[:is_breed]%> >
      <div class="input-group-append">
        <button class="btn btn-success" type="button">
          <i class='fa fa-sm fa-search' id='search_breed_icon'></i>
        </button>
      </div>
    </div>
  </div>
  <%= render partial: 'dogs/manager_index/global_multiselect_dropdown', locals: {id: 'sort', button_text: 'Sort', options: Sortable::SORT_FIELDS, multiple: false } %>
</form>

<div id="manager_dogs">
  <%- if @dogs.any? %>
    <%= render :partial => "dogs/manager_index/manager_dog", :collection => @dogs, :as => :dog %>
    <div> <%= will_paginate(@dogs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> </div>
  <% else %>
    <div><h3>No dogs found, matching the specified criteria</h3></div>
  <% end %>
</div>

<script type='text/javascript'>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script type='text/javascript' >
  var filter_params = <%= @filter_params.to_json.html_safe %>
</script>
