<div class="row">
  <div class="span6">
    <h1>Reset Password</h1>

      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update Password", :class => "btn btn-primary" %>
        </div>
      <% end %>

  </div>
</div>