<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Adoption Application Received</title>
  </head>
  <body>
      <h4><%= @adopter.name %></h4>
      <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px"><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">id</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">
            <%= link_to @adopter.id, adopter_url(@adopter) %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">email</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.email %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">address</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">
                <%= @adopter.address1 %><br />
                <%= @adopter.address2 %><br />
                <%= @adopter.city %>,<%= @adopter.state %> <%= @adopter.zip %>
              </td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">phone</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.phone %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">other phone</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.other_phone %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">ready_to_adopt_dt</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.ready_to_adopt_dt.strftime("%m/%d/%Y") %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">when_to_call</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.when_to_call %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">spouse_name</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.spouse_name %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">other_household_names</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.other_household_names %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">how_did_you_hear          :</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.how_did_you_hear %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">house_type</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><strong><%= @adopter.adoption_app.house_type %></strong></td>
        </tr>
        <tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">At Least 21?</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">

              <% if @adopter.adoption_app.is_ofage? %>
                <span class="label success" style="background-color: #46A546;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">Yes, 21 or older</span>
              <% else %>
                <span class="label important" style="background-color: #C43C35;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">Under 21 Years Old!</span>
              <% end %>
          </td>
        </tr>

        </table>

        <h5>Dog Info</h5>
        <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px"><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">dog_name</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><strong><%= @adopter.dog_name %></strong></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">dog_reqs</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.dog_reqs %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">why_adopt</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.why_adopt %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">dog_exercise</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.dog_exercise %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">dog_stay_when_away</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.dog_stay_when_away %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">max_hrs_alone</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.max_hrs_alone %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">dog_vacation</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.dog_vacation %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">training_explain</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.training_explain %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">surrender_pet_causes</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.surrender_pet_causes %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">surrendered_pets          :</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.surrendered_pets %></td>
          </tr></table>

        <% if @adopter.adoption_app.house_type == 'rent' %>
            <h5>Rental Info</h5>
                <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px"><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">landlord_name</td>
                  <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.landlord_name %></td>
                </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">landlord_phone </td>
                  <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.landlord_phone %></td>
                </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">rent_dog_restrictions </td>
                  <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.rent_dog_restrictions %></td>
                </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">rent_costs</td>
                  <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.rent_costs %></td>
                </tr></table>
        <% end %>

        <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px"></table>

        <% if @adopter.adoption_app.pets_branch == "other_pets" %>
          <h5>Other Pets</h5>
          <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px"><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">current_pets</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.current_pets %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">current_pets_fixed        :</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">
              <% if @adopter.adoption_app.current_pets_fixed? %>
                <span class="label success" style="background-color: #46A546;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">Pets are Fixed</span>
              <% else %>
                <span class="label important" style="background-color: #C43C35;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">pets not fixed</span>
              <% end %>
            </td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">why_not_fixed </td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.why_not_fixed %></td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">current_pets_uptodate</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">
              <% if @adopter.adoption_app.current_pets_uptodate? %>
                <span class="label success" style="background-color: #46A546;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">Pets are up to date</span>
              <% else %>
                <span class="label important" style="background-color: #C43C35;border-radius: 3px 3px 3px 3px;color: white;font-size: 9.75px;font-weight: bold;padding: 1px 3px 2px;text-transform: uppercase;white-space: nowrap">pets need shots</span>
              <% end %>
            </td>
          </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">current_pets_uptodate_why</td>
          <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.current_pets_uptodate_why %></td>
        </tr><tr><td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top">vet_info</td>
            <td style="line-height: 18px;padding: 10px 10px 9px;text-align: left;border-top: 1px solid #DDD;vertical-align: top"><%= @adopter.adoption_app.vet_info %></td>
          </tr></table>
        <% else %>
            <h5>No Other Pets in the past 10 years</h5>
      <% end %>
    
      <h5>References</h5>
        <table style="border-collapse: collapse;font-size: 13px;margin-bottom: 18px;padding: 0;width: 600px">
          <%= render @adopter.references, :target => @adopter %>
        </table></body>
</html>
