<tr>
	<td id="user_name"><strong><%= link_to comment.user.name, user_path(comment.user) %></strong><br />
		<em><%= time_ago_in_words(comment.created_at) %> ago</em>
    <% if current_user == comment.user %>
      <%= form_for comment, :html => {:id => "delete_comment", :class => "delete_comment"}, :method => :delete do |f| %>
        <%= f.submit "Delete", :class => "btn btn-danger btn-small" %>
      <% end %>
    <% else %>
      <% #<button id="" class="btn disable">Delete</button> %>
    <% end %>
	</td>
  <td><%= image_tag("pencil_go.png") if comment.user_id == current_user.try(:id) %><%= best_in_place_if comment.user_id == current_user.try(:id), comment, :content, :type => :textarea %></td>
</tr>
