<% if !comment.user %>
  <tr>
    <td id="user_name"><strong>Deleted User</strong><br />
      <em><%= comment.created_at.strftime('%m/%d/%Y %l:%M%P') %></em>
    </td>
    <td><%= comment.content %>
    </td>
<% else %>
<tr>
  <td id="user_name"><strong><%= link_to comment.user.name, user_path(comment.user) %></strong><br />
    <em><%= comment.created_at.strftime('%m/%d/%Y %l:%M%P') %></em>
    <% if current_user == comment.user %>
      <%= form_for comment, :html => {:id => "delete_comment", :class => "delete_comment"}, :method => :delete do |f| %>
        <%= f.submit "Delete", :class => "btn btn-danger btn-small" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if comment.user_id == current_user.try(:id) %>
      <%= form_for comment, method: :put, format: :json do |f| %>
        <%= f.text_area :content, rows: 5 %>
        <div id='status-icon'></div>
      <% end %>
    <% else %>
      <%= comment.content %>
    <% end %>
  </td>
</tr>
<% end %>
