<div class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <h1>OPH Adoption Fee Payment</h1>
        <% if signed_in? && @invoice.open?%>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">OPH Action Required</h4>
            <p>Please share this page with the adopter so they can make their payment:</p>
            <code><%= invoice_url(@invoice) %></code>
          </div>

        <%= link_to_if(signed_in?, "Delete Invoice", @invoice, method: :delete, class: "btn btn-danger",
            data: { confirm: "Are you sure?"}, title: "Delete Invoice", id: 'delete_invoice'){} %>
        <% end %>
    </div>
  </div>
  <% if signed_in? %>
  <div class="row">
    <div class="col-12 pt-3">
      <% if @invoice.contract_received_at.nil? %>
        <div class="alert alert-danger" role="alert">
          <p>Contract has not been received by OPH</p>
          <%= button_to "Record Contract Receipt", {action: "record_contract", remote: true}, {class: 'btn btn-primary'} if is_admin? %>
        </div>
      <% else %>
        <div class="alert alert-success" role="alert">
          <p>Contract Received <%= @invoice.contract_received_at.try(:strftime, "%m/%d/%Y at %l:%M:%S %p")  %> by <%= @invoice.audits.last.user.name   %></p>
          <%= button_to "Delete Contract Receipt", {action: "record_contract", remote: true}, {class: 'btn btn-danger'} if is_admin?  %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-sm-3 pt-3">
      <dl>
        <dt>Adopter</dt>
        <dd><%= @invoice.invoiceable.adopter.name %></dd>
        <dt>For the adoption of</dt>
        <dd><%= @invoice.invoiceable.animal.name %></dd>
        <% if @invoice.description.present? %>
          <dt>Notes</dt>
          <dd><%= @invoice.description %></dd>
        <% end%>
      </dl>
    </div>
  </div>

<% if @invoice.open? %>
  <div class="row">
    <div class="col-12 pt-3">
        <%= form_for @invoice do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <div class="form-group row">
            <label for="amtDue" class="col-5 col-form-label">Adoption Fees Due:</label>
            <div class="col-5">
              <input type="text" readonly class="form-control" id="amtDue" value="<%= number_to_currency(@invoice.amount) %>">
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :donation, 'Add a Donation:', class: "col-5 col-form-label" %>
              <div class="col-5">
                <%= f.text_field :donation, class: "form-control", placeholder: "0" %>
              </div>
          </div>
          <%= hidden_field_tag(:stripeToken) %>
        <% end %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <button id="payButton" class="btn btn-primary btn-lg">Make Payment</button>
    </div>

  <% elsif @invoice.paid? %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <p>Invoice of <%= number_to_currency(@invoice.amount) %> was paid in full <%= @invoice.paid_at.strftime("%m/%d/%Y at %l:%M:%S %p") %>.</p>
        <% if @invoice.donation.present? %>
          <p>A donation of <%= number_to_currency(@invoice.donation.amount) %> was included.</p>
        <% end %>
  <% else %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
        </div>
  <% end %>
    </div>
  </div>
</div>


<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Operation Paws for Homes',
    description: 'Adoption Fee',
    panelLabel: 'Pay {{amount}}',
    email: '<%= @invoice.invoiceable.adopter.email %>',
    zipCode: true,
    image: '/apple-touch-icon.png',

    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  $('#payButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var donation = document.getElementById("invoice_donation").value;

    console.log(donation + isNaN(donation))

    if (isNaN(donation)) {
      $('#error_explanation').html('<p>Please enter a valid donation amount in whole dollars</p>')
      throw "invalid donation amount";
    }

    donation = donation.replace(/\$/g, '').replace(/\,/g, '');

    // set to 0 if negative
    donation = Math.max(0,donation);

    document.getElementById("invoice_donation").value = donation;

    donation = parseFloat(donation);
    donation = donation * 100; // Needs to be an integer!
    console.log('donation amount is '+ donation)


    var feesDue = document.getElementById("amtDue").value;
    feesDue = feesDue.replace(/\$/g, '').replace(/\,/g, '');
    feesDue = parseFloat(feesDue);
    feesDue = feesDue * 100; // Needs to be an integer!

    console.log('fee amount is '+ feesDue)

    var amount = donation + feesDue
    handler.open({
      amount: Math.round(amount),
    })
  });

    // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
