<div class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <h1>OPH Adoption Fee Payment</h1>
        <% if signed_in? && @invoice.open?%>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">OPH Action Required</h4>
            <p>Please share this page with the adopter so they can make their payment:</p>
            <code><%= invoice_url(@invoice) %></code>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 pt-3">
      <dl>
        <dt>Adopter</dt>
        <dd><%= @invoice.invoiceable.adopter.name %></dd>
        <dt>For the adoption of</dt>
        <dd><%= @invoice.invoiceable.animal.name %></dd>
      </dl>
    </div>
  </div>

<% if @invoice.open? %>
  <div class="row">
    <div class="col-sm-6 pt-3">
      <dl>
        <dt>Adoption Fees Due<dt>
        <dd><span id="amtDue"><%= number_to_currency(@invoice.amount) %></span></dd>
        <% if @invoice.description.present? %>
        <dd>Notes</dd>
        </dt><%= @invoice.description %></dt>
        <% end%>
      </dl>

        <%= form_for @invoice do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <div class="form-group">
              <%= f.label :donation, 'Add an optional donation for community spay and neuter:' %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= f.text_field :donation, class: "form-control", placeholder: "0" %>
              </div>
          </div>
          <%= hidden_field_tag(:stripeToken) %>
        <% end %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <button id="payButton" class="btn btn-primary btn-lg">Make Payment</button>
    </div>
<% else %>
        <p>Invoice of <%= number_to_currency(@invoice.amount) %> was paid in full <%= @invoice.paid_at.strftime("%m/%d/%Y at %l:%M:%S %p") %>.</p>
        <% if @invoice.has_donation? %>
        <p>A donation of <%= number_to_currency(@invoice.donation.amount) %> was included.</p>
        <% end %>
<% end %>
    </div>
  </div>
</div>


<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Operation Paws for Homes',
    description: 'Adoption Fee',
    panelLabel: 'Pay {{amount}}',
    email: '<%= @invoice.invoiceable.adopter.email %>',
    zipCode: true,
    image: '/apple-touch-icon.png',

    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  $('#payButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var donation = document.getElementById("invoice_donation").value;

    console.log(donation + isNaN(donation))

    if (isNaN(donation)) {
      $('#error_explanation').html('<p>Please enter a valid donation amount in whole dollars</p>')
      throw "invalid donation amount";
    }

    donation = donation.replace(/\$/g, '').replace(/\,/g, '');

    // set to 0 if negative
    donation = Math.max(0,donation);

    document.getElementById("invoice_donation").value = donation;

    donation = parseFloat(donation);
    donation = donation * 100; // Needs to be an integer!
    console.log('donation amount is '+ donation)


    var feesDue = document.getElementById("amtDue").innerText;
    feesDue = feesDue.replace(/\$/g, '').replace(/\,/g, '');
    feesDue = parseFloat(feesDue);
    feesDue = feesDue * 100; // Needs to be an integer!

    console.log('fee amount is '+ feesDue)

    var amount = donation + feesDue
    handler.open({
      amount: Math.round(amount),
    })
  });

    // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
