<br />
<br />

<div class="row">
	<div class="span6">
		<%= form_for @dog, :html=> { :multipart => true, :class => "form-horizontal"  } do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<fieldset>
				<div class="control-group">
					<%= f.label :tracking_id, "OPH Tracking ID", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :tracking_id %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :name, :class => 'control-label'  %>
					<div class="controls">
						<%= f.text_field :name %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :status, :class => 'control-label'  %>
					<div class="controls">
						<%= f.select(:status, Dog::STATUSES, :prompt => '-select-') %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :primary_breed_name, :class => 'control-label'  %>
					<div class="controls">
						<%= f.collection_select(:primary_breed_id, @breeds, :id, :name, :prompt => '-select-') %>
					</div>
						<%= f.hidden_field :primary_breed_id %>
				</div>
				<div class="control-group">
					<%= f.label :secondary_breed_name, :class => 'control-label'  %>
					<div class="controls">
						<%= f.collection_select(:secondary_breed_id, @breeds, :id, :name, :prompt => '-select-') %>
					</div>
					<%= f.hidden_field :secondary_breed_id %>	
				</div>
				<div class="control-group">
					<%= f.label :gender, :class => 'control-label'  %>
					<div class="controls">
						<%= f.select(:gender, Dog::GENDERS, :prompt => '-select-', :class => "span2") %>
					</div>
				</div>	
				<div class="control-group">
					<%= f.label :age, :class => 'control-label'  %>
					<div class="controls">
						<%= f.select(:age, Dog::AGES, :prompt => '-select-', :class => "span2") %>	
					</div>
				</div>
				<div class="control-group">
					<%= f.label :size, "Size when grown", :class => 'control-label'  %>
					<div class="controls">
						<%= f.select(:size, Dog::SIZES, :prompt => '-select-', :class => "span2") %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :intake_dt, "Intake Date", :class => 'control-label'  %>
					<div class="controls">
						<%= f.text_field :intake_dt %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :available_on_dt, "Available On Date", :class => 'control-label'  %>
					<div class="controls">
						<%= f.text_field :available_on_dt %>
					</div>
				</div>

	</div>
	<div class="span6">

			<h3>Foster Assignment</h3>
				<div class="control-group">
					<%= f.label :user_id, "Name", :class => 'control-label' %>
					<div class="controls">
						<%= f.collection_select(:user_id, @foster_users, :id, :name, :prompt => '-select-') %>
					</div>
				</div>
				<div class="control-group">
				<label id="optionsCheckboxes"><h3>Public Attributes</h3></label>
					<div class="controls">
						<label class="checkbox">
							<%= f.check_box :is_uptodateonshots %>
							<span><%= f.label :is_uptodateonshots, "Up-to-date on shots"  %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :is_housetrained %>
							<span><%= f.label :is_housetrained, "Is Housetrained" %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :is_altered %>
							<span><%= f.label :is_altered %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :is_special_needs %>
							<span><%= f.label :is_special_needs %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :no_dogs %>
							<span><%= f.label :no_dogs %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :no_cats %>
							<span><%= f.label :no_cats %></span>
						</label>
						<label class="checkbox">
							<%= f.check_box :no_kids %>
							<span><%= f.label :no_kids %></span>
						</label>
					</div>
				</div>

				<div class="control-group">
				<label id="optionsCheckboxes"><h3>Private Attributes</h3></label>
					<div class="controls">
						<label class="checkbox"><%= f.check_box :has_medical_need %>
						<span><%= f.label :has_medical_need %></span>
						</label>
						<label class="checkbox"><%= f.check_box :is_high_priority %>
						<span><%= f.label "High Priority Dog" %></span>
						</label>
						<label class="checkbox"><%= f.check_box :needs_photos %>
						<span><%= f.label :needs_photos %></span>
						</label>
						<label class="checkbox"><%= f.check_box :has_behavior_problem %>
						<span><%= f.label :has_behavior_problem %></span>
						</label>
						<label class="checkbox"><%= f.check_box :needs_foster %>
						<span><%= f.label :needs_foster %></span>
						</label>
					</div>
				</div>

	</div>

		<div class="row sidekick">
			<div class="span12">
					<h2>Photos</h2>

					<div class="span5">
						<h3>New Photos</h3>
						<div class="control-group">
						<%= f.fields_for :photos do |pf| %>
							<% if pf.object.new_record? %>
								<%= pf.file_field :photo %><br />
							<% end %>
						<% end %>
						</div>
					</div>
					<div class="span5">
						<h3>Existing Photos</h3>
							<%= f.fields_for :photos do |pf| %>
								<% unless pf.object.new_record? %>
								<div class="thumb">
									<%= link_to image_tag(pf.object.photo.url(:thumb)), pf.object.photo.url(:original) %>

									<label class="checkbox ">
										<%= pf.check_box :_destroy %>
										<span>Delete Photo</span>
									</label>
									
								</div>
								<% end %>
							<% end %>
					</div>
				</div>
			</div>
				<div class="row sidekick">
					<div class="span12">
						<h2>Documents</h2>
						<div class="span5">
							<h3>New Documents</h3>
							<div class="control-group">
							<%= f.fields_for :attachments do |af| %>
								<% if af.object.new_record? %>
									<%= af.file_field :attachment %><br />
								<% end %>
							<% end %>
							</div>
						</div>
						<div class="span5">
							<h3>Existing Documents</h3>
								<%= f.fields_for :attachments do |af| %>
									<% unless af.object.new_record? %>
									<div class="control-group">
										<label class="control-label" for="delAttachment">
											<i class="icon-file"></i><%= link_to af.object.attachment_file_name, af.object %>
										</label>
										<label class="checkbox">
											<%= af.check_box :_destroy, :id => "delAttachment" %>
											<span>Delete <%= af.object.attachment_file_name %></span>
										</label>
									</div>
									<% end %>
								<% end %>
						</div>
					</div>
				</div>
				<div class="control-group sidekick">
					<h2>Public Description</h2>
					<div class="controls">
						<%= f.text_area :description, :class => "required input-xxlarge", :rows => "8" %>
					</div>
				</div>

				<div class="actions well">
					<%= f.submit "Submit", :class => "btn btn-primary" %>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>
