<div class="row">
  <div class="span12">
    <%= form_tag dogs_path, :method => 'get', :class => 'form-inline' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'ID, Name or Microchip' %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to ' Clear Search', :controller => "dogs", :status => "active" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
  <div class="well well-small">
    <%= form_tag dogs_path, :method => 'get', :class => 'form-inline' do %>
        <%= label_tag :is_age, 'Age:' %>
        <%= select_tag :is_age, options_for_select(Dog::AGES, selected: params[:is_age]), {id: 'ageSelect', multiple: true} %>

        <%= label_tag :is_size, 'Size:' %>
        <%= select_tag :is_size, options_for_select(Dog::SIZES, selected: params[:is_size]), {id: 'sizeSelect', multiple: true} %>

        <%= label_tag :is_flagged, 'Flags:' %>
        <%= select_tag :is_flagged, options_for_select(Dog::FILTER_FLAGS, selected: params[:is_flagged]), {id: 'flagSelect', multiple: true} %>

        <%= label_tag :is_status, 'Status:' %>
        <%= select_tag :is_status, options_for_select(Dog::STATUSES, selected: params[:is_status]), {id: 'statusSelect', multiple: true} %>

        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <i class="fa fa-filter" aria-hidden="true"></i> Filter
        <% end %>

        <%= label_tag :cb_high_priority, 'High Priority'%>
        <%= check_box_tag :cb_high_priority, '1' , params[:cb_high_priority] %>

        <%= label_tag :cb_medical_review_needed, 'Medical Review Needed'%>
        <%= check_box_tag :cb_medical_review_needed, '1', params[:cb_medical_review_needed] %>

        <%= link_to '<i class="fa fa-times-circle-o" aria-hidden="true"></i> Reset filter and show all active dogs '.html_safe, :controller => "dogs", :is_status => DogSearcher::ACTIVE_STATUSES %>

    <% end %>
  </div>

    <script id="example">
    $('#ageSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#sizeSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#flagSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#statusSelect').multiselect({
      nonSelectedText: 'Any'
    });
    </script>

    <% if @dogs.any? %>

    <table class="table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= sortable "tracking_id" %></th>
          <th><%= sortable "name" %></th>
          <th><%= sortable "intake_dt" %></th>
          <th>Age</th>
          <th>Size</th>
          <th>Flag</th>
          <% if (params[:status] == nil) || (params[:status] == "active")%>
          <th><%= sortable "status" %></th>
          <% end %>
          <th>Foster Name</th>
          <th>Location</th>
          <th>Adopter Interest</th>
          <th>Last Comment</th>
        </tr>
      </thead>
      <tbody id="dogs">
        <%= render :partial => "manager_dog", :collection => @dogs, :as => :dog %>
      </tbody>
    </table>
    <% else %>
      <h3>No Records Found</h3>
    <% end %>
  </div>
</div>
