<div class="row">
  <div class="span12">
    <%= form_tag dogs_path, :method => 'get', :class => 'form-inline' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'ID, Name or Microchip' %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to ' Clear Search', :controller => "dogs", :status => "active" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
  <div class="well well-small">
    <%= form_tag dogs_path, :method => 'get', :class => 'form-inline' do %>
        <%= label_tag :age, 'Age:' %>
        <%= select_tag :age, options_for_select(Dog::AGES), {id: 'ageSelect', multiple: 'multiple'} %>

        <%= label_tag :size, 'Size:' %>
        <%= select_tag :size, options_for_select(Dog::SIZES), {id: 'sizeSelect', multiple: 'multiple'} %>

      <label class="label-filter">Flags:</label>
          <select id="flagSelect" multiple="multiple">
              <option value="1">High Priority</option>
              <option value="2">Medical Need</option>
              <option value="mrc">Medical Review Needed</option>
              <option value="3">Behavior Problems</option>
              <option value="3">Needs Foster</option>
              <option value="4">No Kids</option>
              <option value="5">No Cats</option>
              <option value="6">No Dogs</option>
          </select>
        <%= label_tag :status, 'Status:' %>
        <%= select_tag :status, options_for_select(Dog::STATUSES), {id: 'statusSelect', multiple: 'multiple'} %>
        <%= submit_tag "Filter", class: "btn btn-primary"%>
    <% end %>
  </div>

    <script id="example">
    $('#ageSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#sizeSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#flagSelect').multiselect({
      nonSelectedText: 'Any'
    });
    $('#statusSelect').multiselect({
      nonSelectedText: 'Any'
    });
    </script>

    <% if @dogs.any? %>

    <table class="table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= sortable "tracking_id" %></th>
          <th><%= sortable "name" %></th>
          <th><%= sortable "intake_dt" %></th>
          <th>Age</th>
          <th>Size</th>
          <th>Flag</th>
          <% if (params[:status] == nil) || (params[:status] == "active")%>
          <th><%= sortable "status" %></th>
          <% end %>
          <th>Foster Name</th>
          <th>Location</th>
          <th>Adopter Interest</th>
          <th>Last Comment</th>
        </tr>
      </thead>
      <tbody id="dogs">
        <%= render :partial => "manager_dog", :collection => @dogs, :as => :dog %>
      </tbody>
    </table>
    <% else %>
      <h3>No Records Found</h3>
    <% end %>
  </div>
</div>
