<tr>
	<td><%= dog.tracking_id %></td>
	<td><%= link_to dog.name.titleize, dog %></td>
	<td><%= dog.age.titleize %></td>
	<td>
		<% if dog.has_medical_need %>
			<%= image_tag "has_medical_need.gif", :title => "Medical Need", :size => "18x18" %>
		<% end %>
		<% if dog.is_high_priority %>
			<%= image_tag "is_high_priority.gif", :title => "High Priority", :size => "18x18" %>
		<% end %>
		<% if dog.needs_photos %>
			<%= image_tag "needs_photos.gif", :title => "Need Photos", :size => "18x18" %>
		<% end %>
		<% if dog.has_behavior_problem %>
			<%= image_tag "has_behavior_problem.gif", :title => "Behavior Problem", :size => "18x18" %>
		<% end %>
		<% if dog.needs_foster %>
			<%= image_tag "needs_foster.gif", :title => "Needs Foster", :size => "18x18" %>
		<% end %>
		<% if !dog.is_altered %>
			<%= image_tag "needs_alter.gif", :title => "Needs Spay/Neuter", :size => "18x18" %>
		<% end %>
	</td>
	<% if (params[:status] == nil) || (params[:status] == "active")  %>
		<td><%= dog.status.titleize %></td>
	<% end %>
	<td><%= dog.user ? link_to(dog.user.name, dog.user) : "Unassigned" %></td>
	<td><%= dog.user ? "#{dog.user.city}, #{dog.user.state}" : "Unassigned" %></td>
	<td>
		<% dog.adopters.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td>
	<% if dog.comments.first %>
		<td><%= truncate(dog.comments.first.content, :length => 80) %></td>
	<% else %>
		<td>None</td>
	<% end %>
</tr>