<div class="row">
  <%= form_tag dogs_path, :method => 'get', class: 'form-inline' do %>
    <%= text_field_tag :search, params[:search], placeholder: 'ID, Name or Microchip' %>
    <%= submit_tag "Search", class: "btn btn-sm btn-primary", id: "search_button"%>
    <%= link_to ' Clear Search', :controller => "dogs", :status => "active" %>
  <% end %>
</div>

<div class="row">
  <div class='col' id='all_filter_params' style="height:24px"></div>
</div>

  <%= form_with url: dogs_manager_path, method: :get do |form| %>
    <div class="row" id="filter_controls">
      <%= hidden_field_tag :commit, 'Filter' %>
      <%= render partial: 'global_multiselect_dropdown', locals: {form: form, id: 'is_age', button_text: 'Age', options: Dog::AGES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'global_multiselect_dropdown', locals: {form: form, id: 'is_status', button_text: 'Status', options: Dog::STATUSES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'global_multiselect_dropdown', locals: {form: form, id: 'is_size', button_text: 'Size', options: Dog::SIZES.to_id_and_value_hash, multiple: true  } %>
      <%= render partial: 'global_multiselect_dropdown', locals: {form: form, id: 'has_flags', button_text: 'Flags', options: Dog::FILTER_FLAGS.to_id_and_value_hash, multiple: true  } %>
      <div class="col-sm">
        <%= form.text_field :is_breed, placeholder: "Breed (all/part)" %>
      </div>
      <%= render partial: 'global_multiselect_dropdown', locals: {form: form, id: 'sort', button_text: 'Sort', options: Sortable::SORT_FIELDS, multiple: false } %>
    </div>
  <% end %>

<div id="manager_dogs">
  <%- if @dogs.any? %>
    <%= render :partial => "manager_dog", :collection => @dogs, :as => :dog %>
    <div> <%= will_paginate(@dogs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> </div>
  <% else %>
    <div><h3>No dogs found, matching the specified criteria</h3></div>
  <% end %>
</div>
<%= render 'comments_modal' %>

<script type='text/javascript'>
  $('#comments_modal').on('show.bs.modal', function (e) {
    comment = $(e.relatedTarget).data('comment')
    $('#comments_modal .modal-body').text(comment)
    name = $(e.relatedTarget).data('dog_name')
    $('#comments_modal #modal-title').text("Most recent comment for "+name)
  })
</script>
<script type='text/javascript' data-turbolinks-eval=false>
  var filter_params = <%= @filter_params.to_json.html_safe %>
</script>

