<h1><%= @title %></h1>

<br />
<br />

<div class="row">
  <div class="span6">
    <%= form_for @dog, :html=> { :multipart => true, :class => "form-horizontal"  } do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="control-group">
      <%= f.label :tracking_id, "OPH Tracking ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tracking_id, :disabled => !can_edit_dogs? %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :original_name, :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :original_name, :disabled => !can_edit_dogs? %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :status, :class => 'control-label'  %>
      <div class="controls">
        <% if can_edit_dogs? %>
          <%= f.select(:status, Dog::STATUSES, :prompt => '-select-') %>
        <% else %>
          <%= f.text_field :status, :disabled => true %>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :microchip, :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :microchip %>
      </div>
    </div>
    <div class="control-group input-prepend input-append">
      <%= f.label :fee, 'Adoption Fee',:class => 'control-label'%>
      <div class="controls">
        <span class="add-on">$</span>
        <%= f.text_field :fee, :class => 'input-small', :disabled => !can_edit_dogs? %>
        <span class="add-on">.00</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :primary_breed_name, :class => 'control-label'  %>
      <div class="controls">
        <%= f.collection_select(:primary_breed_id, @breeds, :id, :name, :prompt => '-select-') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :secondary_breed_name, :class => 'control-label'  %>
      <div class="controls">
        <%= f.collection_select(:secondary_breed_id, @breeds, :id, :name, :prompt => '-select-') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :gender, :class => 'control-label'  %>
      <div class="controls">
        <%= f.select(:gender, Dog::GENDERS, :prompt => '-select-', :class => "span2") %>
      </div>
    </div>  
    <div class="control-group">
      <%= f.label :age, :class => 'control-label'  %>
      <div class="controls">
        <%= f.select(:age, Dog::AGES, :prompt => '-select-', :class => "span2") %>  
      </div>
    </div>
    <div class="control-group">
      <%= f.label :size, "Size when grown", :class => 'control-label'  %>
      <div class="controls">
        <%= f.select(:size, Dog::SIZES, :prompt => '-select-', :class => "span2") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :intake_dt, "Intake Date", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :intake_dt %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :available_on_dt, "Available On Date", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :available_on_dt %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :sponsored_by, "Sponsored by", :class => 'control-label' %>
      <div class="controls">
        <% if can_edit_dogs? %>
          <%= f.text_field :sponsored_by %>
        <% else %>
          <%= @dog.sponsored_by ? @dog.sponsored_by : "No Sponsor" %>
        <% end %>
      </div>
    </div>

    <h3>Ads</h3>
    <div class="control-group">
      <%= f.label :petfinder_ad_url, "Petfinder Ad Link", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :petfinder_ad_url %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :adoptapet_ad_url, "Adopt-A-Pet Ad Link", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :adoptapet_ad_url %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :craigslist_ad_url, "Craigslist Ad Link", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :craigslist_ad_url %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :youtube_video_url, "YouTube Video Link", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :youtube_video_url %>
      </div>
    </div>    
  </div>

  <div class="span6">
    <h3>Foster Assignment</h3>

    <div class="control-group">
      <div class="controls">
        <% if can_edit_dogs? %>
          <%= f.collection_select(:foster_id, @foster_users, :id, :name, :include_blank => '-select-') %>
        <% else %>
          <%= @dog.foster ? @dog.foster.name : "No Foster Assigned" %>
        <% end %>
      </div>
    </div>

    <h3>Adoption Coordinator</h3>

    <div class="control-group">
      <div class="controls">
        <% if can_edit_all_adopters? %>
          <%= f.collection_select(:coordinator_id, @coordinator_users, :id, :name, :include_blank => '-select-' ) %>
        <% else %>
          <%= @dog.coordinator ? @dog.coordinator.name : "No Coordinator Assigned" %>
        <% end %>
      </div>
    </div>

    <h3>Source Shelter</h3>

    <div class="control-group">
      <div class="controls">
        <% if can_edit_dogs? %>
          <%= f.collection_select(:shelter_id, @shelters, :id, :name, :include_blank => '-select-' ) %>
        <% else %>
          <%= @dog.shelter ? @dog.shelter.name : "No Source Shelter Assigned" %>
        <% end %>
      </div>
    </div>    

    <div class="control-group">
      <label id="optionsCheckboxes"><h3>Public Attributes</h3></label>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :is_uptodateonshots %>
          <span><%= f.label :is_uptodateonshots, "Up-to-date on shots"  %></span>
        </label>
        <label class="checkbox">
          <%= f.check_box :is_altered %>
          <span><%= f.label :is_altered %></span>
        </label>
        <label class="checkbox">
          <%= f.check_box :is_special_needs %>
          <span><%= f.label :is_special_needs %></span>
        </label>
        <label class="checkbox">
          <%= f.check_box :no_dogs %>
          <span><%= f.label :no_dogs %></span>
        </label>
        <label class="checkbox">
          <%= f.check_box :no_cats %>
          <span><%= f.label :no_cats %></span>
        </label>
        <label class="checkbox">
          <%= f.check_box :no_kids %>
          <span><%= f.label :no_kids %></span>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label id="optionsCheckboxes"><h3>Private Attributes</h3></label>
      <div class="controls">
        <label class="checkbox"><%= f.check_box :has_medical_need %>
        <span><%= f.label :has_medical_need %></span>
        </label>
        <label class="checkbox"><%= f.check_box :is_high_priority %>
        <span><%= f.label "High Priority Dog" %></span>
        </label>
        <label class="checkbox"><%= f.check_box :needs_photos %>
        <span><%= f.label :needs_photos %></span>
        </label>
        <label class="checkbox"><%= f.check_box :has_behavior_problem %>
        <span><%= f.label :has_behavior_problem %></span>
        </label>
        <label class="checkbox"><%= f.check_box :needs_foster %>
        <span><%= f.label :needs_foster %></span>
        </label>
      </div>
    </div>

    <h3>Shot Records</h3>


      <div class="control-group">
        <%= f.label :first_shots, "First Shots", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_shots, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :second_shots, "Second Shots", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :second_shots, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :third_shots, "Third Shots", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :third_shots, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :rabies, "Rabies", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :rabies, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :heartworm, "Heartworm", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :heartworm, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :bordetella, "Bordetella", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :bordetella, :class => 'input-xlarge' %>
        </div>
      </div>

  </div>
</div>

<div class="row sidekick">
  <div class="span12">
    <h2>Photos</h2>
    <table class="table table-striped">
      <tbody id="photos_sort" data-update-url="<%= sort_dog_photos_url(@dog) %>">
        <%= f.fields_for :photos do |photo| %>
          <% unless photo.object.new_record? %>
            <%= content_tag_for(:tr, photo.object) do %>
              <td>
                <div class="thumb">
                  <%= link_to image_tag(photo.object.photo.url(:thumb)), photo.object.photo.url(:original) %>
                </div>
              </td>
              <td>
                <label class="checkbox ">
                  <%= photo.check_box :_destroy %>
                  <span>Delete Photo</span>
                </label>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <h3>New Photos</h3>
      <div class="control-group">
        <%= f.fields_for :photos do |photo| %>
          <% if photo.object.new_record? %>
            <%= photo.file_field :photo %><br />
          <% end %>
        <% end %>
      </div>
  </div>
</div>

<div class="row sidekick">
  <div class="span12">
    <h2>Documents</h2>
    <div class="span5">
      <h3>New Documents</h3>
      <div class="control-group">
      <%= f.fields_for :attachments do |af| %>
        <% if af.object.new_record? %>
          <%= af.file_field :attachment %><br />
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="span5">
      <h3>Existing Documents</h3>

      <%= f.fields_for :attachments do |af| %>
        <% unless af.object.new_record? %>
          <div class="control-group">
            <label class="control-label" for="delAttachment">
              <i class="icon-file"></i><%= link_to af.object.attachment_file_name, af.object.download_url %>
            </label>
            <% if can_edit_dogs? %>
              <label class="checkbox">
                <%= af.check_box :_destroy, :id => "delAttachment" %>
                <span>Delete <%= af.object.attachment_file_name %></span>
              </label>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="control-group sidekick">
  <h2>Public Description</h2>
  <div class="controls">
    <%= f.text_area :description, :class => "required input-xxlarge", :rows => "8" %>
  </div>
</div>

<div class="actions well">
  <%= f.submit "Submit", :class => "btn btn-primary" %>
</div>
<% end %>
