<h1><%= @title %></h1>

<%= form_for(@dog) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :tracking_id, "OPH Tracking ID" %><br />
		<%= f.text_field :tracking_id %>
	</div>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :status %><br />
		<%= f.select(:status, Dog::STATUSES, :prompt => '-select-') %>
	</div>
	<div class="field">
		<%= f.label :primary_breed_name %><br />
		<%= f.autocomplete_field :primary_breed_name, autocomplete_breed_name_dogs_path, :id_element => '#dog_primary_breed_id' %>
		<%= f.hidden_field :primary_breed_id =%>
	</div>
	<div class="field">
		<%= f.label :secondary_breed_name %><br />
		<%= f.autocomplete_field :secondary_breed_name, autocomplete_breed_name_dogs_path, :id_element => '#dog_secondary_breed_id' %>
		<%= f.hidden_field :secondary_breed_id %>	
	</div>
	<div class="field">
		<%= f.label :gender %><br />
		<%= f.select(:gender, Dog::GENDERS, :prompt => '-select-') %>	
	</div>	
	<div class="field">
		<%= f.label :age %><br />
		<%= f.select(:age, Dog::AGES, :prompt => '-select-') %>	
	</div>
	<div class="field">
		<%= f.label :size, "Size when grown" %><br />
		<%= f.select(:size, Dog::SIZES, :prompt => '-select-') %>	
	</div>	
	<br />
	<h3>Details</h3>
	<div class="field">
		<%= f.check_box :is_purebred %>
		<%= f.label :is_purebred %>
	</div>	
	<div class="field">
		<%= f.check_box :is_altered %>
		<%= f.label :is_altered %>
	</div>
	<div class="field">
		<%= f.check_box :is_special_needs %>
		<%= f.label :is_special_needs %>
	</div>
	<div class="field">
		<%= f.check_box :no_dogs %>
		<%= f.label :no_dogs %>
	</div>
	<div class="field">
		<%= f.check_box :no_cats %>
		<%= f.label :no_cats %>
	</div>
	<div class="field">
		<%= f.check_box :no_kids %>
		<%= f.label :no_kids %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>	
	</div>

	<div class="actions">
		<%= f.submit "Update Dog" %>
	</div>
<% end %>