<div class="row">
  <div class="span4">
    <h1><%= @title %></h1>
  </div>
  <div class="span4 offset4">
    <% if signed_in? %>
      <% if can_add_dogs? %>
        <%= link_to "Add a Dog", new_dog_path, :class => "btn btn-primary" %>
      <% end %>

      <% if session[:mgr_view] == true %>
        <%= link_to("Gallery View", {:controller => 'dogs', :action => 'switch_view'},:class => "btn ") %>
      <% else %>
        <%= link_to("Manager View", {:controller => 'dogs', :action => 'switch_view'},:class => "btn ") %>
      <% end %>
    <% end %>
  </div>
</div>

<%= will_paginate @dogs %>

  <% if signed_in? && session[:mgr_view] == true %>
    <%= render 'manager' %>
    
  <% else %>
    <div id="dogs">
      <%= render 'dog_rows' %>
      
    </div>

  <% end %>

<%= will_paginate @dogs %>
