<div class="row">
	<div class="span12">
		<h1><%= @title %></h1>
	<% if can_edit_dogs? %>
			<%= link_to "Add a Dog", new_dog_path, :class => "btn btn-primary" %>
			<% if session[:mgr_view] == true %>
			<%= link_to("Gallery View", {:controller => 'dogs', :action => 'switch_view'},:class => "btn ") %>
			<% else %>
			<%= link_to("Manager View", {:controller => 'dogs', :action => 'switch_view'},:class => "btn ") %>
			<% end %>
	<% end %>
</div>
</div>
<%= will_paginate @dogs %>

<% if can_edit_dogs? && session[:mgr_view] == true %>
	<%= render 'manager' %>
<% else %>
	<ul class="thumbnails">
		<% @dogs.each_slice(3) do |slice| %>
 			 <li class="span3">
				<% slice.each do |dog| %>
					<div class="thumbnail">
	    			  	<% if dog.photos == [] %>
							<%= link_to image_tag("no_photo-205x195.png", :alt => dog.name),dog %>
						<% else %>
							<%= link_to image_tag(dog.photos.first.photo.url(:thumb), :alt => dog.name),dog  %> 
						<% end %>
						<h5><%= dog.name %></h5>
						<p><%= dog.primary_breed.name unless !dog.primary_breed %></p>
					</div>
			    <% end %>
			 </li>
		<% end %>
	</ul>
<% end %>
<%= will_paginate @dogs %>