<div class="container">
  <div class="row title_row">
    <%# large-format (>=md) 8/12 width, small format (<md) full-width %>
    <div class="col-12 col-md-8">
      <h1><%= index_page_title %></h1>
    </div>
    <% if signed_in? %>
      <% if can_add_dogs? %>
        <%# large-format (>=md) 2/12 width, small format (<md) half-width %>
        <div class="col-6 col-md-2">
          <%= link_to "Add a Dog", new_dog_path, class: "btn btn-primary" %>
        </div>
      <% end %>

      <% if session[:mgr_view] %>
        <%# large-format (>=md) 2/12 width, small format (<md) half-width %>
        <div class="col-6 col-md-2">
          <%= link_to("Gallery View", dogs_switch_view_path, class: "btn ") %>
        </div>
      <% elsif current_user.active %>
        <%# large-format (>=md) 2/12 width, small format (<md) half-width %>
        <div class="col-6 col-md-2">
          <%= link_to("Manager View", dogs_switch_view_path, class: "btn ") %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= will_paginate(@dogs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

    <% if signed_in? && session[:mgr_view] == true %>
      <%= render 'manager' %>
    <% else %>
      <div class="row gallery" id="dogs">
        <%= render @dogs %>
      </div>
    <% end %>

  <%= will_paginate(@dogs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
