<div class="row">
	<div class="span6">
		<h1><%= @title %></h1>
	</div>
	<% if can_edit_dogs? %>
		<div class="span6 offset4">
			<%= link_to "Add a Dog", new_dog_path, :class => "btn small primary" %>
			<%= link_to("Switch View", {:controller => 'dogs', :action => 'switch_view'},:class => "btn small") %>
		</div>
	<% end %>
</div>

<% if can_edit_dogs? && session[:mgr_view] == true %>
	<%= render 'manager' %>
<% else %>
	<table class="gallery">
		<% @dogs.each_slice(3) do |slice| %>
 			 <tr>
				<% slice.each do |dog| %>
					<td>
						<div>
		    			  	<% if dog.photos == [] %>
								<%= link_to image_tag("no_photo-205x195.png", :alt => dog.name),dog %>
							<% else %>
								<%= link_to image_tag(dog.photos.first.photo.url(:thumb), :alt => dog.name),dog  %> 
							<% end %>
						</div>
						<div>
							<p><strong><%= dog.name %></strong></p>
							<p><%= dog.primary_breed.name unless !dog.primary_breed %></p>
						</div>
					</td>
			    <% end %>
			  </tr>
			<% end %>
		</table>
<% end %>