<h1><%= @title %></h1>
<% if can_edit_dogs? %>
<p>
<%= link_to "Add a Dog", new_dog_path %>
</p>
<% end %>

<% if can_edit_dogs? %>
	<%= render 'manager' %>
<% else %>
	<div class="row">
		<% @dogs.each_slice(4) do |slice| %>
 			 <div class="row">
				<% slice.each do |dog| %>
					<div class="span4 gallery">
						<div>
	    			  	<% if dog.photos == [] %>
							<%= link_to image_tag("no_photo-205x195.png", :alt => dog.name),dog %>
						<% else %>
							<%= link_to image_tag(dog.photos.first.photo.url(:thumb), :alt => dog.name),dog  %> 
						<% end %>
						</div>
						<div>
							<p><strong><%= dog.name %></strong></p>
							<p><%= dog.primary_breed.name %></p>
						</div>
					</div>
			    <% end %>
			  </div>
			<% end -%>
		</div>
	</div>
<% end %>