<div class="row">
  <div class="span4">
    <h1>Dog Manager</h1>
  </div>
  <div class="span4 offset4">
    <% if can_add_dogs? %>
      <%= link_to "Add a Dog", new_dog_path, :class => "btn btn-primary" %>
    <% end %>

    <%= link_to("Gallery View", {:controller => 'dogs', :action => 'index'},:class => "btn ") %>
  </div>
</div>

<%= will_paginate @dogs %>

<%= render 'manager' %>

<%= will_paginate @dogs %>
