<h1><%= @title %></h1>

<%= form_for(@dog) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class "actions">
		<%= f.submit "Add Dog" %>
	</div>
<% end %>