<div class="row">
	<div class="span12">
		<h5><%= link_to "Available Dogs", :controller => "dogs", :status => "active"  %></h5>
			<h1><%= @dog.name %></h1>
			<h3><%= @dog.primary_breed.name unless !@dog.primary_breed %></h3>

			<% if can_edit_dogs? %>
				<strong><%= link_to "Edit Dog", edit_dog_path(@dog), :class => "btn primary" %></strong><br />
			<% end %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<div id="galleria">
		  	<% if @dog.photos == []  %>
				<%= image_tag("no_photo-205x195.png", :alt => @dog.name) %>
			<% else %>
				<% for photo in @dog.photos %>
					<%= link_to image_tag(photo.photo.url(:medium)), photo.photo.url(:original) %>
				<% end %>
			<% end %>
			<% if !@dog.youtube_video_url.blank? %>
				<%= link_to content_tag(:span, "Watch on YouTube", :class => "video"), @dog.youtube_video_url %>
			<% end %>
		</div>
		<div class="fb-like" data-href="<%= request.url %>" data-send="true" data-width="250" data-show-faces="false"></div>
			<p> <%= @dog.description %></p>
	</div>

	<div class="span4">
		<h3>About <%= @dog.name.titleize %></h3>
		<ul class="unstyled">
			<li>ID:  <%= @dog.tracking_id %></li>
			<li><%= @dog.status.titleize %></li>
			<li><%= @dog.age.titleize %></li>
			<li><%= @dog.size.titleize %></li>
			<li><%= @dog.gender.titleize %></li>
			<li><%= @dog.primary_breed.name unless !@dog.primary_breed %></li>
			<li><%= @dog.secondary_breed.name unless !@dog.secondary_breed %></li>

			<% if @dog.is_uptodateonshots %>
				<li>Up To Date On Shots</li>
			<% end %>

			<% if @dog.is_housetrained %>
				<li>Housetrained</li>
			<% end %>

			<% if @dog.is_altered %>
				<li>Already Spayed/Neutered</li>
			<% end %>

			<% if @dog.is_special_needs %>
				<li>Special Needs</li>
			<% end %>

			<% if @dog.no_dogs %>
				<li>Not good with other dogs</li>
			<% end %>

			<% if @dog.no_cats %>
				<li>Not good with cats</li>
			<% end %>

			<% if @dog.no_kids %>
				<li>Not good for homes with small children</li>
			<% end %>
		</ul>
		
		<br />
		<br />
		<% if signed_in? %>
			<h4>Private Information</h4>
			<% if @dog.has_medical_need %>
				<%= image_tag "has_medical_need.gif" %>Has Medical Need<br />
			<% end %>
			<% if !@dog.is_altered %>
				<%= image_tag "needs_alter.gif" %>Needs Spay or Neuter<br />
			<% end %>
			<% if @dog.is_high_priority %>
				<%= image_tag "is_high_priority.gif" %>High Priority<br />
			<% end %>
			<% if @dog.needs_photos %>
				<%= image_tag "needs_photos.gif" %>Needs Photos<br />
			<% end %>
			<% if @dog.has_behavior_problem %>
				<%= image_tag "has_behavior_problem.gif" %>Has Behavior Problem<br />
			<% end %>
			<% if @dog.needs_foster %>
				<%= image_tag "needs_foster.gif" %>Needs Foster<br />
			<% end %>
			<br />
			<% if @dog.user_id %>
				<strong>Foster for <%= time_ago_in_words(@dog.foster_start_date) %>:</strong><br />
				<%= link_to @dog.user.name, user_path(@dog.user) %><br />
				<%= @dog.user.address1 %><br />
				<%= @dog.user.city %>, <%= @dog.user.state %><br />
				<%= @dog.user.phone %><br />
			<% else %>
				<p>No Foster Assigned</p>
			<% end %>
			<br />
			<% if @dog.adopters.count > 0 %>
				<h4>Adopter Info</h4>
				<ul>
				<% @dog.adopters.each do |a| %>
					<li><%= link_to a.name, a %> - <%= a.status %></li>
				<% end %>
				</ul>
			<% end %>

			<h4>Ads</h4>
			<ul>
				<% if !@dog.petfinder_ad_url.blank? %>
					<li><%= link_to "Petfinder", @dog.petfinder_ad_url %></li>
				<% else %>
					<li><span class="label label-important">Needs Petfinder Ad</span></li>
				<% end %>
				<% if !@dog.adoptapet_ad_url.blank? %>
					<li><%= link_to "Adopt-A-Pet", @dog.adoptapet_ad_url %></li>
				<% else %>
					<li><span class="label label-important">Needs Adopt-A-Pet Ad</span></li>
				<% end %>
				<% if !@dog.craigslist_ad_url.blank? %>
					<li><%= link_to "Craigslist", @dog.craigslist_ad_url %></li>
				<% else %>
					<li><span class="label label-important">Needs Craigslist Ad</span></li>
				<% end %>
			</ul>


			<% if @dog.attachments %>
				<h4>Attachments</h4>
				<ul class="unstyled">
					<% @dog.attachments.each do |a| %>
						<li><i class="icon-file"></i><%= link_to a.attachment_file_name, a %></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>

<% if can_edit_dogs? %>
<div class="row">
	<div class="span12">
		<h4>Private Comments</h4>

		<%= form_for [@dog, @dog.comments.build], :html => {:id => "new_comment"} do |f| %>
				<%= f.text_area :content, :class => "input-xxlarge", :rows => "6" %>
			<%= f.submit "Post", :class => "btn primary" %>
		<% end %>

    <div id="comment_table">
      <table class="zebra-striped bordered-table condensed-table">
        <% @dog.comments.each do |comment| %>
            <% if comment.id != nil %>
                <%= render 'comments/comment', :comment => comment %>
              <% end %>
        <% end %>
      </table>
    </div>
	</div>
</div>
<% end %>
<script>
    $('#galleria').galleria({
    	responsive: true,
    	imageCrop: false
    });
</script>
