<h5><%= link_to "Available Dogs", dogs_path  %></h5>
<table class="profile" summary="Dog information">
	<tr>
		<td class="main">
			<h1>
				<%= @dog.name %>
			</h1>
			<h3><%= @dog.primary_breed.name %></h3>
			<div id="galleria">
				<% for photo in @dog.photos %>
					<%= link_to image_tag(photo.photo.url(:medium)), photo.photo.url(:original) %>
				<% end %>
			</div>
			<p> <%= @dog.description %></p>
		<td class="sidebar round">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<h3>About <%= @dog.name.titleize %></h3>
			<br />
			<% if can_edit_dogs? %>
				<strong><%= link_to "Edit Dog", edit_dog_path(@dog) %></strong><br />
			<% end %>
			<strong>Status:</strong> 	<%= @dog.status.titleize %><br />
			<strong>Age:</strong>   <%= @dog.age.titleize %><br />
			<strong>Size:</strong>  <%= @dog.size.titleize %><br />
			<strong>Gender:</strong>  <%= @dog.gender.titleize %><br />
			<strong>Primary Breed:</strong> <%= @dog.primary_breed.name %><br />
			<strong>Secondary Breed:</strong> <%= @dog.secondary_breed.name unless !@dog.secondary_breed %><br />
			<br / >
			<% if @dog.is_special_needs %>
				<strong>Special Needs</strong><br />
			<% end %>

			<% if @dog.no_dogs %>
				<strong>Not good with other dogs</strong><br />
			<% end %>

			<% if @dog.no_cats %>
				<strong>Not good with cats</strong><br />
			<% end %>

			<% if @dog.no_kids %>
				<strong>Not good for homes with small children</strong><br />
			<% end %>
			<div class="fb-like" data-href="<%= request.url %>" data-send="true" data-width="250" data-show-faces="false"></div>
			<br />
			<br />
			<% if can_edit_dogs? %>
			<h4>Private Information</h4>
			<h5>Foster</h5>
			<% if @dog.user %>
			<strong>Foster for <%= time_ago_in_words(@dog.foster_start_date) %>:</strong><br />
			<%= link_to @dog.user.name, user_path(@dog.user) %><br />
			<%= @dog.user.address1 %><br />
			<%= @dog.user.city %>, <%= @dog.user.state %><br />
			<%= @dog.user.phone %><br />
			<% else %>
			<p>No Foster Assigned</p>
			<% end %>
			<h4>Adopter Info</h4>
			<ul>
			<% @dog.adopters.each do |a| %>
				<li><%= link_to d.name, d %> - <%= d.status %></li>
			<% end %>
			</ul>
			<% end %>
		</td>
	</tr>
</table>

<% if can_edit_dogs? %>
<div class="row">
	<div class="span16">
		<h4>Comments</h4>

		<%= form_for [@dog, @dog.comments.build] do |f| %>
				<%= f.text_area :content, :class => "xxlarge", :rows => "3" %>
			<%= f.submit "Post", :class => "btn primary" %>
		<% end %>

		<table class="zebra-striped bordered-table condensed-table">
			<% @dog.comments.each do |comment| %>
					<% if comment.id != nil %>
	    				<%= render 'comments/comment', :comment => comment %>
	    			<% end %>
			<% end %>
		</table>
	</div>
</div>
<% end %>
<script>
    $('#galleria').galleria({
        width:500,
        height:500
    });
</script>