<table class="profile" summary="Dog information">
	<tr>
		<td class="main">
			<h1>
				<%= @dog.name %>
			</h1>
			<h3><%= @dog.primary_breed.name %></h3>
			<div class="thumb">
				<% for photo in @dog.photos %>
					<%= link_to image_tag(photo.photo.url(:medium)), photo.photo.url(:original) %>
				<% end %>
			</div>
			<p> <%= @dog.description %></p>
		<td class="sidebar round">	
			<strong>Status:</strong> 	<%= @dog.status %><br />
			<strong><%= link_to "Edit Dog", edit_dog_path(@dog) %></strong><br />
			<strong>Age:</strong>   <%= @dog.age %></br>
			<strong>Size:</strong>  <%= @dog.size %></br>
			<strong>Gender:</strong>  <%= @dog.gender %></br>
		</td>
	</tr>
</table>