<tr>
  <td>
    <%= link_to folder_path(folder) do %>
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      <span><%= folder.name %></span>
    <% end %>
  </td>
  <td><%= folder.description %></td>
  <% if params[:search] %>
    <td>
      <ul>
        <% folder.attachments.each do |a| %>
          <% if a.attachment_file_name %>
            <li> <%= link_to(a.attachment_file_name,
                             a.download_url) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </td>
  <% end %>
  <td><%= folder.created_at.strftime("%B %d, %Y") %></td>
  <td>
    <% if folder.locked %>
      <i class="fa fa-lock">
    <% else %>
      <i class="fa fa-unlock">
    <% end %>
  </td>
</tr>
