<div class="row ml-2">
  <div class="col-12">
    <%= form_for @folder, :html=> { :multipart => true, :class => "form-horizontal"  } do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <fieldset>
        <div class="form-group">
          <label for="folder_name">Folder Name</label>
          <%= f.text_field :name, :class => "col-8 col-sm-4 col-md-3 form-control" %>
        </div>
        <div class="form-group">
          <label for="folder_locked">Folder Permissions</label>
          <div class="form-check">
            <%= f.radio_button :locked, :true, :class => "form-check-input" %>
            <label class="form-check-label" for="folder_locked_true"><i class="fa fa-lock"></i> Restricted Folder</label>
          </div>
          <div class="form-check">
            <%= f.radio_button :locked, :false, :class => "form-check-input" %>
            <label class="form-check-label" for="folder_locked_false"><i class="fa fa-unlock"></i> Unrestricted Folder</label>
          </div>
        </div>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
      </fieldset>
    <% end %>
  </div>
</div>
