<h5><%= link_to "Staff Resources", folders_path %></h5>

<h1><i class="fa fa-folder-open"></i> <%= @folder.name  %></h1>

  <% if @folder.locked %>
    <p><i class="fa fa-lock"></i> Restricted Folder</p>
  <% else %>
    <p><i class="fa fa-unlock"></i> Unrestricted Folder</p>
  <% end %>

<% if is_admin? %>
  <p><%= link_to "Edit Folder", edit_folder_path(@folder), :class => "btn btn-primary btn-small" %></p>
<% end %>
    <table class="table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Description</th>
          <th>Uploaded By</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @folder.attachments.each do |attachment| %>
        <% if attachment.id != nil %>
          <%= render 'attachments/attachment', :attachment => attachment %>
        <% end %>
      <% end %>
      </tbody>
    </table>

<% if is_admin? %>
  <div class="actions">
    <h4>Upload a new file</h4>
  <%= form_for @folder, :html=> { :multipart => true, :class => 'form-inline' } do |f| %>

    <%= f.fields_for :attachments do |at| %>
      <% if at.object.new_record? %>
        <%= at.file_field :attachment %>
        <%= at.hidden_field :updated_by_user_id, :value => current_user.id %>
        <%= at.label :description %>
        <%= at.text_field :description %>
      <% end %>
    <% end %>
    <%= f.submit "Upload", :class => "btn btn-primary" %>
  </div>
  <% end %>
<% end %>
