<div class="container-fluid">
  <div class="row">
    <div class="col-12 ml-2">
      <h5 class="mt-3"><%= link_to "Staff Resources", folders_path %></h5>

      <h1><i class="fa fa-folder-open"></i> <%= @folder.name  %></h1>

        <% if @folder.locked %>
          <p><i class="fa fa-lock"></i> Restricted Folder</p>
        <% else %>
          <p><i class="fa fa-unlock"></i> Unrestricted Folder</p>
        <% end %>

      <% if is_admin? %>
        <p><%= link_to "Edit Folder", edit_folder_path(@folder), :id => 'edit_folder', :class => "btn btn-primary btn-small" %></p>
      <% end %>
          <table id="attachments" class="table table-striped table-bordered table-sm mb-3">
            <thead class="centered">
              <tr>
                <th colspan='2'>File Description</th>
                <th>Uploaded By</th>
                <th>Date</th>
                <th class='actions'>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% unless @folder.attachments.select(&:persisted?).empty? %>
                <%= render @folder.attachments.select(&:persisted?) %>
              <% else %>
                <h3 class="mb-2">Folder is empty</h3>
              <% end %>
            </tbody>
          </table>

      <% if is_admin? %>
        <div class="actions">
          <h4>Upload a new file</h4>
        <%= form_for @folder, :html=> { :multipart => true, :class => 'form-inline' } do |f| %>
          <%= f.fields_for :attachments do |at| %>
            <% if at.object.new_record? %>
              <%= at.file_field :attachment, id: 'folder_new_attachment_file' %>
              <%= at.hidden_field :updated_by_user_id, :value => current_user.id %>
              <%= at.label :description %>
              <%= at.text_field :description, id: 'folder_new_attachment_description', class: "form-control ml-2 mr-2" %>
            <% end %>
          <% end %>
          <%= f.submit "Upload", :id => "save_file_button", :class => "btn btn-primary" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var current_value;
  var edit_description = function(event){
    var $target = $(event.target);
    var $edit_container = $target.closest('tr').find('.description');
    current_value = $edit_container.text().trim();
    var $description_input = $("<input id='file_description' type='text' class='form-control'></input>");
    $description_input.val(current_value);
    $edit_container.text("").append($description_input);
    var $cancel = $("<span class='cancel_edit'>Cancel</span>");
    var $save = $("<span class='save_edit'>Save</span>");
    $target.closest('td').html($cancel).append($save);
    $target.closest('td').html($cancel).append($save);
  }

  var update = function(data, context){
    var new_val = data.description;
    var $container = context.closest('tr');
    $container.find('.description').html(new_val);
    $edit_container = $container.find('.edit_description_container');
    $edit_container.html("<span class='edit_description'>Edit</span>");
  }

  var edit_save = function(event){
    var $target = $(event.target);
    var description = $target.closest('tr').find('#file_description').val()
    var id = $target.closest('tr').data('id')
    var data = {attachment: { description: description }}
    var url = "<%= folder_attachment_path('ID') %>"
    url = url.replace(/ID/, id)
    $.ajax({
      type: 'patch',
      url: url,
      data: data,
      context: $target
    }).success( function(data,status,jqxhr){
      update(data,this);
    });
  }

  var edit_cancel = function(event){
    var $target = $(event.target);
    var $description_field_container = $target.closest('tr').find('.description');
    $description_field_container.html(current_value);
    var $edit_description_container = $target.closest('tr').find('.edit_description_container')
    var $edit = $("<span class='edit_description'>Edit</span>")
    $edit_description_container.html($edit)
  }

  $(function(){
    $('.attachment').on('click', '.edit_description', edit_description)
    $('.attachment').on('click', '.save_edit', edit_save)
    $('.attachment').on('click', '.cancel_edit', edit_cancel)
  })
</script>
