<h5><%= link_to "Staff Resources", folders_path %></h5>

<h1><i class="fa fa-folder-open"></i> <%= @folder.name  %></h1>

  <% if @folder.locked %>
    <p><i class="fa fa-lock"></i> Restricted Folder</p>
  <% else %>
    <p><i class="fa fa-unlock"></i> Unrestricted Folder</p>
  <% end %>

<% if is_admin? %>
  <p><%= link_to "Edit Folder", edit_folder_path(@folder), :id => 'edit_folder', :class => "btn btn-primary btn-small" %></p>
<% end %>
    <table class="table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>File Name</th>
          <th colspan='2'>Description</th>
          <th>Uploaded By</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @folder.attachments.each do |attachment| %>
        <%= render_if attachment.persisted?, attachment %>
      <% end %>
      </tbody>
    </table>

<% if is_admin? %>
  <div class="actions">
    <h4>Upload a new file</h4>
  <%= form_for @folder, :html=> { :multipart => true, :class => 'form-inline' } do |f| %>

    <%= f.fields_for :attachments do |at| %>
      <% if at.object.new_record? %>
        <%= at.file_field :attachment %>
        <%= at.hidden_field :updated_by_user_id, :value => current_user.id %>
        <%= at.label :description %>
        <%= at.text_field :description %>
      <% end %>
    <% end %>
    <%= f.submit "Upload", :class => "btn btn-primary" %>
  </div>
  <% end %>
<% end %>

<script type='text/javascript'>
  var current_value;
  var edit_description = function(event){
    var $target = $(event.target);
    var $edit_container = $target.closest('tr').find('.description');
    current_value = $edit_container.text().trim();
    var $description_input = $("<input class='attachment_description' type='text'></input>");
    $description_input.val(current_value);
    $edit_container.text("").append($description_input);
    var $cancel = $("<span class='cancel_edit'>Cancel</span>");
    var $save = $("<span class='save_edit'>Save</span>");
    $target.closest('td').html($cancel).append($save);
    $target.closest('td').html($cancel).append($save);
  }

  var edit_save = function(event){
    var $target = $(event.target);
    var description = $target.closest('tr').find('.attachment_description').val()
    var id = $target.closest('tr').data('id')
    var data = {attachment: { description: description }}
    var url = "<%= folder_attachment_path('id') %>"
    url = url.replace(/id/, id)
    $.ajax({
      type: 'patch',
      url: url,
      data: data
    });
  }

  var edit_cancel = function(event){
    var $target = $(event.target);
    var $description_field_container = $target.closest('tr').find('.description');
    $description_field_container.html(current_value);
    var $edit_description_container = $target.closest('tr').find('.edit_description_container')
    var $edit = $("<span class='edit_description'>Edit</span>")
    $edit_description_container.html($edit)
  }

  $(function(){
    $('.attachment').on('click', '.edit_description', edit_description)
    $('.attachment').on('click', '.save_edit', edit_save)
    $('.attachment').on('click', '.cancel_edit', edit_cancel)
  })
</script>
