<span class='message_group' id='<%= group_id %>'>
  <span class='group_label' id='<%= group_id %>' ><%= group_text %></span>
  <span class='filter_param' id='<%= group_id %>' ><%= value %></span>
</span>
