<div class="row">
  <div class="span8">
    <h4>Medical Summary</h4>
    <%= simple_format(@dog.medical_summary) %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h4>Behavior Summary</h4>
    <%= simple_format(@dog.behavior_summary) %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="span8">
    <h4>Add Comment</h4>

    <%= form_for [@dog, @dog.comments.build], :html => {:id => "new_comment"} do |f| %>
      <%= f.text_area :content, :class => "input-xxlarge", :rows => "6" %>
      <%= f.submit "Post", :id => "comment_submit", :class => "btn btn-primary" %>
    <% end %>

    <%= render 'changes/changes', :parent => @dog %>
  </div>
</div>
