<tr>
	<td><%= adopter.id %></td>
	<td><%= adopter.adoption_app.ready_to_adopt_dt.strftime("%m/%d/%y") %></td>
	<td></td>
	<% if params[:status] == nil  %>
		<td><%= adopter.status.titleize %></td>
	<% end %>
	<td><%= link_to adopter.name, adopter %></td>
	<td><%= adopter.city %>, <%= adopter.state %></td>
	<td>
		<% adopter.dogs.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td>
	<td>Someone</td>
	<td><%= time_ago_in_words(adopter.updated_at) %> ago</td>
	<td>Last Comment</td>
</tr>