<%= form_for @adopter, html: { class: 'form-horizontal edit-adopter' } do |f| %>
  <table class="table-striped table-bordered table-condensed">
    <tr>
      <td colspan="2">
        <a id="toggle-edit" class="btn btn-primary">Edit Address Info</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <% if @adopter.adoption_app.is_ofage == false %>
          <span class="label label-warning">Under 21</span>
        <% end %>

        <% if @adopter.adoption_app.pets_branch == "no_pets" %>
          <span class="label label-warning">First Time Dog Owner</span>
        <% end %>

        <% if @adopter.adoption_app.max_hrs_alone > 5 %>
          <span class="label label-warning"><%= @adopter.adoption_app.max_hrs_alone %> hrs alone</span> 
        <% else %>
          <span class="label label-success"><%= @adopter.adoption_app.max_hrs_alone %> hrs alone</span> 
        <% end %>

        <% if @adopter.adoption_app.current_pets_fixed == false %>
          <span class="label label-important">Current Pets not Fixed</span> 
        <% end %>

        <% if @adopter.adoption_app.current_pets_fixed == true %>
          <span class="label label-success">Current Pets Fixed</span> 
        <% end %>

        <% if @adopter.adoption_app.current_pets_uptodate == false %>
          <span class="label label-important">Current Pets Need Shots</span> 
        <% end %>

        <% if @adopter.adoption_app.current_pets_uptodate == true %>
          <span class="label label-success">Current Pets Up to Date</span> 
        <% end %>

        <% if @adopter.adoption_app.house_type == "own" %>
          <span class="label label-success">Owns Home </span> 
        <% end %>
      </td>
    </tr>
    <tr>
      <th align="right">Application Submitted</th>
      <td><%= time_ago_in_words(@adopter.created_at) %> ago</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>
        <%= f.text_field :email, class: "editable", disabled: "disabled" %>
      </td>
    </tr>
    <tr>
      <th>Primary Phone</th>
      <td><%= @adopter.phone %></td>
    </tr>
    <% if @adopter.other_phone? %>
      <tr>
        <th>Other Phone</th>
        <td><%= @adopter.other_phone %></td>
      </tr>
    <% end %>
    <tr>
      <th>Best Time to Call</th>
      <td>
        <%= @adopter.when_to_call %>
      </td>
    </tr>
    <tr>
      <th>Spouse's Name</th>
      <td><%= @adopter.adoption_app.spouse_name %></td>
    </tr>
    <tr>
      <th>Others in Household</th>
      <td><%= @adopter.adoption_app.other_household_names %></td>
    </tr>
    <tr>
      <th>Street Address</th>
      <td>
        <%= f.text_field :address1, disabled: "disabled"%>
        <br/>
        <%= f.text_field :address2, disabled: "disabled" %>
      </td>
    </tr>
    <tr>
      <th>City</th>
      <td>
        <%= f.text_field :city, disabled: "disabled" %>
      </td>
    </tr>
    <tr>
      <th>State</th>
      <td>
        <%= f.text_field :state, disabled: "disabled" %>
      </td>
    </tr>
    <tr>
      <th>Zip</th>
      <td>
        <%= f.text_field :zip, disabled: "disabled" %>
      </td>
    </tr>
    <tr>
      <th>
        Heard about us from
      </th>
      <td><%= @adopter.adoption_app.how_did_you_hear %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.submit "Save Address Info", class: "btn adopter-save", disabled: "disabled" %>
      </td>
    </tr>
  </table>
<% end %>

<hr class="separator">

<%= form_for @adopter, html: { class: 'form-horizontal' } do |f| %>
  <table class="table-striped table-bordered table-condensed">
    <tr>
      <th>Flag:
      </th>
      <td>
        <%= f.select :flag, [['Undefined', 'Undefined']].concat( Adopter::FLAGS.collect{|s| [s, s]} ) %>
      </td>
    </tr>
    <tr>
      <th>
        Assigned To:
      </th>
      <td>
        <%= f.select(:assigned_to_user_id, [['No One', 'No One']].concat( @adopter_users.collect {|u| [u.name, u.id] }), {}, { class: 'input-medium' }) %>
      </td>
    </tr>
    <tr>
      <th>Status <a href="/status_definitions" class="btn" target="_blank">?</a>
      </th>
      <td>
        <%= f.select :status, [['none', 'none']].concat( Adopter::STATUSES.collect{|s| [s, s]} ) %>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <%= f.submit "Update", class: "btn adopter-save" %>
      </td>
    </tr>
  </table>
<% end %>
