<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Landlord Name</th>
    <td><%= @adopter.adoption_app.landlord_name %></td>
  </tr>
  <tr>
    <th>Landlord's Phone</th>
    <td><%= @adopter.adoption_app.landlord_phone %></td>
  </tr>
  <tr>
    <th>Landlord's Email</th>
    <td>
      <% if @adopter.adoption_app.landlord_email.present? %>
        <%= mail_to @adopter.adoption_app.landlord_email %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Dog Restrictions at Rental</th>
    <td><%= @adopter.adoption_app.rent_dog_restrictions %></td>
  </tr>
  <tr>
    <th>Expected Rental Costs</th>
    <td><%= @adopter.adoption_app.rent_costs %></td>
  </tr>
</table>
