<tr>
	<td><%= adopter.adoption_app.ready_to_adopt_dt %></td>
	<td><%= adopter.status %></td>
	<td><%= link_to adopter.name, adopter %></td>
	<td><%= adopter.city %>, <%= adopter.state %></td>
	<td>
		<% adopter.dogs.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td>
	<td>Assigned Temp</td>
	<td>Refs</td>
	<td>Vet Temp</td>
	<td>Land Temp</td>
	<td>Interview Temp</td>
	<td>Last Update</td>
</tr>