<tr>
	<td><%= adopter.id %></td>
	<td><%= adopter.adoption_app.ready_to_adopt_dt.strftime("%m/%d/%y") unless adopter.adoption_app.ready_to_adopt_dt == nil %></td>
	<td><%= adopter.flag %></td>
	<% if (params[:status] == nil) || (params[:status] == "active")  %>
		<td><%= adopter.status.titleize %></td>
	<% end %>
	<td><%= link_to adopter.name, adopter %></td>
<!-- 	<td>
		<% adopter.dogs.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td> -->
	<td><%= truncate(adopter.dog_name, :length => 30) %></td>
	<td><%= adopter.user ? adopter.user.name : "Unassigned" %></td>
	<% if adopter.comments.first %>
	<td><%= truncate(adopter.comments.first.content, :length => 80) %></td>
	<% else %>
	<td>None</td>
	<% end %>
</tr>