<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Pet Type</th>
    <% if @adopter.dog_or_cat? %>
      <td><%= @adopter.dog_or_cat%></td>
    <% else %>
      <td>
        <%= form_for @adopter, format: :json, html: { class: 'form-horizontal' } do |f| %>
        <%= f.select :dog_or_cat, options_for_select([['Dog'], ['Cat']]) %>
        <div id="status-icon" class=""></div>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
  <th>Pet Selections</th>
  <td>
    <%= form_for @adopter, format: :json, html: { class: 'form-horizontal' } do |f| %>
      <%= f.text_area :dog_name, rows: 5, cols: 40 %>
      <div id="status-icon" class=""></div>
    <% end %>
  </td>
  </tr>
  <tr>
    <th>Pet Requirements</th>
    <td><%= @adopter.dog_reqs %></td>
  </tr>
</table>
