<div id="other_pets" class="step">
		<div class="field">
			<%= af.label :current_pets, "Please identify any current pets(name, age, breed)" %><br />
			<%= af.text_area :current_pets %>
		</div>
		<div class="field">
			<%= af.label :had_pets, "Are all your dogs/cats spayed/neutered?" %><br />
			<%= af.radio_button :current_pets_fixed, "Yes" %>Yes<br />
			<%= af.radio_button :current_pets_fixed, "No" %>No
		</div>
		<div class="field">
			<%= af.label :why_not_fixed, "If no, please explain why." %><br />
			<%= af.text_area :why_not_fixed %>
		</div>
		<div class="field">
			<%= af.label :current_pets_uptodate, "Are all your pets up to date on routine vaccines?" %><br />
			<%= af.radio_button :current_pets_uptodate, true %>Yes<br />
			<%= af.radio_button :current_pets_uptodate, false %>No
		</div>
		<div class="field">
			<%= af.label :current_pets_uptodate_why, "If no, please explain why." %><br />
			<%= af.text_area :current_pets_uptodate_why %>
		</div>
		<div class="field">
			<%= af.label :prior_pets, "Please identify any other pets you have had in the past 10 years, and why they are no longer with you." %><br />
			<%= af.text_area :prior_pets %>
		</div>
		<h5>Please provide the name and number of a veterinarian who has seen these pets.</h5>
		
		<div class="field">
			<%= af.label :vet_name, "Veterinarian Name" %><br />
			<%= af.text_field :vet_name %>
		</div>
		<div class="field">
			<%= af.label :vet_phone, "Veterinarian Phone" %><br />
			<%= af.text_field :vet_phone %>
		</div>
		<p>Call your vet and  give permission to release your pet records to Operation Paws for Homes.</p>
</div>