	<div class="field">
		<%= f.check_box :pre_q_age %>
		<%= f.label :pre_q_age, "I am at least 21 years old."%>
	</div>
	<div class="field">
		<%= f.check_box :pre_q_commited %>
		<%= f.label :pre_q_commited, "Everyone in my household is commited to adopoting a new family member."%>
	</div>
	<div class="field">
		<%= f.check_box :pre_q_costs %>
		<%= f.label :pre_q_costs, raw("I have reviewed the <a href='http://www.ophrescue.org/page2.php' target= '_blank'>costs of adopting</a>.") %>
	</div>
	<div class="field">
		<%= f.check_box :pre_q_meds %>
		<%= f.label :pre_q_meds, "I understand that my new pet will be required to be on monthly flea and heartworm prevention medications."%>
	</div>
	<div class="field">
		<%= f.check_box :pre_q_surrender %>
		<%= f.label :pre_q_surrender, "In the event I am unable to keep the dog, I will contact OPH to assist in rehoming or returning to dog to the rescue."%>
	</div>
	<div class="field">
		<%= f.check_box :pre_q_abuse %>
		<%= f.label :pre_q_abuse, "I have never been convicted of animal abuse."%>
	</div>