<div class="row">
  <div class="span12">
    <h1><%= I18n.t('title.adopters.index') %></h1>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">My Apps</a></li>
      <li><a href="#">Open Apps</a></li>
      <li><a href="#">All Apps</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <% Adopter::STATUSES.each do |status| %>
        <% if status == params[:status] %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
      <%= link_to status.titleize, :controller => "adopters", :status => status %>
      </li>
    <% end %>
      <% if params[:status] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
      <%= link_to "All", adopters_path %>
      </li>
      <% if params[:status] == "active" %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
      <%= link_to "Active", :controller => "adopters", :status => "active" %>
      </li>
    </ul>
  </div>
</div>

<%= form_tag adopters_path, :method => 'get' do %>
  <p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<% if @adopters.any? %>
  <%= will_paginate @adopters %>

  <table class="table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "ready_to_adopt_dt", "RTA" %></th>
      <% if (params[:status] == nil) || (params[:status] == "active")%>
        <th>Status</th>
    <% end %>
      <th><%= sortable "name" %></th>
      <th><%= sortable "dogs" %></th>
      <th><%= sortable "assigned_to" %></th>
      <th><%= sortable "comments.first.updated_at","Last Comment Date" %></th>
      <th>Last Comment</th>
    </tr>
  </thead>
  <tbody id="adopters">
    <%= render @adopters %>
  </tbody>
</table>

<%= will_paginate @adopters %>
<% else %>
  <h3>No Records Found</h3>
<% end %>


