<%= form_for(@adopter) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
	<div id="fieldWrapper">
	<%= render 'preq', :f => f %>

	<%= render 'contact', :f => f %>
	
	<%= f.fields_for :adoption_app do |af| %>

		<%= render 'your_home', :af => af %>

		<%= render 'rental', :af => af %>

		<%= render 'your_home2', :af => af %>

		<%= render 'other_pets', :af => af %>

		<%= render 'new_dog_q', :af => af %>
	<% end %>
	</div>
	<div id="Navigation"class="actions">
		<input class="navigation_button" id="back" value="Back" type="reset" />
		<%= f.submit "Submit", :id =>"next", :class=>"navigation_button" %>
	</div>
<% end %>