<h1><%= @adopter.name %></h1>
<h2><%= @adopter.status %></h2>

<h3>Contact Information</h3>
<table class="zebra-striped bordered-table condensed-table">
	<tr>
		<th>application submitted</th>
		<td><%= @adopter.created_at %></td>
	<tr>
		<th>email</th>
		<td><%= @adopter.email %></td>
	</tr>
	<tr>
		<th>phone</th>
		<td><%= @adopter.phone %></td>
	</tr>
	<tr>
		<th>best time to contact</th>
		<td>
			<%= @adopter.when_to_call %>
		</td>
	</tr>
	<tr>
		<th>address</th>
		<td>
			<address>
				<%= @adopter.address1 %><br />
				<% if @adopter.address2? %>
					<%= @adopter.address2 %><br />
				<% end %>
				<%= @adopter.city %>, 
				<%= @adopter.state %> 
				<%= @adopter.zip %>
			</address>
		</td>
	</tr>
</table>


<h3>Dog Choices</h3>

<table class="zebra-striped bordered-table condensed-table">
	<tr>
		<th>Ready to Adopt Date</th>
		<td>
			<%= @adopter.adoption_app.ready_to_adopt_dt %>
		</td>
	</tr>
	<th>Dog Selections</th>
	<td>
		<% @adopter.dogs.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td>
	<tr>
		<th>Dog Requirements</th>
		<td><%= @adopter.dog_reqs %></td>
	</tr>
</table>

<% if @adopter.adoption_app.house_type == 'rent' %>
	<h3>Rental Info</h3>
	<table>
		<tr>
			<th>landlord_name</th>
			<td><%= @adopter.adoption_app.landlord_name %></td>
		</tr>
		<tr>
			<th>landlord_phone</th>
			<td><%= @adopter.adoption_app.landlord_phone %></td>
		</tr>
		<tr>
			<th>rent_dog_restrictions</th>
			<td><%= @adopter.adoption_app.rent_dog_restrictions %></td>
		</tr>
		<tr>
			<th>rent_dog_restrictions</th>
			<td><%= @adopter.adoption_app.rent_dog_restrictions %></td>
		</tr>
		<tr>
			<th>why_adopt</th>
			<td><%= @adopter.why_adopt %></td>
		</tr>			
	</table>
<% else %>
	<h3>Adopter Owns Home</h3>
<% end %>

<h3>Household Info</h3>
<table class="zebra-striped bordered-table condensed-table">
	<tr>
		<th>spouse's name</th>
		<td><%= @adopter.adoption_app.spouse_name %></td>
	</tr>
	<tr>
		<th>other_household_names</th>
		<td><%= @adopter.adoption_app.other_household_names %></td>
	</tr>
</table>

<h3>Pet Ownership</h3>
<table class="zebra-striped bordered-table condensed-table">
	<tr>
		<th>Dog Exercise</th>
		<td><%= @adopter.adoption_app.dog_exercise %></td>
	</tr>
	<tr>
		<th>When away, dog will stay: </th>
		<td><%= @adopter.adoption_app.dog_stay_when_away %></td>
	</tr>
	<tr>
		<th>Max Hours alone</th>
		<td><%= @adopter.adoption_app.max_hrs_alone %></td>
	</tr>
	<tr>
		<th>dog_vacation</th>
		<td><%= @adopter.adoption_app.dog_vacation %></td>
	</tr>
	<tr>
		<th>surrender_pet_causes</th>
		<td><%= @adopter.adoption_app.surrender_pet_causes %></td>
	</tr>
	<tr>
		<th>training_explain</th>
		<td><%= @adopter.adoption_app.training_explain %></td>
	</tr>
	<tr>
		<th>surrendered_pets</th>
		<td><%= @adopter.adoption_app.surrendered_pets %></td>
	</tr>
</table>

<% if @adopter.adoption_app.pets_branch == 'no_pets' %>
<h3>No Other Pets</h3>

<% else %>
<h3>Other Pets</h3>

<table class="zebra-striped bordered-table condensed-table">
<tr>
	<th>current_pets</th>
	<td><%= @adopter.adoption_app.current_pets %></td>
</tr>
<tr>
	<th>current_pets_fixed</th>
	<td><%= @adopter.adoption_app.current_pets_fixed %></td>
</tr>
<tr>
	<th>why_not_fixed</th>
	<td><%= @adopter.adoption_app.why_not_fixed %></td>
</tr>
<tr>
	<th>current_pets_uptodate</th>
	<td><%= @adopter.adoption_app.current_pets_uptodate %></td>
</tr>
<tr>
	<th>current_pets_uptodate_why</th>
	<td><%= @adopter.adoption_app.current_pets_uptodate_why %></td>
</tr>
<tr>
	<th>vet_info</th>
	<td><%= @adopter.adoption_app.vet_info %></td>
</tr>
</table>
<% end %>

<h3>References</h3>
<table class="zebra-striped bordered-table condensed-table">
	<thead>
		<th>name</th>
		<th>phone</th>
		<th>email</th>
		<th>relationship</th>
	</thead>
	<%= render @adopter.references, :target => @adopter %>
</table>


<h3>Private Notes</h3>

