
<h5><%= link_to "Adoption Applications", "/adopters"  %></h5>
<div class="row">
	<div class="span6">

		<h2><%= @adopter.name %></h2>
	</div>
	<div class="span8 offset1">
		<ul class="tabs">
			<li class="active"><a href="#dog">Dog Choices</a></li>
			<li><a href="#doginfo">Dog Info</a></li>
			<% if @adopter.adoption_app.pets_branch == 'other_pets' %>
				<li><a href="#otherpets">Pet Vet</a></li>
			<% end %>
			<% if @adopter.adoption_app.house_type == 'rent' %>
				<li><a href="#rental">Rental</a></li>
			<% end %>
			<li><a href="#references">References</a></li>
		</ul>
	</div>
</div>


<div class="row">
	<div class="span6">
		<table class="zebra-striped bordered-table condensed-table">
			<tr>
				<td colspan="2">
				<% if @adopter.adoption_app.is_ofage == false %>
					<span class="label warning">Under 21</span>
				<% end %>

				<% if @adopter.adoption_app.pets_branch == "no_pets" %>
					<span class="label warning">First Time Dog Owner</span>
				<% end %>

				<% if @adopter.adoption_app.max_hrs_alone > 5 %>
					<span class="label warning"><%= @adopter.adoption_app.max_hrs_alone %> hrs alone</span> 
				<% else %>
					<span class="label success"><%= @adopter.adoption_app.max_hrs_alone %> hrs alone</span> 
				<% end %>

				<% if @adopter.adoption_app.current_pets_fixed == false %>
					<span class="label important">Current Pets not Fixed</span> 
				<% end %>

				<% if @adopter.adoption_app.current_pets_fixed == true %>
					<span class="label success">Current Pets Fixed</span> 
				<% end %>

				<% if @adopter.adoption_app.current_pets_uptodate == false %>
					<span class="label important">Current Pets Need Shots</span> 
				<% end %>

				<% if @adopter.adoption_app.current_pets_uptodate == true %>
					<span class="label success">Current Pets Up to Date</span> 
				<% end %>

				<% if @adopter.adoption_app.house_type == "own" %>
					<span class="label success">Owns Home </span> 
				<% end %>
				</td>
			</tr>
			<tr>
				<th>Application Submitted</th>
				<td><%= time_ago_in_words(@adopter.created_at) %> ago</td>
			</tr>
			<tr>
				<th>E-mail</th>
				<td><%= @adopter.email %></td>
			</tr>
			<tr>
				<th>Primary Phone</th>
				<td><%= @adopter.phone %></td>
			</tr>
			<% if @adopter.other_phone? %>
			<tr>
				<th>Other Phone</th>
				<td><%= @adopter.other_phone %></td>
			</tr>
			<% end %>
			<tr>
				<th>Best Time to Call</th>
				<td>
					<%= @adopter.when_to_call %>
				</td>
			</tr>
			<tr>
				<th>Spouse's Name</th>
				<td><%= @adopter.adoption_app.spouse_name %></td>
			</tr>
			<tr>
				<th>Others in Household</th>
				<td><%= @adopter.adoption_app.other_household_names %></td>
			</tr>
			<tr>
				<th>Address</th>
				<td>
					<address>
						<%= @adopter.address1 %><br />
						<% if @adopter.address2? %>
							<%= @adopter.address2 %><br />
						<% end %>
						<%= @adopter.city %>, 
						<%= @adopter.state %> 
						<%= @adopter.zip %>
					</address>
				</td>
			</tr>
			<tr>
				<th>
					Heard about us from
				</th>
				<td><%= @adopter.adoption_app.how_did_you_hear %></td>
			</tr>
			<tr>
				<th>Flag:
				</th>
				<td>
					<%= form_for @adopter, :remote => true, :url => { :controller => "adopters", :action => "update" }  do |ff| %>
					<%= ff.hidden_field('id', :value => @adopter.id) %>
					<%= ff.select(:flag, Adopter::FLAGS, {:include_blank => "No Flag"}, {:onchange => "this.form.submit();"}) %>
					<% end %>
				</td>
			</tr>
			<tr>
				<th>
					Assigned To:
				</th>
				<td> 
				<%= form_for @adopter, :remote => true, :url => { :controller => "adopters", :action => "update" }  do |af| %>
				<%= af.hidden_field('id', :value => @adopter.id) %>
				<%= af.collection_select(:assigned_to_user_id, @adopter_users, :id, :name, {:include_blank => "Unassigned" },{ :onchange => "this.form.submit();" }) %>
				<% end %>
				</td>
			</tr>

			<tr>
				<th>Status
				</th>
				<td>
				<%= form_for @adopter, :remote => true, :url => { :controller => "adopters", :action => "update" }  do |sf| %>
				<%= sf.hidden_field('id', :value => @adopter.id) %>
				<%= sf.select(:status, Adopter::STATUSES, {}, {:onchange => "this.form.submit();"}) %>
				<% end %>
				</td>
			</tr>
		</table>
	</div>


	<div class="span8 offset1">
		<div class="pill-content">

			<div id="dog" class="active">

				<table class="zebra-striped bordered-table condensed-table">
					<tr>
						<th>Ready to Adopt Date <br />(YYYY-MM-DD)</th>
						<td><%= image_tag("pencil_go.png") %>
							<%= best_in_place @adoption_app, :ready_to_adopt_dt %>
						</td>
					</tr>
					<th>Dog Selections</th>
<!-- 					<td>
						<% @adopter.dogs.each do |d| %>
							<%= link_to d.name, d %>
							(<%= d.status %>)
							<br />
						<% end %>
					</td> -->
					<td><%= image_tag("pencil_go.png") %><%= best_in_place @adopter, :dog_name %></td>
					<tr>
						<th>Dog Requirements</th>
						<td><%= @adopter.dog_reqs %></td>
					</tr>
					<tr>
						<th>Why Adopt</th>
						<td><%= @adopter.why_adopt %></td>
					</tr>
				</table>
			</div>


			<div id="doginfo">
				<table class="zebra-striped bordered-table condensed-table">
					<tr>
						<th>Dog Exercise</th>
						<td><%= @adopter.adoption_app.dog_exercise %></td>
					</tr>
					<tr>
						<th>When away, dog will stay: </th>
						<td><%= @adopter.adoption_app.dog_stay_when_away %></td>
					</tr>
					<tr>
						<th>Max Hours alone</th>
						<td><%= @adopter.adoption_app.max_hrs_alone %></td>
					</tr>
					<tr>
						<th>Dealing with Dog and Vacation</th>
						<td><%= @adopter.adoption_app.dog_vacation %></td>
					</tr>
					<tr>
						<th>Surrendered Pet Causes</th>
						<td><%= @adopter.adoption_app.surrender_pet_causes %></td>
					</tr>
					<tr>
						<th>Would you use training?</th>
						<td><%= @adopter.adoption_app.training_explain %></td>
					</tr>
					<tr>
						<th>Surrendered Pets?</th>
						<td><%= @adopter.adoption_app.surrendered_pets %></td>
					</tr>
				</table>
			</div>

			<div id="references">

				<table class="zebra-striped bordered-table condensed-table">
					<thead>
						<th>Name</th>
						<th>Phone</th>
						<th>E-mail</th>
						<th>Relationship</th>
						<th>When to Call</th>
					</thead>
					<%= render @adopter.references, :target => @adopter %>
				</table>
			</div>

			<div id="rental">

				<table class="zebra-striped bordered-table condensed-table">
					<tr>
						<th>Landlord Name</th>
						<td><%= @adopter.adoption_app.landlord_name %></td>
					</tr>
					<tr>
						<th>Landlord's Phone</th>
						<td><%= @adopter.adoption_app.landlord_phone %></td>
					</tr>
					<tr>
						<th>Dog Restrictions at Rental</th>
						<td><%= @adopter.adoption_app.rent_dog_restrictions %></td>
					</tr>
					<tr>
						<th>Expected Rental Costs</th>
						<td><%= @adopter.adoption_app.rent_costs %></td>
					</tr>
				</table>
			</div>


			<div id='otherpets'>

				<h3>Other Pets</h3>

				<table class="zebra-striped bordered-table condensed-table">
					<tr>
						<th>Current Pets</th>
						<td><%= @adopter.adoption_app.current_pets %></td>
					</tr>
					<tr>
						<th>Vet Info</th>
						<td><%= @adopter.adoption_app.vet_info %></td>
					</tr>
					<tr>
						<th>Are current pets fixed?</th>
						<td><%= @adopter.adoption_app.current_pets_fixed %></td>
					</tr>
					<tr>
						<th>Why not fixed?</th>
						<td><%= @adopter.adoption_app.why_not_fixed %></td>
					</tr>
					<tr>
						<th>Are current pets up to date on shots?</th>
						<td><%= @adopter.adoption_app.current_pets_uptodate %></td>
					</tr>
					<tr>
						<th>Why not up to date</th>
						<td><%= @adopter.adoption_app.current_pets_uptodate_why %></td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="span16">
		<h4>Comments</h4>

		<%= form_for [@adopter, @adopter.comments.build] do |f| %>
				<%= f.text_area :content, :class => "xxlarge", :rows => "3" %>
			<%= f.submit "Post", :class => "btn primary" %>
		<% end %>

		<table class="zebra-striped bordered-table condensed-table">
			<% @adopter.comments.each do |comment| %>
					<% if comment.id != nil %>
	    				<%= render 'comments/comment', :comment => comment %>
	    			<% end %>
			<% end %>
		</table>

	</div>

</div>

<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>

