<%= render 'shared/error_messages', :object => @adopter %>

<h5 class="ml-3 mt-3"><%= link_to "Adoption Applications", session[:last_search] %></h5>

<div class="row container-fluid">
  <div class="col-md-5">
    <h2><%= @adopter.name %></h2>
  </div>

  <div class="col-md-6 offset-1"></div>
</div>

<div class="row container-fluid">
  <div class="col-md-4">
    <%= render 'adopter_form' %>
  </div>

  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li class="active nav-link"><a href="#dog" data-toggle="tab">Pet Choices</a></li>
      <li><a class="nav-link" href="#doginfo" data-toggle="tab">Pet Info</a></li>
      <li><a class="nav-link" href="#otherpets" data-toggle="tab">Pet Vet</a></li>
      <li><a class="nav-link" href="#housing" data-toggle="tab">Housing</a></li>
      <li><a class="nav-link" href="#references" data-toggle="tab">References</a></li>
    </ul>

    <div class="pill-content">
      <div class="tab-content">
        <div id="dog" class="tab-pane active">
          <div>
            <div>
              <%= render 'dog_choices' %>
            </div>
          </div>

          <h3>Dogs</h3>
          <%= render 'associated_dogs_form' %>

          <div id="parent_linked_dogs_table">
            <div id="linked_dogs_table" class="row">
              <% @adopter.adoptions.find_each do |adp| %>
                <div class="col-md-6">
                  <%= form_for adp, html: {method: :put}, format: :json do |f| %>
                    <%=  link_to adp.dog.name, dogs_manager_path(adp.dog) %>
                    (<%= adp.dog.status %>),
                    <%= @adopter.name %> status with this dog is
                    <%= f.select :relation_type, options_for_select(Adoption::RELATION_TYPE.collect{|s| [s, s]}, adp.relation_type), {}, class: 'input-medium' %>
                    <div id="status-icon"></div>
                  <% end %>
                  <% if adp.invoices.present? %>
                    <% adp.invoices.find_each do |inv| %>
                    <i class="icon-file"></i><%= link_to "Adoption Invoice for #{adp.dog.name}", invoice_path(inv) %> - <%= inv.status %> <%= inv.paid_at.strftime("%m/%d/%Y") unless inv.paid_at.blank? %> - contract <%= "not " unless inv.contract_received_at %> received <%= inv.contract_received_at.strftime("%m/%d/%Y") unless inv.contract_received_at.blank? %>
                    <% end %>
                  <% else %>
                    <%= link_to "Create Invoice for #{adp.dog.name}", new_adoption_invoice_path(adp), class: "btn btn-small" %>
                  <% end %>
                </div>
                <div class="col-md-1">
                  <% if adp.invoices.blank? %>
                    <%= form_for adp, html: {id: "delete_dog_link", class: "delete_adoption"}, method: :delete do |f| %>
                      <%= f.submit "X", class: "btn btn-danger btn-small" %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

          <h3 class="mt-3">Cats</h3>
          <%= render 'associated_cats_form' %>

          <div id="parent_linked_cats_table">
            <div id="linked_cats_table" class="row">
              <% @adopter.cat_adoptions.find_each do |adp_cat| %>
                <div class="col-md-6">
                  <%= form_for adp_cat, html: {method: :put}, format: :json do |f| %>
                    <%=  link_to adp_cat.cat.name, cats_manager_path(adp_cat.cat) %>
                    (<%= adp_cat.cat.status %>),
                    <%= @adopter.name %> status with this cat is
                    <%= f.select :relation_type, options_for_select(CatAdoption::RELATION_TYPE.collect{|s| [s, s]}, adp_cat.relation_type), {}, class: 'input-medium' %>
                    <div id="status-icon"></div>
                  <% end %>
                  <% if adp_cat.invoices.present? %>
                    <% adp_cat.invoices.find_each do |inv| %>
                      <i class="icon-file"></i><%= link_to "Adoption Invoice for #{adp_cat.cat.name}", invoice_path(inv) %> - <%= inv.status %> <%= inv.paid_at.strftime("%m/%d/%Y") unless inv.paid_at.blank? %> - contract <%= "not " unless inv.contract_received_at %> received <%= inv.contract_received_at.strftime("%m/%d/%Y") unless inv.contract_received_at.blank? %>
                    <% end %>
                  <% else %>
                    <%= link_to "Create Invoice for #{adp_cat.cat.name}", new_cat_adoption_invoice_path(adp_cat), class: "btn btn-small" %>
                  <% end %>
                </div>
                <div class="col-md-1">
                  <%= form_for adp_cat, html: {id: "delete_cat_link", class: "delete_cat_adoption"}, method: :delete do |f| %>
                    <%= f.submit "X", class: "btn btn-danger btn-small" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>

        <div id="doginfo" class="tab-pane">
          <%= render 'adopter_dog_info' %>
        </div>

        <div id="references" class="tab-pane">
          <div>
            <div>
              <%= render 'adopter_references' %>
            </div>
          </div>
        </div>

        <div id="housing" class="tab-pane">
          <%= render 'adopter_housing' %>
        </div>

        <div id='otherpets' class="tab-pane">
          <%= render 'adopter_other_pets_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @adoption_app, :html=> { :multipart => true } do |f| %>
  <div class="row container-fluid">
    <div class="col-md-12">
      <h2 class="ml-3 mt-3">Documents</h2>
      <div class="col-md-5">
        <h3>New Documents</h3>
        <div class="form-group">
          <%= f.fields_for :attachments do |af| %>
            <% if af.object.new_record? %>
              <%= af.file_field :attachment %><br />
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <h3>Existing Documents</h3>
          <%= f.fields_for :attachments do |af| %>
            <% if af.object.persisted? %>
              <div class="form-group">
                <label for="delAttachment">
                  <i class="icon-file"></i><%= link_to af.object.attachment_file_name, af.object.download_url %>
                </label>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="ml-3">
    <div class="col-md-12">
      <%= f.submit "Update Documents", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="col-md-12">

    <h4 class="ml-1 mt-3">Add Comment</h4>
    <%= render 'adopter_comment_form' %>

    <%= render 'changes/changes', parent: @adopter, device: '' %>

  </div>
</div>

<script>
  $(function() {
      $('#linked_dogs_table')
        .on('change', 'select#adoption_relation_type', RescueRails.saveParentForm);
   });

  $(function() {
      $('#linked_cats_table')
        .on('change', 'select#cat_adoption_relation_type', RescueRails.saveParentForm);
   });
</script>
