<h5><%= link_to "Adoption Applications", session.delete(:return_to)  %></h5>

<div class="row">
  <div class="span5">
    <h2><%= @adopter.name %></h2>
  </div>

  <div class="span6 offset1"></div>
</div>

<div class="row">
  <div class="span4">
    <%= render 'adopter_form' %>
  </div>

  <div class="span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#dog" data-toggle="tab">Dog Choices</a></li>
      <li><a href="#doginfo" data-toggle="tab">Dog Info</a></li>
      <% if @adopter.adoption_app.pets_branch == 'other_pets' %>
        <li><a href="#otherpets" data-toggle="tab">Pet Vet</a></li>
      <% end %>
      <% if @adopter.adoption_app.house_type == 'rent' %>
        <li><a href="#rental" data-toggle="tab">Rental</a></li>
      <% end %>
      <li><a href="#references" data-toggle="tab">References</a></li>
    </ul>

    <div class="pill-content">
      <div class="tab-content">
        <div id="dog" class="tab-pane active">
          <div class="row">
            <div class="span3">
              <%= render 'dog_choices' %>
            </div>
          </div>

          <h3>Dogs</h3>
          <%= render 'associated_dogs_form' %>

          <div id="linked_dogs_table" class="row">
            <% @adopter.adoptions.find_each do |adp| %>
              <div class="span6">
                <%= form_for adp, html: {method: :put}, format: :json do |f| %>
                  <%=  link_to adp.dog.name, adp.dog %>
                  (<%= adp.dog.status %>), 
                  <%= @adopter.name %> status with this dog is 
                  <%= f.select :relation_type, options_for_select(Adoption::RELATION_TYPE.collect{|s| [s, s]}, adp.relation_type), {}, class: 'input-medium' %>
                  <div id="status-icon"></div>
                <% end %>
              </div>
              <div class="span1">
                <%= form_for adp, html: {id: "delete_dog_link", class: "delete_adoption"}, method: :delete do |f| %>
                  <%= f.submit "X", class: "btn btn-danger btn-small" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div id="doginfo" class="tab-pane">
          <%= render 'adopter_dog_info' %>
        </div>

        <div id="references" class="tab-pane">
          <%= render 'adopter_references' %>
        </div>

        <div id="rental" class="tab-pane">
          <%= render 'adopter_rental' %>
        </div>

        <div id='otherpets' class="tab-pane">
          <%= render 'adopter_other_pets' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">

    <h4>Add Comment</h4>
    <%= render 'adopter_comment_form' %>

    <h4>Past Comments</h4>
    <div id="comment_table">
      <%= render 'adopter_comments' %>
    </div>

  </div>
</div>

<script>
  $(function() {
    $('select#adoption_relation_type').live('change', RescueRails.saveParentForm);
   });
</script>
