<%= form_for @bulletin, url: @bulletin.new_record? ? bulletins_path : bulletin_path(@bulletin), :html=> { multipart: true, id: "post_form", class: "container form-horizontal needs-validation", autocomplete: 'off', novalidate: true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="form-group">
    <%= f.label :title, nil, class: 'col-form-label col-form-label-sm col-2 required' %>
    <%= f.text_field :title, class: "form-control form-control-sm col-4", required: true, 'data-bootstrap41': true, maxlength: 255 %>
    <%= f.bootstrap_errors :title, class: 'col-sm-12 offset-2'  %>
  </div>

  <div class="form-group">
    <%= f.label :content, nil, class: 'col-form-label col-form-label-sm col-2 required' %>
    <%= f.text_area :content, class: "form-control form-control-sm col-6", :rows => "20", required:true %>
    <span class="form-text text-muted col-10">Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>!</span>
    <%= f.bootstrap_errors :content, class: 'col-sm-12 offset-2'  %>
  </div>

  <%= submit_or_return_to(f, bulletins_path) %>

<% end %>
