<tr>
  <td><%= link_to user.name, user %></td>
  <% if params[:translator] %>
    <td> <%= user.known_languages %> </td>
  <% end %>
  <td><%= user.duties %></td>
  <td><span class="tel value"><%= user.phone %></span></td>
  <td><%= user.city %>, <%= user.state %></td>
  <% if params[:foster_mentor] == 'true' %>
    <td>
      <% user.mentees.each do |m| %>
        <%= link_to m.name, m %>
        <br/>
      <% end %>
    </td>
  <% end %>
</tr>
