<tr>
	<td><%= gravatar_for user, :size => 50 %></td>
	<td><%= link_to user.name, user %></td>
	<td><%= user.title %></td>
	<td><%= user.email %></td>
	<td><%= user.phone %></td>
	<td><%= user.city %>, <%= user.state %></td>
	<td>
		<% user.foster_dogs.each do |d| %>
			<%= link_to d.name, d %>
			(<%= d.status %>)
			<br />
		<% end %>
	</td>
</tr>