<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %> 
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>	
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">change</a>
</div>