<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :email %>
		<div class="input">
		<%= f.text_field :email %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :password %>
		<div class="input">
			<%= f.password_field :password %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :password_confirmation %>
		<div class="input">
			<%= f.password_field :password_confirmation %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Update", :class => "btn primary" %>
	</div>	
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">change</a>
</div>