<h1><%= @title %></h1>
<% if is_admin? %>
<p>
<%= link_to "Create new Staff Account", new_user_path %>
</p>
<% end %>
<%= will_paginate @users %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate @users %>