<h1><%= I18n.t('title.users.index') %></h1>

<% if is_admin? %>
  <p>
  <%= link_to "Create new Staff Account", new_user_path, :class => "btn btn-primary" %>
  </p>
<% end %>

<%= form_tag users_path, :method => 'get', :class => 'form-inline' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search by Name or Email' %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag users_path, :method => 'get',  :class => 'form-inline'  do %>
  <%= label_tag :location, 'Find active volunteers near' %>
  <%= text_field_tag :location, params[:location], :placeholder => 'City, State or Zip...' %>
  <%= submit_tag "Locate", :name => nil %>
<% end %>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:admin] %>">
    <%= link_to "Admins", users_path(:admin => true) %>
  </li>
  <li class="<%= 'active' if params[:adoption_coordinator] %>">
    <%= link_to "Adoptions", users_path(:adoption_coordinator => true) %>
  </li>
  <li class="<%= 'active' if params[:event_planner] %>">
    <%= link_to "Events", users_path(:event_planner => true) %>
  </li>
  <li class="<%= 'active' if params[:dog_adder] %>">
    <%= link_to "Add Dogs", users_path(:dog_adder => true) %>
  </li>
  <li class="<%= 'active' if params[:dog_editor] %>">
    <%= link_to "Edit Dogs", users_path(:dog_editor => true) %>
  </li>
  <li class="<%='active' if params[:graphic_designer] %>">
    <%= link_to 'Graphic Designers', users_path(:graphic_designer => true) %>
  </li>
  <li class="<%= 'active' if params[:photographer] %>">
    <%= link_to "Photographers", users_path(:photographer => true) %>
  </li>
  <li class="<%= 'active' if params[:newsletter] %>">
    <%= link_to "Newsletter", users_path(:newsletter => true) %>
  </li>
  <li class="<%= 'active' if params[:foster] %>">
    <%= link_to "Fosters", users_path(:foster => true) %>
  </li>
  <li class="<%= 'active' if params[:transporter] %>">
    <%= link_to "Transporter", users_path(:transporter => true) %>
  </li>
  <li class="<%= 'active' if params[:training_team] %>">
    <%= link_to "Training", users_path(:training_team => true) %>
  </li>
  <li class="<%= 'active' if params[:public_relations] %>">
    <%= link_to "Public Relations", users_path(:public_relations => true) %>
  </li>
  <li class="<%= 'active' if params[:social_media] %>">
    <%= link_to "Social Media", users_path(social_media: true) %>
  </li>
  <li class="<%= 'active' if params[:fundraising] %>">
    <%= link_to "Fundraising", users_path(:fundraising => true) %>
  </li>
  <li class="<%= 'active' if params[:foster_mentor] %>">
    <%= link_to "Foster Mentor", users_path(:foster_mentor => true) %>
  </li>
  <li class="<%= 'active' if params[:translator] %>">
    <%= link_to "Translators", users_path(translator: true) %>
  </li>
  <li class="<%='active' if  params[:medical_behavior] %>">
    <%= link_to "Medical/Behavior Managers", users_path(medical_behavior: true) %>
  </li>
  <li class="<%= 'active' if params[:boarding_buddy] %>">
    <%= link_to "Boarding Buddies", users_path(boarding_buddy: true) %>
  </li>
  <li class="<%='active' if params[:active_volunteer] %>">
    <%= link_to "Active Volunteers", users_path(active_volunteer: true) %>
  </li>
  <li class="<%='active' if params[:not_active_volunteer] %>">
    <%= link_to "Inactive Volunteers", users_path(inactive_volunteer: false) %>
  </li>
</ul>

<% if params[:foster] == 'true' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= render 'foster_filters' %>
      </div>
      <div class="span10">
        <%= render 'user_table' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'user_table' %>
<% end %>

<%= will_paginate @users %>
