<h1><%= @title %></h1>

<%= form_tag users_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  <%= link_to ' Clear Search', users_path %>
  </p>
<% end %>

<% if is_admin? %>
  <p>
  <%= link_to "Create new Staff Account", new_user_path, :class => "btn btn-primary" %>
  </p>
<% end %>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:admin] %>">
    <%= link_to "Admins", users_path(:admin => true) %>
  </li>
  <li class="<%= 'active' if params[:adoption_coordinator] %>">
    <%= link_to "Adoptions", users_path(:adoption_coordinator => true) %>
  </li>
  <li class="<%= 'active' if params[:event_planner] %>">
    <%= link_to "Events", users_path(:event_planner => true) %>
  </li>
  <li class="<%= 'active' if params[:dog_adder] %>">
    <%= link_to "Add Dogs", users_path(:dog_adder => true) %>
  </li>
  <li class="<%= 'active' if params[:dog_editor] %>">
    <%= link_to "Edit Dogs", users_path(:dog_editor => true) %>
  </li>
  <li class="<%= 'active' if params[:photographer] %>">
    <%= link_to "Photographers", users_path(:photographer => true) %>
  </li>
  <li class="<%= 'active' if params[:newsletter] %>">
    <%= link_to "Newsletter", users_path(:newsletter => true) %>
  </li>
  <li class="<%= 'active' if params[:foster] %>">
    <%= link_to "Fosters", users_path(:foster => true) %>
  </li>
  <li class="<%= 'active' if params[:transporter] %>">
    <%= link_to "Transporter", users_path(:transporter => true) %>
  </li>
</ul>



<%= will_paginate @users %>

<% if params[:foster] == 'true' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= render 'foster_filters' %>
      </div>
      <div class="span10">
        <%= render 'user_table' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'user_table' %>
<% end %>

<%= will_paginate @users %>
