<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h4><%= @user.title %></h4>
              <% if (@user == current_user || is_admin?) %>
          <strong><%= link_to( "Edit Profile", edit_user_path(@user)) %></strong>
        <% end %>
      <div class="span6">
        <table class="table-striped table-bordered table-condensed">
          <tr>
            <td>Address</td>
            <td>

                <%= @user.address1 %><br />
                <% if @user.address2? %>
                  <%= @user.address2 %><br />
                <% end %>
                <%= @user.city %>, 
                <%= @user.state %> 
                <%= @user.zip %>

            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%= @user.phone %></td>
          </tr>
          <tr>
            <td>Can share with adopters:</td>
            <td><%= @user.share_info %></td>
          </tr>
          <tr>
            <td>Current Dogs</td>
            <td>        
              <% @user.dogs.each do |d| %>
                <%= link_to d.name, d %>
                  (<%= d.status %>)
                <br />
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </tr>
  </table>
