<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		<td class="sidebar round">	
			<strong>Name</strong> 	<%= @user.name %><br />
			<strong>URL</strong>	<%= link_to user_path(@user), @user %><br />
			<% if (@user == current_user || is_admin?) %>
				<strong><%= link_to( "Edit Profile", edit_user_path(@user)) %></string>
			<% end %>
			<p>Current Dogs</p>
			<ul>
				<li>Fido</li>
				<li>Rex</li>
			</ul>



		</td>
	</tr>
</table>