<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <h4><%= @user.duties %></h4>
              <% if (@user == current_user || is_admin?) %>
          <strong><%= link_to( "Edit Profile", edit_user_path(@user)) %></strong>
        <% end %>
      <div class="span6">
        <table class="table-striped table-bordered table-condensed">
          <tr>
            <td>Address</td>
            <td>

                <%= @user.address1 %><br />
                <% if @user.address2? %>
                  <%= @user.address2 %><br />
                <% end %>
                <%= @user.city %>, 
                <%= @user.state %> 
                <%= @user.zip %>

            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%= @user.phone %></td>
          </tr>
          <tr>
            <td>Can share with adopters:</td>
            <td><%= @user.share_info %></td>
          </tr>
          <tr>
            <td>Fostered Dogs</td>
            <td>        
              <% @user.foster_dogs.each do |d| %>
                <%= link_to d.name, d %>
                  (<%= d.status %>)
                <br />
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Coordinated Dogs</td>
            <td>        
              <% @user.coordinated_dogs.each do |d| %>
                <%= link_to d.name, d %>
                  (<%= d.status %>)
                <br />
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </tr>
  </table>

        <div class="row">
        <div class="span8">
          <h4>Permissions</h4>
          <ul>
            <% if @user.admin? %>
              <li>Can Admin System</li>
            <% else %>
              <li>Cannot Admin System</li>
            <% end %>

            <% if @user.edit_all_adopters? %>
              <li>Can Process All Applications</li>
            <% else %>
              <li> Cannot Process All Applications</li>
            <% end %>

            <% if @user.edit_my_adopters? || @user.edit_all_adopters? %>
              <li>Can be Assigned Adoption Applications</li>
            <% else %>
              <li>Cannot be Assigned Adoption Applications</li>
            <% end %>

            <% if @user.edit_dogs?%>
              <li>Can add dogs and edit all dogs</li>
            <% else %>
              <li>Can only edit dogs they foster.</li>
            <% end %>

            <% if @user.is_foster? %>
              <li>Is a Foster</li>
            <% else %>
              <li>Is Not a Foster</li>
            <% end %>

            <% if @user.locked? %>
              <li><span class="label label-error">Account Disabled</span></li>
            <% else %>
              <li><span class="label label-success">Account Active</span></li>
            <% end %>
          </ul>
        </div>
      </div>
