<% if params[:search].present? %>
  <tr class='attachment'>
      <td class='description'>
        <%= link_to(attachment.description, attachment.download_url) %>
      </td>
      <td>
        <%= attachment.updated_at.strftime("%B %d, %Y") %>
      </td>
  </tr>
<% else %>
  <tr class='attachment' data-id=<%= attachment.id %>>
    
    <td class="description">
      <div class="file_space"><a href=<%= attachment.download_url %> id="file_link"><%= attachment.description %></a></div>
    </td>
    <td class='edit_description_container'>
      <% if is_admin? %>
        <span class='edit_description'>Edit</span>
      <% end %>
    </td>
    <td>
      <% if attachment.updated_by_user %>
        <%= link_to attachment.updated_by_user.name, attachment.updated_by_user %>
      <% end %>
    </td>
    <td>
      <%= time_ago_in_words(attachment.created_at) %> ago
    </td>
    <td class="centered">
      <% if is_admin? %>
        <%= form_for attachment, html: {id: "delete_attachment", class: "delete_attachment"}, method: :delete do |f| %>
          <%= f.submit "Delete", class: "btn btn-danger btn-small delete_attachment" %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
