<% if params[:search].present? %>
  <tr class='attachment'>
      <td class='file_name'>
        <%= link_to(attachment.attachment_file_name, attachment.download_url) %>
      </td>
      <td>
        <%= attachment.description %>
      </td>
      <td>
        <%= attachment.updated_at.strftime("%B %d, %Y") %>
      </td>
  </tr>
<% else %>
  <tr class='attachment' data-id=<%= attachment.id %>>
    <td class="file_name">
      <%= link_to attachment.attachment_file_name, attachment.download_url %>
    </td>
    <td class='description'>
      <%= attachment.description %>
    </td>
    <td class='edit_description_container'>
      <% if is_admin? %>
        <span class='edit_description'>Edit</span>
      <% end %>
    </td>
    <td>
      <% if attachment.updated_by_user %>
        <%= link_to attachment.updated_by_user.name, attachment.updated_by_user %>
      <% end %>
    </td>
    <td>
      <%= time_ago_in_words(attachment.created_at) %> ago
    </td>
    <td>
      <% if is_admin? %>
        <%= form_for attachment, html: {id: "delete_attachment", class: "delete_attachment"}, method: :delete do |f| %>
          <%= f.submit "Delete", class: "btn btn-danger btn-small delete_attachment" %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
