<tr>
	<td id="attachment">
    <%= link_to attachment.attachment_file_name, attachment.attachment.url %>
  </td>
  <td>
    Attachment Description
  </td>
  <td>
    <%= link_to attachment.updated_by_user.name, attachment.updated_by_user %>
  </td>
  <td>
		<%= attachment.created_at %>
  </td>
    <% if current_user == attachment.updated_by_user_id %>
      <%= form_for attachment, :html => {:id => "delete_comment", :class => "delete_attachment"}, :method => :delete do |f| %>
        <%= f.submit "Delete", :class => "btn btn-danger btn-small" %>
      <% end %>
    <% else %>
      <% #<button id="" class="btn disable">Delete</button> %>
    <% end %>
	</td>

</tr>
