
<div class="row <%= 'highlight' if event.featured %>">
    <div class="col-md-4">
        <div class='event_photo pt-3'>
            <%= link_to_if( event.photo?, image_tag(event.photo.url(:medium), class:"rounded"), event.photo.url){ } %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="event-title">
            <h3><%= event.title %></h3>
            <div class='date_time'><%= event.event_date.strftime("%A, %B %-e, %Y") %> from <%= event.start_time.strftime("%-l:%M %P") %> to <%= event.end_time.strftime("%-l:%M %P") %></div>
        </div>
        <div class="event-body">
            <address>
            <div class='location'> <%= link_to_if event.location_url?, event.location_name, event.location_url %> </div>
            <div class='address'> <%= event.address %> </div>
            <div class='phone'> <%= event.location_phone %> </div>
            </address>
            <%= event.google_map %>
            <div class='<%= photographer?(event) %>'>
            <div class='photographer'><span>Event Photographer:</span> <%= link_to_if event.photographer_url?, event.photographer_name, event.photographer_url %></div>
            </div>
            <div class='description'>
                <%= markdown(event.description) %>
            </div>
            <div class='row'>
                <div class='col'>
                    <%= link_to "Event Page", event, class: "btn btn-sm btn-primary" %>
                    <%= link_to_if(event.facebook_url?, "Facebook Event", event.facebook_url, :class => "btn btn-sm btn-outline-primary"){} %>
                    <%= link_to "Apply to Adopt", adopt_path, :class => "btn btn-sm btn-outline-primary" %>
                    <%= link_to_if(can_edit_events?, "edit", edit_event_path(event), :class => "btn btn-sm btn-outline-secondary"){} %>
                    <%= link_to_if(can_edit_events?, "delete", event, method: :delete, class: "btn btn-sm btn-outline-secondary",
                                data: { confirm: "Are you sure?"}, title: "Delete #{event.title}", id: 'delete_event'){} %>
                    <%= link_to_if(can_edit_events?, "create copy", new_event_path(source: event.id), id: 'clone_event', class: "btn btn-sm btn-outline-secondary"){} %>
                </div>
            </div>
        </div>
    </div>
</div>
