<div class="row">
	<div class="span4">
		<div>
			<% if event.photo? %>
				<%= link_to image_tag(event.photo.url(:medium)),event %>
			<% else %>
			&nbsp;
			<% end %>

		</div>
	</div>
	<div class="span12">
		<h2><%= event.title %></h2>

		<p><%= event.event_date.strftime("%A, %B %e, %Y") %> from <%= event.start_time.strftime(" %I:%M %P") %> to <%= event.end_time.strftime(" %I:%M %P") %></p>
		<address>
			<% if event.location_url? %>
				<strong><%= link_to event.location_name, event.location_url %></strong><br />
			<% else %>
				<strong><%= event.location_name %></strong><br />
			<% end %>
			<%= event.address %><br />
			<% if event.location_phone? %>
				<abbr title="Phone">P:</abbr><%= event.location_phone %><br />
			<% end %>
		</address>
		<a href="<%="http://maps.google.com/?q=#{event.latitude}%2C#{event.longitude}"%>">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x200&zoom=12&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}"
			 %></a>
		<p><%= event.description %></p>
		<p><a href="/adopt" class="btn primary">Apply to Adopt</a>
		<% if is_admin? %>(
			<%= link_to  "edit", edit_event_path(event) %> / 
			  	<%= link_to  "delete",
				 			  event,
				 			  :method => :delete,
				 			  :confirm => "You sure?",
				 			  :title => "Delete #{event.title}" %>
			
		<% end %>
		)</p>
	</div>
</div>
<br />
<br />
