<h2><%= event.title %></h2>
	
	<p><%= event.event_date.strftime("%A, %B %e, %Y") %> from <%= event.start_time.strftime(" %I:%M %P") %> until <%= event.end_time.strftime(" %I:%M %P") %></p>
	<p><%= event.location_name %><p>
	<p><%= event.address %></p>
	<p><%= event.description %></p>