<div class="row">
	<div class="span12 offset2">

		<%= form_for @event, :html=> { :multipart => true } do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>

			<div class="clearfix">
				<%= f.label :title %>
				<div class="input">
					<%= f.text_field :title %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :event_date, "Date" %>
				<div class="input">
					<%= f.text_field :event_date, :class => "small" %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :start_time, "Start Time" %>
				<div class="input">
					<%= f.text_field :start_time, :class => "small" %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :end_time, "End Time" %>
				<div class="input">
					<%= f.text_field :end_time, :class => "small" %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :location_name, "Location Name" %>
				<div class="input">
					<%= f.text_field :location_name %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :location_name, "Location Website" %>
				<div class="input">
					<%= f.text_field :location_url %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :location_name, "Location Phone" %>
				<div class="input">
					<%= f.text_field :location_phone, :class => "small" %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :address %>
				<div class="input">
					<%= f.text_field :address, :class => "xlarge" %>
				</div>
			</div>

			<div class="clearfix">
				<div class="input">
					<% if f.object.photo? %>
						<div class="thumb">
							<%= link_to image_tag(f.object.photo.url(:thumb)), f.object.photo.url(:original) %>
							<%= f.check_box :_destroy %>
							<%= f.label "Delete Photo" %>
						</div>
					<% else %>
						<%= f.file_field :photo %>
					<% end %>
				</div>
			</div>
			<div class="clearfix">
				<%= f.label :description %>
				<div class="input">
					<%= f.text_area :description, :class => "xlarge", :rows => "5" %>
				</div>
			</div>

			<div class="actions">
				<%= f.submit "Submit", :class => "btn primary" %>
			</div>

		<% end %>

	</div>
</div>