<div class="row">
	<div class="span8">

		<%= form_for @event, :html=> { :multipart => true, :class => "form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<fieldset>
				<div class="control-group">
					<%= f.label :title, nil, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :title, :class => "input-xlarge" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :event_date, "Date" , :class => 'control-label'%>
					<div class="controls">
						<%= f.text_field :event_date, :class => "input-small" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :start_time, "Start Time", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :start_time, :class => "input-small" %>
						<span class="help-inline">(1 PM, 3:45pm, etc.)</span>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :end_time, "End Time", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :end_time, :class => "input-small" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :location_name, "Location Name", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :location_name %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :location_name, "Location Website", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :location_url %>
						<span class="help-inline">Include http://</span>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :location_name, "Location Phone", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :location_phone, :class => "input-small" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :address, nil , :class => 'control-label'%>
					<div class="controls">
						<%= f.text_field :address, :class => "input-xlarge" %>
					</div>
				</div>

				<div class="control-group">
						<% if f.object.photo? %>
							<%= f.label "Delete Image" %>
							<div class="controls">
								<%= link_to image_tag(f.object.photo.url(:thumb)), f.object.photo.url(:original) %>
								<%= f.check_box :photo_delete, {}, "1", "0" %>
							</div>
						<% else %>
							<%= f.label "Image",nil, :class => 'control-label'%>
							<div class="controls">
								<%= f.file_field :photo %>
							</div>
						<% end %>
				</div>
				<div class="control-group">
					<%= f.label :description, nil, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_area :description, :class => "input-xlarge", :rows => "5", :value => "To be pre-approved, fill out our adoption application and be ready to take home your new dog right from the event!" %>
						<span class="help-inline">Add more description as needed.</span>
					</div>
					
				</div>

				<div class="form-actions">
					<%= f.submit "Submit", :class => "btn btn-primary" %>
				</div>
			</fieldset>

		<% end %>

	</div>
</div>