<%= form_for @event, url: @event.new_record? ? events_path : event_path(@event), :html=> { multipart: true, id: "event_form", class: "container form-horizontal needs-validation", autocomplete: 'off', novalidate: true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='row'>
    <div class='col-3' id='required_fields_message'>
      <span id='asterix'>*</span> indicates required fields
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, nil, class: 'col-form-label required' %>
    <%= f.text_field :title, class: "form-control", required: true, 'data-bootstrap41': true, maxlength: 255 %>
    <%= f.bootstrap_errors :title, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :event_date, "Date" , class: 'col-form-label required'%>
    <%= f.text_field :event_date, class: "form-control", required:true %>
    <%= f.bootstrap_errors :event_date, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, "Start Time", class: 'col-form-label required' %>
    <%= f.text_field :start_time, value: @event.start_time.try(:strftime,'%I:%M %p'), class: "form-control", required:true %>
    <span class="form-text text-muted col-10">1 PM, 3:45pm, etc.</span>
    <%= f.bootstrap_errors :start_time, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, "End Time", class: 'col-form-label required' %>
    <%= f.text_field :end_time, value: @event.end_time.try(:strftime,'%I:%M %p'), class: "form-control", required:true %>
    <%= f.bootstrap_errors :end_time, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :location_name, "Location Name", class: 'col-form-label required' %>
    <%= f.text_field :location_name, class: "form-control", required: true, maxlength: 255 %>
    <%= f.bootstrap_errors :location_name, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :location_url, "Location Website", class: 'col-form-label' %>
    <%= f.text_field :location_url, class: "form-control", type: :url, maxlength: 255 %>
    <span class="form-text text-muted col-10">Include http://</span>
    <%= f.bootstrap_errors :location_url, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :facebook_url, "Facebook Event URL", class: 'col-form-label' %>
    <%= f.text_field :facebook_url, class: "form-control", type: :url, maxlength: 255 %>
    <span class="form-text text-muted col-10">Include http://</span>
    <%= f.bootstrap_errors :facebook_url, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <%= f.label :photographer_name, "Photographer Name", class: 'col-form-label' %>
    <%= f.text_field :photographer_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photographer_url, "Photographer Website", class: 'col-form-label' %>
    <%= f.text_field :photographer_url, class: "form-control" %>
    <span class="form-text text-muted col-10">Include http://</span>
  </div>

  <div class="form-group">
    <%= f.label :location_phone, "Location Phone", class: 'col-form-label' %>
    <%= f.text_field :location_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address, nil , class: 'col-form-label required'%>
    <%= f.text_field :address, class: "form-control", required:true, maxlength: 255 %>
    <%= f.bootstrap_errors :address, class: 'col-sm-12'  %>
  </div>

  <div class="form-group">
    <% if f.object.photo? %>
      <%= f.label "Image", class: 'col-form-label' %>
      <%= link_to image_tag(f.object.photo.url(:thumb)), f.object.photo.url(:original), class: 'col-2' %>
      <div class='col-2'>
        <%= f.check_box :photo_delete, {}, "1", "0" %>
        <%= f.label "delete", for: 'event_photo_delete' %>
      </div>
    <% else %>
      <%= f.label "Image", for: 'event_photo', class: 'col-form-label'%>
      <%= f.file_field :photo, data: {mime_types: Event::MIME_TYPES, max_size: Event::ATTACHMENT_MAX_SIZE}, class: 'form-control' %>
      <%= f.bootstrap_errors :photo, class: 'col-sm-12'  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-form-label required' %>
    <%= f.text_area :description, class: "form-control", :rows => "20", required:true %>
    <span class="form-text text-muted col-10">Description now supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>!</span>
    <%= f.bootstrap_errors :description, class: 'col-sm-12'  %>
  </div>
  <%= f.hidden_field :source %>
  <%= submit_or_return_to(f, events_path('upcoming')) %>

<% end %>

<script type='text/javascript'>
  $(function(){ $('#event_photo').on('change', upload_file_validator); });
</script>
