<div class='container' id='events_list'>
  <div class="row title_row">
    <div class="col">
      <h1><%= "#{t(".title.#{@scope}")}" %></h1>
    </div>
  </div>
  <% if can_edit_events? %>
  <div class="row">
    <div class="col pb-5">
      <%= link_to "Add an Event", new_event_path, class: "btn btn-primary" %>
      <%= link_to(alternate_scope_string, scoped_events_path(alternate_scope), class: "btn btn-secondary") %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class='col'>
      <%= will_paginate(@events, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      <%= render(@events) || render(partial: 'no_events', locals: {current_scope: current_scope}) %>
      <%= will_paginate(@events, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
  </div>
</div>
