<div id="contact" class="step">
<h3>Contact Information</h3>
  <div class="control-group">
    <%= f.label :name, "Full Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "required" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "E-mail", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :class => "required" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address1,"Address Line 1", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :address1, :class => "required" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, "Address Line 2", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :address2 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, "City", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :city, :class => "required" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, "State", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :state, :class => "required small" %>
      <span class="help-inline">We primarily adopt to Central and Northern VA, DC, Maryland and South Central PA as we want to be in proximity to support our adopters. We do make exceptions in certain cases. We do not ship pets. </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, "Zip Code", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :zip, :class => "required small" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, "Primary Phone Number", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phone, :class => "required" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_phone, "Alternate Phone Number", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :other_phone %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :when_to_call, "What is the best time to call you?", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :when_to_call, :class => "required" %>
    </div>
  </div>
