<div id="own" class="step">
<h3>Your New Pet</h3>

  <div class="form-group">
    <div class="row">
      <%= f.label :dog_or_cat, "Are you applying to adopt a dog or cat?", :class => "col-form-label col-sm-3 pt-0" %>
      <div class="controls col-sm-9">
        <div class="form-check form-check-inline">
          <label>
            <%= f.radio_button :dog_or_cat, 'Dog', :class => "required" %>
            <span>Dog</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label>
            <%= f.radio_button :dog_or_cat, 'Cat', :class => "required" %>
            <span>Cat</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dog_name, "(Optional) What pets are you interested in?", :class => "col-form-label" %>
    <div class="controls">
      <%= f.text_field :dog_name, :class => "col-8 col-sm-4 form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :energy_level, "For Dogs Only - How active would you like your dog to be?", :class => "col-form-label" %>
    <div class="controls">
      <label>
        <%= f.radio_button :energy_level, '1', :class => "" %>
        <span>I am looking for a dog to lay next to me while I watch TV or work from my computer.</span>
      </label>
      <label>
        <%= f.radio_button :energy_level, '2', :class => "" %>
        <span>I am looking for a dog that has a fairly low activity level but enjoys an occasional walk</span>
      </label>
      <label>
        <%= f.radio_button :energy_level, '3', :class => "" %>
        <span>I am looking for a dog that enjoys walks most days and a little bit of playtime but settles down easily.</span>
      </label>
      <label>
        <%= f.radio_button :energy_level, '4', :class => "" %>
        <span> I am looking for a dog that loves to run and play. I can ensure that my dog will have at least 1 hour of a combination of mental stimulation and physical exercise off-leash every day. </span>
      </label>
      <label>
        <%= f.radio_button :energy_level, '5', :class => "" %>
        <span>I am looking for a dog that is an athlete. I can ensure that my dog will have at least 3 hours of a combination of mental stimulation and physical exercise off-leash every day rain or shine.</span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dog_reqs, "Describe the type of pet you want to adopt.  Please include the two traits that are most important to you.", :class => "col-form-label" %>
    <div class="controls">
      <%= f.text_area :dog_reqs, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
      <span class="form-text text-muted">Age, Weight, Activity Level, etc.</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :why_adopt, "Why do you want to make this pet a part of your family and how will you incorporate the pet into your existing family?", :class => "col-form-label" %>
    <div class="controls">
      <%= f.text_area :why_adopt, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "5" %>
    </div>
  </div>
