<div id="no_pets" class="step">
		<div class="clearfix">
			<%= af.label :training_explain, "Are you willing to seek professional training for any pet behavior issues? (Why/Why Not?)" %>
			<div class="input">
				<%= af.text_area :training_explain,:class => "required xxlarge", :rows => "5" %>
			</div>
		</div>		
		<div class="clearfix">
			<%= af.label :surrender_pet_causes, "What would cause you to surrender or give up your new dog?" %>
			<div class="input">
				<%= af.text_area :surrender_pet_causes, :class => "required xxlarge", :rows => "5" %>
			</div>
		</div>
		<div class="clearfix">
			<%= af.label :surrendered_pets, "Have you ever surrendered, sold or given away one of your pets?" %>
			<div class="input">
				<%= af.text_area :surrendered_pets, :class => "required xxlarge", :rows => "5" %>
				<span class="help-inline">If so, please explain in detail</span>
			</div>
		</div>
</div>