<div id="other_pets" class="step">
   <div class="form-group">
    <%= af.label :prev_pets_type, "Have you previously owned dogs, cats, or both?", :class => "col-form-label"%>
    <div class="controls">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :prev_pets_type, "Dogs", :class => "required form-check-input" %>
          <span>Dogs</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :prev_pets_type, "Cats", :class => "required form-check-input" %>
          <span>Cats</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :prev_pets_type, "Both", :class => "required form-check-input" %>
          <span>Both</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :prev_pets_type, "None", :class => "required form-check-input" %>
          <span>None</span>
        </label>
      </div>
    </div>
   </div>

   <div class="form-group">
    <%= af.label :current_pets_type, "Do you currently own any dogs or cats?", :class => "col-form-label" %>
    <div class="controls">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :current_pets_type, "Dogs", :class => "required pets-type-radio form-check-input" %>
          <span>Dogs</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :current_pets_type, "Cats", :class => "required pets-type-radio form-check-input" %>
          <span>Cats</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :current_pets_type, "Both", :class => "required pets-type-radio form-check-input" %>
          <span>Both</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <%= af.radio_button :current_pets_type, "None", :class => "required pets-type-radio form-check-input" %>
          <span>None</span>
        </label>
      </div>
    </div>
   </div>

   <div class="form-group">
      <%= af.label :current_pets, "Please list all dogs or cats you have owned over the past 10 years and where they are now.  Also include pets that live in your home but don't belong to you (Roommate's dog, etc).", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :current_pets, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
        <span class="form-text text-muted">Include name, age and breed</span>
      </div>
    </div>

    <div class="form-group current-q">
      <div class="row">
        <%= af.label :had_pets, "Are all your dogs/cats spayed/neutered?", :class => "col-form-label col-sm-3 pt-0" %>
        <div class="controls col-sm-9">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :current_pets_fixed, true, :class => "required"%>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :current_pets_fixed, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group current-q">
      <%= af.label :why_not_fixed, "If no, please explain why.", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :why_not_fixed, :class => "form-control col-8 col-sm-6 col-md-4", :rows => "3"%>
      </div>
    </div>
    <div class="current-q">
    <h5>Are all the pets in your household up to date on these medications?</h5>
    </div>

    <div class="form-group dogs-q">
      <div class="row">
        <%= af.label :shot_dhpp_dhlpp, "DHPP/DHLPP (dogs only)", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_dhpp_dhlpp, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_dhpp_dhlpp, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group cats-q">
      <div class="row">
        <%= af.label :shot_fpv_fhv_fcv, "FPV/FHV/FCV (cats only)", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_fpv_fhv_fcv, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_fpv_fhv_fcv, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group current-q">
      <div class="row">
        <%= af.label :shot_rabies, "Rabies", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_rabies, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_rabies, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group dogs-q">
      <div class="row">
        <%= af.label :shot_bordetella, "Bordetella (dogs only)", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_bordetella, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_bordetella, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group dogs-q">
      <div class="row">
        <%= af.label :shot_heartworm, "Heartworm preventative (dogs only)", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_heartworm, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_heartworm, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group current-q">
      <div class="row">
        <%= af.label :shot_flea_tick, "Flea/Tick preventative", :class => "col-form-label col-sm-3 pt-0"  %>
        <div class="controls">
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_flea_tick, true, :class => "required" %>
              <span>Yes</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label>
              <%= af.radio_button :shot_flea_tick, false %>
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group current-q">
      <%= af.label :current_pets_uptodate_why, "If no, please explain why.", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :current_pets_uptodate_why, :class => "form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
      </div>
    </div>
    <h5>Please provide the name and phone number of a veterinarian who has seen these pets.</h5>

    <div class="form-group">
      <%= af.label :vet_info, "Veterinarian Name and Phone Number", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :vet_info, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
        <span class="form-text text-muted">Failure to include your Vet's Phone Number will delay your application</span>
      </div>
    </div>
    <p><span class="badge badge-danger">Important</span> Call your vet and give permission to release your pet records to Operation Paws for Homes.</p>
</div>
