  <div class="step" id="first">
      <div>
        <h3>Before you begin your application</h3>
        <p>Thank you for choosing Operation Paws for Homes to adopt your rescue dog or cat. To complete your application you will need to provide:</p>

        <ol>
          <li>Three personal references, not related to you by blood or marriage, with phone numbers and email addresses we can reach them at.</li>
          <li>Phone number for your vet.</li>
          <li>If you rent, the phone number of your landlord to verify your pet policy.</li>
        </ol>

      <h4>Privacy Information</h4>
      <p>Your personal information will not be shared with anyone outside of OPH. It will be used to help ensure each pet goes to a well-suited home. See our <a href="/terms">Privacy Policy</a> for details.</p>

      <h4>Welcome!</h4>
      <p>We are excited to start the journey of working together with you to find the right dog or cat.  Operation Paws for Homes (OPH) is committed to each pet and their new adoptive families, so welcome in advance to the OPH Rescue family.  We are here to answer your questions about dogs and cats, adoption, their social, health and training needs.  </p>
      </div>
      <div class="control-group error">
      <label class="control-label"><strong>Please check off that you have read each of the following statements about adopting with OPH – all are focused on ensuring the safety and happiness of both the pet and the adopter.</strong></label>
        <div class="controls">

          <label class="checkbox">
            <%= f.check_box :pre_q_abuse, :class => "required" %>
            <span>Applicant has never been convicted of animal abuse.</span>
          </label>
          <span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_dog_adjust, :class => "required" %>
            <span>OPH has little or no definitive information about each pet's behavior history.  We share as much information as we can collect from our shelter partners and observations from our fosters to help you make the best decision for your home.  Pets can behave differently depending on the environment, so your experience with a newly adopted pet may differ from what our fosters have observed. It will likely take 30-45 days for a pet  to fully adjust to living in your home, so patience and understanding will be keys to a successful adoption. </span>
          </label>
          <span for="adopter[pre_q_dog_adjust]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_limited_info, :class => "required" %>
            <span>A veterinarian has examined each OPH pet and all known medical issues will be addressed by OPH and/or disclosed to potential adopters. </span>
          </label>
          <span for="adopter[pre_q_limited_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_breed_info, :class => "required" %>
            <span>OPH does not have exact breed information about our pets. Listed breeds are an educated guess made by veterinarians, shelter staff, and OPH volunteers without the benefit of parental history.</span>
          </label>
          <span for="adopter[pre_q_breed_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_hold, :class => "required" %>
            <span>A pet can be placed on hold for only 7 days after your adoption application is approved. We will happily work with you to find a pet that meets your availability.</span>
          </label>
          <span for="adopter[pre_q_hold]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_costs, :class => "required" %>
            <span>Adoption fees for dogs/puppies can be up to $400. Adoption fees for cats /kittens can  be up to $125. Adoption fees for adult dogs and cats tend to be less.</span>
          </label>
          <span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>

        </div>

        <h4>This form is for first time applicants only.</h4>
        <p><strong>Filling it out again will delay your application.</strong>  If anyone in your household has applied for adoption, or if you have an active application and wish to update it, please email us at <a href="mailto:adopt@ophrescue.org">adopt@ophrescue.org</a> include the name of the dog(s) you're interested in and mention that you're a repeat applicant.</p>

      </div>
  </div>
