  <div class="step" id="first">
      <div>
        <h3>Before you begin your application</h3>
        <p>Thank you for choosing Operation Paws for Homes to adopt your rescue dog. To complete your application you will need to provide:</p>

        <ol>
          <li>Three personal references, not related to you by blood or marriage, with phone numbers and email addresses we can reach them at.</li>
          <li>Phone number for your vet.</li>
          <li>If you rent, the phone number of your landlord to verify your pet policy.</li>
        </ol>

      <h4>Privacy Information</h4>
      <p>Your personal information will not be shared with anyone outside of OPH. It will be used to help ensure each dog goes to a well-suited home. See our <a href="/terms">Privacy Policy</a> for details.</p>

      <h4>Adopting a dog is a serious commitment.</h4>
      <p>A dog may take several weeks or months to settle into their new home, owning a dog costs money, and a dog requires lots of attention and love. Please, seriously consider your decision to adopt. Sadly, too many dogs are adopted and returned because folks don’t think through adoption. We highly suggest that you <a href="/resources">research</a> what is best for you and plan to participate in a training course so the adoption experience is a positive and lasting one for you and your dog.</p>
      </div>
      <div class="control-group error">
      <label class="control-label"><strong>You must agree to the following terms to adopt from OPH.</strong></label>
        <div class="controls">

          <label class="checkbox ">
            <%= f.check_box :pre_q_costs, :class => "required" %>
            <span>I have reviewed the <a href='/guide#fees'>costs of adopting</a>.</span>
          </label>
          <span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_surrender, :class => "required" %>
            <span>If I cannot keep the dog, I will contact OPH to assist in rehoming or returning the dog.</span>
          </label>
          <span for="adopter[pre_q_surrender]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_abuse, :class => "required" %>
            <span>I have never been convicted of animal abuse.</span>
          </label>
          <span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_limited_info, :class => "required" %>
            <span>I understand that OPH has limited information about a dog's background. All available information will be disclosed to adopters. OPH had no knowledge of the dog’s past behavior or medical history. It is understood that the dogs react differently in different environments. All provided information is based on information reported by the shelter and observed in the foster home. With different environmental factors, the dog may act differently or require an adjustment period in your home. </span>
          </label>
          <span for="adopter[pre_q_limited_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_breed_info, :class => "required" %>
            <span>I understand that OPH does not, generally, have exact breed information about its dogs.  I understand OPH does not DNA test the dogs coming into the program.  Listed breeds are an educated guess made by veterinarians, shelter staff, and OPH volunteers without the benefit of parental history or DNA testing.</span>
          </label>
          <span for="adopter[pre_q_breed_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_reimbursement, :class => "required" %>
            <span>I understand that a rescue dog may require professional training or unexpected medical services. I understand that each dog has been examined by a veterinarian and all known medical issues will be addressed and/or disclosed to potential adopters to the best of the organization’s ability. I understand that some conditions may be dormant, not seen, or happen in the future. I understand that as an adopter, it is my financial responsibility to obtain any medical care needed once I have adopted a dog.  If a medical condition is noticed immediately following adoption, OPH must be contacted immediately if assistance is sought from the organization.  OPH will not be responsible for reimbursement of any expenses that an adopter incurs without prior consent from OPH.</span>
          </label>
          <span for="adopter[pre_q_reimbursement]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_dog_adjust, :class => "required" %>
            <span>I understand that it may take a dog up to thirty days to adjust to living in my home.  Each dog has been through many changes beginning with an unknown past (for most dogs) to life in a shelter, to life in a foster home or a partner boarding facility, and – finally - to your home. These changes can be overwhelming to any living creature. Please be patient and understand that the stress of change may cause behavior variances.  Some dogs will require professional training.</span>
          </label>
          <span for="adopter[pre_q_dog_adjust]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_courtesy, :class => "required" %>
            <span>I understand that OPH Adoption Coordinators and Fosters are volunteers.  I will treat them with courtesy throughout the adoption process, or they have the right to terminate my adoption application.</span>
          </label>
          <span for="adopter[pre_q_courtesy]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_travel, :class => "required" %>
            <span>I understand that OPH is a foster home based program powered by volunteers.  In addition to foster homes, dogs may be housed at partner doggie day cares or boarding facilities.  The general location of each dog is identified in their OPH profile. It is the responsibility of a potential adopter to travel to the location of the dog for a “meet and greet” as part of the adoption process.  OPH is unable to deliver dogs to potential adopters due to limited volunteer resources. </span>
          </label>
          <span for="adopter[pre_q_travel]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_hold, :class => "required" %>
            <span>I understand that a dog can only be placed on hold for 7 days once my application is approved. OPH partners with animal shelters that often have euthanasia rates of 50%- 90% without rescue assistance.  For this reason, we are not able to place dogs on hold for a single applicant for more than 7 days post application approval.  We cannot make exceptions for vacation or work schedules beyond this time period as this can mean euthanasia for another dog at a partner shelter.  OPH volunteers are happy to work with you to find a dog that meets your availability. <strong>We adopt to the first approved and available adopter.</strong></span>
          </label>
          <span for="adopter[pre_q_hold]" generated="true" class="help-inline error"></span>

        </div>

        <h4>This form is for first time applicants only.</h4>
        <p><strong>Filling it out again will delay your application.</strong>  If anyone in your household has applied for adoption, or if you have an active application and wish to update it, please email us at <a href="mailto:adopt@ophrescue.org">adopt@ophrescue.org</a> include the name of the dog(s) you're interested in and mention that you're a repeat applicant.</p>

      </div>
  </div>
