	<div class="step" id="first">
			<div class="clearfix">
			<label id="optionsCheckboxes">Check all that apply</label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.check_box :pre_q_age, :class => "required" %>
								<span>I am at least 21 years old.</span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_commited, :class => "required" %>
								<span>Everyone in my household is commited to adopoting a new family member.</span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_costs, :class => "required" %>
								<span>I have reviewed the <a href='http://www.ophrescue.org/page2.php' target= '_blank'>costs of adopting</a></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_meds, :class => "required" %>
								<span>I understand that my new pet will be required to be on monthly flea and heartworm prevention medications.</span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_surrender, :class => "required" %>
								<span>In the event I am unable to keep the dog, I will contact OPH to assist in rehoming or returning to dog to the rescue.</span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_abuse, :class => "required" %>
								<span>I have never been convicted of animal abuse.</span>
							</label>
						</li>
					</ul>
				</div>
			</div>
	</div>