  <div class="step" id="first">
      <div>
        <p><strong>Thank you for considering adoption!</strong> Your personal information will not be shared with anyone outside of Operation Paws for Homes, Inc. It will be used to help ensure each dog goes to a well-suited home. To complete your application you will be asked to provide:</p>
        <ul>
          <li>Three personal references and phone numbers</li>
          <li>Vet(s)'s phone number to verify any current cats and dogs are spayed/neutered and up to date on shots</li>
          <li>If you rent, the phone number of your landlord to verify your pet policy</li>
        </ul>
      </div>
      <div class="alert alert-block alert-error">
          <p><strong>Before You Apply:</strong> Please remember that adopting an animal is a SERIOUS commitment. Animals may take <strong>several weeks to months</strong> to settle into their new environment. They cost money and require lots of attention and love. Please, seriously consider your decision to adopt. Sadly, too many animals are adopted and returned simply because folks didn’t think adoption through enough. We highly suggest that you research what is best for you and plan to participate in a training course so the adoption experience is a positive and lasting one for you and the animal you adopt.</p>
      </div>
      <div class="control-group error">
      <label class="control-label"><strong>You must meet all these criteria to adopt.</strong></label>
        <div class="controls">

          <label class="checkbox ">
            <%= f.check_box :pre_q_costs, :class => "required" %>
            <span>I have reviewed the <a href='/guide#fees'>costs of adopting</a>.</span>
          </label>
          <span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_surrender, :class => "required" %>
            <span>If I cannot keep the dog, I will contact Operation Paws for Homes to assist in rehoming or returning the dog.</span>
          </label>
          <span for="adopter[pre_q_surrender]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_abuse, :class => "required" %>
            <span>I have never been convicted of animal abuse.</span>
          </label>
          <span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_limited_info, :class => "required" %>
            <span>I understand that Operation Paws for Homes has limited information about a dog's background.</span>
          </label>
          <span for="adopter[pre_q_limited_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_breed_info, :class => "required" %>
            <span>I understand that Operation Paws for Homes does not, generally, have exact breed information about its dogs.</span>
          </label>
          <span for="adopter[pre_q_breed_info]" generated="true" class="help-inline error"></span>          

          <label class="checkbox ">
            <%= f.check_box :pre_q_reimbursement, :class => "required" %>
            <span>I understand that a rescue dog may require professional training or unexpected medical services. Operation Paws for Homes must be contacted for any problems during the initial transition for help, and will not be responsible for reimbursement of any expenses without prior consent.</span>
          </label>
          <span for="adopter[pre_q_reimbursement]" generated="true" class="help-inline error"></span>

            <div class="alert alert-block alert-error">
              <p><strong>Attention Current Pet Owners:</strong> Your current dogs and cats must
              be spayed or neutered and up to date on shots.  Proof or vet verification is required.</p>
            </div>
        </div>
      </div>
  </div>