	<div class="step" id="first">
			<div class="clearfix">
			<label id="optionsCheckboxes"><strong>You must meet all these criteria to adopt.</strong></label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.check_box :pre_q_age, :class => "required" %>
								<span>I am at least 21 years old or have a co-signer over the age of 21.</span>
							</label>
							<span for="adopter[pre_q_age]" generated="true" class="help-inline error"></span>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_costs, :class => "required" %>
								<span>I have reviewed the <a href='/guide#fees'>costs of adopting</a>.</span>
							</label>
							<span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_surrender, :class => "required" %>
								<span>If I cannot keep the dog, I will contact Operation Paws for Homes to assist in rehoming or returning the dog.</span>
							</label>
							<span for="adopter[pre_q_surrender]" generated="true" class="help-inline error"></span>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_abuse, :class => "required" %>
								<span>I have never been convicted of animal abuse.</span>
							</label>
							<span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>
						</li>
						<li>
							<label>
								<%= f.check_box :pre_q_reimbursement, :class => "required" %>
								<span>I understand that a rescue dog may require professional training or unexpected medical services. Operation Paws for Homes must be contacted for any problems during the initial transition for help, and will not be responsible for reimbursement of any expenses without prior consent.</span>
							</label>
							<span for="adopter[pre_q_reimbursement]" generated="true" class="help-inline error"></span>
						</li>
					</ul>
					      <div class="alert-message block-message error">
					        <p><strong>Attention Current Pet Owners:</strong> Your current dogs and cats must
					        be spayed or neutered and up to date on shots.  Proof or vet verification is required.</p>
					      </div>
				</div>
			</div>
	</div>