  <div class="step" id="first">
      <div>
        <h3>Before you begin your application</h3>
        <p>Thank you for choosing Operation Paws for Homes to adopt your rescue dog. To complete your application you will need to provide:</p>

        <ol>
          <li>Three personal references, not related by blood or marriage, with phone numbers</li>
          <li>Phone number for your vet to verify current cats and dogs are spayed/neutered and up to date on shots</li>
          <li>If you rent, the phone number of your landlord to verify your pet policy</li>
        </ol>

      <h4>Privacy Information</h4>
      <p>Your personal information will not be shared with anyone outside of OPH. It will be used to help ensure each dog goes to a well-suited home. See our <a href="/terms">Privacy Policy</a> for details.</p>

      <h4> Current Pet Owners</h4>
      <p>Your current dogs and cats must be spayed or neutered and up to date on shots.  Proof or vet verification is required.</p>

      <h4>Adopting a dog is a serious commitment.</h4>
      <p>A dog may take several weeks or months to settle into their new home, owning a dog costs money, and a dog requires lots of attention and love. Please, seriously consider your decision to adopt. Sadly, too many dogs are adopted and returned because folks don’t think through adoption. We highly suggest that you <a href="/resources">research</a> what is best for you and plan to participate in a training course so the adoption experience is a positive and lasting one for you and your dog.</p>
      </div>
      <div class="control-group error">
      <label class="control-label"><strong>You must agree to the following terms to adopt from OPH.</strong></label>
        <div class="controls">

          <label class="checkbox ">
            <%= f.check_box :pre_q_costs, :class => "required" %>
            <span>I have reviewed the <a href='/guide#fees'>costs of adopting</a>.</span>
          </label>
          <span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_surrender, :class => "required" %>
            <span>If I cannot keep the dog, I will contact OPH to assist in rehoming or returning the dog.</span>
          </label>
          <span for="adopter[pre_q_surrender]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_abuse, :class => "required" %>
            <span>I have never been convicted of animal abuse.</span>
          </label>
          <span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_limited_info, :class => "required" %>
            <span>I understand that OPH has limited information about a dog's background.</span>
          </label>
          <span for="adopter[pre_q_limited_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_breed_info, :class => "required" %>
            <span>I understand that OPH does not, generally, have exact breed information about its dogs.</span>
          </label>
          <span for="adopter[pre_q_breed_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_reimbursement, :class => "required" %>
            <span>I understand that a rescue dog may require professional training or unexpected medical services. OPH must be contacted for help with any problems during the initial transition, and will not be responsible for reimbursement of any expenses without prior consent.</span>
          </label>
          <span for="adopter[pre_q_reimbursement]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_dog_adjust, :class => "required" %>
            <span>I understand that it may take a dog up to thirty days to adjust to living in my home.</span>
          </label>
          <span for="adopter[pre_q_dog_adjust]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_courtesy, :class => "required" %>
            <span>I understand that OPH Adoption Coordinators and Fosters are volunteers.  I will treat them with courtesy throughout the adoption process, or they have the right to terminate my adoption application.</span>
          </label>
          <span for="adopter[pre_q_courtesy]" generated="true" class="help-inline error"></span>

        </div>

        <h4>This form is for first time applicants only.</h4>
        <p><strong>Filling it out again will delay your application.</strong>  If anyone in your household has applied for adoption, or if you have an active application and wish to update it, please email us at <a href="mailto:adopt@ophrescue.org">adopt@ophrescue.org</a> include the name of the dog(s) you're interested in and mention that you're a repeat applicant.</p>

      </div>
  </div>
