
<h5>Reference #<%= @i %></h5>
<% @i += 1 %>
<div class="form-group">
  <%= rf.label :name, "Reference's Name", :class => "col-form-label" %>
  <div class="controls">
    <%= rf.text_field :name, :class => "required col-8 col-sm-4 form-control" %>
  </div>
</div>
<div class="form-group">
  <%= rf.label :phone, "Reference's Phone", :class => "col-form-label" %>
  <div class="controls">
    <%= rf.text_field :phone, :class => "required col-6 col-sm-4 col-md-3 col-lg-2 form-control" %>
  </div>
</div>
<div class="form-group">
  <%= rf.label :email, "Reference's E-Mail", :class => "col-form-label" %>
  <div class="controls">
    <%= rf.text_field :email, :class => "required col-8 col-sm-4 form-control" %>
  </div>
</div>
<div class="form-group">
  <%= rf.label :relationship, "What is the nature of your relationship?", :class => "col-form-label" %>
  <div class="controls">
    <%= rf.text_field :relationship, :class => "required col-8 col-sm-4 form-control" %>
    <span class="form-text text-muted"> References can not be related by blood or marriage to anyone living in your household.</span>
  </div>
</div>
<div class="form-group">
  <%= rf.label :whentocall, "What is the best time for us to call them?", :class => "col-form-label" %>
  <div class="controls">
    <%= rf.text_field :whentocall, :class => "required col-8 col-sm-4 form-control" %>
  </div>
</div>
