<div id="reference" class="step">
	<h4>Reference</h4>
	<div class="clearfix">
	  <%= rf.label :name, "Reference's Name" %>
	  <div class="input">
	  	<%= rf.text_field :name %>
	  </div>
	</div>
	<div class="clearfix">
	  <%= rf.label :phone, "Reference's Phone" %>
	  <div class="input">
	  	<%= rf.text_field :phone %>
	  </div>
	</div>
	<div class="clearfix">
	  <%= rf.label :email, "Reference's E-Mail" %>
	  <div class="input">
	  	<%= rf.text_field :email %>
	  </div>
	</div>
	<div class="clearfix">
	  <%= rf.label :relationship, "What is the nature of your relationship?" %>
	  <div class="input">
	  	<%= rf.text_field :relationship %>
	  </div>
	</div>
</div>