<div id="reference" class="step">
	<h4>Reference</h4>
	<div class="field">
	  <%= rf.label :name, "Reference's Name" %><br />
	  <%= rf.text_field :name %>
	</div>
	<div class="field">
	  <%= rf.label :phone, "Reference's Phone" %><br />
	  <%= rf.text_field :phone %>
	</div>
	<div class="field">
	  <%= rf.label :email, "Reference's E-Mail" %><br />
	  <%= rf.text_field :email %>
	</div>
	<div class="field">
	  <%= rf.label :relationship, "What is the nature of your relationship?" %><br />
	  <%= rf.text_field :relationship %>
	</div>
	<br />
	<br />
</div>