<div id="rent" class="step">
    <div class="form-group">
      <%= af.label :landlord_name, "Landlord's Name", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_field :landlord_name, :class => "required col-8 col-sm-4 form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= af.label :landlord_phone, "Landlord's Phone Number", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_field :landlord_phone, :class => "required col-6 col-sm-4 col-md-3 col-lg-2 form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= af.label :landlord_email, "Landlord's Email", :class => "col-form-label " %>
      <div class="controls">
        <%= af.text_field :landlord_email, :class => "col-8 col-sm-4 form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= af.label :rent_dog_restrictions, "What are the pet weight and breed restrictions?", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :rent_dog_restrictions, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
        <span class="form-text text-muted">Please provide a website or description of pet restrictions.</span>
      </div>
    </div>
    <div class="form-group">
      <%= af.label :rent_costs, "How will your rental costs increase by having a pet?", :class => "col-form-label" %>
      <div class="controls">
        <%= af.text_area :rent_costs, :class => "required form-control col-8 col-sm-6 col-md-4", :rows => "3" %>
        <span class="form-text text-muted">Pet Deposits and Rent Increases</span>
      </div>
    </div>
</div>
