
		<div class="clearfix">
			<%= af.label :dog_exercise, "How will your dog get exercise?" %>
			<div class="input">
				<%= af.text_area :dog_exercise, :class => "required xxlarge", :rows => "3"%>
				<span class="help-inline">Describe yard, nearby parks and family activities.</span>
			</div>
		</div>
		<div class="clearfix">
			<%= af.label :dog_stay_when_away, "Where will your dog stay when you're away from home?" %>
			<div class="input">
				<ul class="inputs-list">
					<li>
						<label>
							<%= af.radio_button :dog_stay_when_away, 'In a crate', :class => "required" %>
							<span>In a crate</span>
						</label>
					</li>
					<li>
						<label>
							<%= af.radio_button :dog_stay_when_away, 'In a limited area of home' %>
							<span>In a limited area of home</span>
						</label>
					</li>
					<li>
						<label>
							<%= af.radio_button :dog_stay_when_away, 'Free range of home' %>
							<span>Free range of home</span>
						</label>
					</li>
					<li>
						<label>
							<%= af.radio_button :dog_stay_when_away, 'Outside' %>
							<span>Outside</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix">
			<%= af.label :max_hrs_alone, "What will be the maximum length of time your dog will be left home alone?" %>
			<div class="input">
				<%= af.select :max_hrs_alone, (0..24), {:selected => 8}, :class => "span1" %><span> hours</span>
			</div>
		</div>
		<div class="clearfix">
			<%= af.label :dog_vacation, "What are your plans for taking care of the dog while you are on vacation?" %>
			<div class="input">
				<%= af.text_area :dog_vacation, :class => "required xxlarge", :rows => "3" %>
			</div>
		</div>