<div id="your_home" class="step">
	<div class="clearfix">
		<%= af.label :spouse_name, "Spouse/Partner's name" %>
		<div class="input">
			<%= af.text_field :spouse_name %>
		</div>
	</div>
	<div class="clearfix">
		<%= af.label :other_household_names, "Other Household Members" %>
		<div class="input">
			<%= af.text_field :other_household_names %>
			<span class="help-inline">Please include names and ages.</span>
		</div>
	</div>
	<div class="clearfix">
		<%= af.label :ready_to_adopt_dt, "How soon do you want to adopt?" %>
		<div class="input">
			<%= af.text_field :ready_to_adopt_dt, :class => "required" %>
		</div>
	</div>
	<div class="clearfix">
		<%= af.label :house_type, "Do you rent or own your home?" %>
		<div class="input">
			<ul class="inputs-list">
				<li>
					<label>
						<%= af.radio_button :house_type, 'rent', :class => "link required" %> 
						<span>Rent</span>
					</label>
				</li>
				<li>
					<label>
						<%= af.radio_button :house_type, 'own', :class => "link required" %> 
						<span>Own</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>