  <div class="control-group">
    <%= af.label :spouse_name, "Spouse/Partner's name", :class => "control-label" %>
    <div class="controls">
      <%= af.text_field :spouse_name %>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :other_household_names, "Other Household Members", :class => "control-label" %>
    <div class="controls">
      <%= af.text_field :other_household_names %>
      <span class="help-inline">Please include names and ages.</span>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :household_ages, "Ages of Household Members", :class => "control-label" %>
    <div class="controls">
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Infant", false  %>
        <span>Infant: 0 - 1</span>
      </label>
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Young Child", false %>
        <span>Young Child: 2 - 7</span>
      </label>
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Older Child", false %>
        <span>Older Child: 8 - 12</span>
      </label>
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Teenager", false %>
        <span>Teenager: 13 - 18</span>
      </label>
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Adult", false %>
        <span>Adult: 19 - 65</span>
      </label>
      <label>
        <%= af.check_box :household_ages, {:multiple => "true"}, "Senior", false %>
        <span>Senior: 66+</span>
      </label>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :how_did_you_hear, "How did you hear about us?", :class => "control-label" %>
    <div class="controls">
      <%= af.text_field :how_did_you_hear %>
      <span class="help-inline">Google, Craigslist, Petfinder, etc.</span>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :ready_to_adopt_dt, "How soon do you want to adopt?", :class => "control-label" %>
    <div class="controls">
      <%= af.text_field :ready_to_adopt_dt, :class => "required" %>
      <span class="help-inline">Enter as YYYY-MM-DD</span>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :is_ofage, "Are you at least 21 years old?", :class => "control-label" %>
    <div class="controls">
      <label>
        <%= af.radio_button :is_ofage, true, :class => "required is-of-age-radio" %>
        <span>Yes</span>
      </label>
      <label>
        <%= af.radio_button :is_ofage, false, :class => "required is-of-age-radio" %>
        <span>No</span>
      </label>
    </div>
  </div>
  <div class="control-group birth-date">
    <%= af.label :birth_date, "Date of Birth", :class => "control-label" %>
    <div class="controls">
      <%= af.text_field :birth_date %>
      <span class="help-inline">Enter as YYYY-MM-DD</span>
    </div>
  </div>
  <div class="control-group">
    <%= af.label :house_type, "Do you rent or own your home?", :class => "control-label" %>
    <div class="controls">
      <label>
        <%= af.radio_button :house_type, 'rent', :class => "link required residence-auth-pop" %>
        <span>Rent</span>
      </label>
      <label>
        <%= af.radio_button :house_type, 'own', :class => "link required residence-auth-pop" %>
        <span>Own</span>
      </label>
    </div>
  </div>
  <div class="control-group own-home-auth">
    <%= af.label :verify_home_auth, "I authorize Operation Paws for Homes to verify my home ownership.", :class => "control-label" %>
    <div class="controls">
      <label class="checkbox">
        <%= af.check_box :verify_home_auth, :class => "required"  %>
      </label>
    </div>
  </div>
</div>
