<div class="container fluid">
        <div class="row">
                <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
                        <div class="pages">
                                <h1>7000 Miles Home</h1>
                        </div>

                        <div class="embed-responsive embed-responsive-16by9 vid">
                                <iframe id="ytplayer" type="text/html" width="600" height="450"
                                src="https://www.youtube.com/embed/IzSzWiOy2hY?autoplay=0&origin=https://ophrescue.org"
                                frameborder="0"></iframe>
                        </div>
     
                        <div class="article pages">

                                <p>It’s estimated that 30 million free-ranging dogs live on the streets of India. Many get hit by cars
                                and suffer from disease or malnutrition. Unfortunately, when these dogs are sick or injured, they
                                often die for lack of basic veterinary care, but OPH and Kannan Animal Welfare (KAW) are
                                working to change that.</p>

                                <p><em>7000 Miles Home</em> follows the work of OPH shelter partner KAW, an animal rescue in New
                                Delhi, that cares for sick and injured street dogs. The film offers a glimpse into the lives of these
                                dogs and their rescuers, the challenges they face, and highlights some heartwarming successes.</p>

                                <p>Thanks to the hard work of OPH and KAW, some dogs are lucky enough to be rehabilited in
                                New Delhi and subsequently transported to the U.S. to find adoptive homes here in the DMV.</p>

                                <p>Follow the journeys of four puppies rescued by KAW and transported to forever families in the
                                U.S. Chitti, Bundi, Kuku, and Polka were injured and hungry on the streets. But, despite a rough
                                start in life, their stories have a happy ending!</p>

                                <p>Since 2016, OPH has brought over 40 dogs from India to new homes in the U.S.
                                <em>7000 Miles Homes</em> is proof that love can reach across the world and save dogs in desperate
                                conditions -- and that you can help.</p>

                                <div class="rounded centered">
                                        <%= image_tag "7000-miles/chitti.jpg", height: "250", class: "rounded" %>
                                        <%= image_tag "7000-miles/three-puppies.jpg", height: "250", class: "rounded" %>
                                </div>


                                <h3>How to Help</h3>
                                <ul>
                                        <li><a href="/dogs">Adopt a Desi Dog</a> - Desi Dogs make wonderful pets. Check the OPH website to learn
                                        about our Desi Dogs ready for adoption!</li>
                                        <li><a href="/foster">Foster a Desi Dog</a> - OPH is always looking for new volunteers to foster dogs in search of
                                        adoptive homes.</li>
                                        <li><a href="/campaigns/13">Donate to OPH's Operation Desi Dog</a> - Your
                                        donation will go towards the transportation and medical costs of bringing adoptable Desi
                                        Dogs to the U.S</li>
                                </ul>

                                <h3>From filmmaker Liza Hamilton:</h3>

                                <p>&quot;When I started editing this film, I realized it couldn’t be a sad one. Despite how many dogs
                                were dying in New Delhi, I saw the joy of the Desi Dogs that had been rescued by KAW and
                                OPH. I wanted to make a film about the joy of being rescued, and of being rescuers.</p>

                                <p>In the old story of the starfish, a man and his son walk on a beach where hundreds of starfish are
                                dying in the sun. The boy picks up as many starfish as he can to throw them back in the ocean.
                                His father questions him, “why save these few when there are hundreds dying on this beach,
                                what could tossing a few back in the ocean possibly mean?” The boy looks at his father and says,
                                “it means an awful lot to the starfish I have saved.” I see the Desi Dogs as these starfish. It is our
                                focus to rescue as many as we can to give these dogs a chance at life and love.&quot;</p>

                                <div class="centered">
                                        <%= image_tag "kaw-article-kaw.jpg", height: "200", alt: "Kannan Animal Welfare", class: "rounded" %>
                                        <%= image_tag "7000-miles/liza.jpg", size: "280x200", class: "rounded" %>
                                </div>


                                <h3>From Kannan Animal Welfare founder Vandana Anchalia:</h3>

                                <p>
                                &quot;I am so excited about the film finally being live. This is an opportunity for everyone to
                                understand the kind of cruelty and difficulties these Desi dogs go through before flying to USA
                                to find forever homes. Myself and the entire team is so grateful to OPH and all the amazing
                                families who open their heart and homes to these amazing dogs. Thank you!&quot;</p>

                                <div class="centered">
                                        <%= image_tag "7000-miles/img-0400.jpg", class: "rounded" %>
                                </div>

                                <h3>From Kristen Wisse, adopter of Desi Dog Polka:</h3>

                                <p>&quot;When I came across Polka’s adorable mug on the OPH website, I just knew I had to meet her.
                                Through the adoption process I learned that Polka had been hit by a car on the streets of India at
                                just a couple of months old. Despite having three legs, Polka is full of energy and curiosity. She
                                makes me laugh every day because she is obsessed with all things that fly – from butterflies to
                                airplanes. She has brought nothing but joy to my world. I hope that this film illuminates what
                                wonderful pets Desi Dogs can make.</p>

                                <div class="centered">
                                        <%= image_tag "7000-miles/polka.jpg", class: "rounded" %>
                                </div>

                                <h3>From Roberta and Sean Green, adopters of Desi Dog Kuku:</h3>

                                <p>&quot;After almost 2 years of mourning our boxer, our family made the decision to adopt. My
                                husband came across the OPH website and suggested I take a look. I wanted to fall in love with
                                so many of them but it wasn’t until the very last page I saw Sookie (formerly named Kuku), with
                                those ears, and knew that little one had my heart! Through OPH we learned of her heritage and
                                journey from India. This is a wonderful film that we hope will ignite dog lovers to open their
                                homes to a Desi Dog!&quot;</p>

                                <div class="centered">
                                        <%= image_tag "7000-miles/sookie.jpg", height: "200", class: "rounded" %>
                                </div>

                                <h3>Special Thanks:</h3>

                                <p>OPH would like to thank the many organizations and individuals who contributed to this effort.
                                <strong>Liza Hamilton</strong> for her hard work and talent creating this film.</p>

                                <p><strong>Vandana Anchalia, Jagriti Kumar, and all the great staff at Kannan Animal Welfare</strong> for all
                                they do to rescue suffering dogs on the streets of New Delhi.</p>

                                <p><strong>All the OPH adopters, fosters, transporters, and other volunteers</strong> who help Desi Dogs, and
                                all OPH rescue dogs, every day.</p>

                                <div class="centered">
                                        <%= image_tag "7000-miles/bundi.jpg", class: "rounded" %>
                                </div>
                        </div>
                </div>
        </div>
</div>
