<div class="row-fluid">
  <div class="span12">
    <div class="article">

    <h2>Community Partners</h2>

    <h1>Thank You!</h1>

    <p>Operation Paws for Homes has formed some incredible partnerships and is grateful to partner with local businesses
    and professionals who give their time, space and resources to assist us in our mission of saving dogs. Thank you for
    being a part of the OPH village of animal lovers who believe that all animals deserve second chances.</p>

    <h3>Boarding Facilities</h3>

    <% boarding =
      {
        alt: "Bark and Boarding",
        url: "https://barkandboarding.com/",
        img: "barkandboarding.gif"
      },
      {
        alt: "Country Club Kennels South",
        url: "http://countryclubkennels-south.com/",
        img: "countryclubkennels-south.png"
      },
      {
        alt: "Dog Tales Daycare",
        url: "http://www.dogtalesdaycare.com/",
        img: "dogtales.png"
      },
      {
        alt: "Dogwood Hill Kennels",
        url: "http://dogwoodhillkennels.com/",
        img: "dogwoodhill.png"
      },
      {
        alt: "Drew Sandberg",
        url: "mailto:drewsandberg29@gmail.com",
        img: "drew_sandberg.png"
      },
      {
        alt: "For Jake's Sake",
        url: "http://www.fortheloveofjake.com/",
        img: "for_jakes_sake.png"
      },
      {
        alt: "Lakeside Pet Resort",
        url: "http://www.lakesidepetresort.com/",
        img: "lakeside.gif",
        show_text: true
      },
      {
        alt: "Olde Towne Pet Resort",
        url: "http://www.oldetownepetresort.com/",
        img: "oldetownepetresort.png"
      },
      {
        alt: "Whole Dogz",
        url: "http://www.wholedogz.com/",
        img: "whole-dogz.png"
      },
      {
        alt: "Willow Run Kennels",
        url: "http://www.willowrunkennels.net/",
        img: "willow_run.gif"
      }

    %>

    <% boarding.each_slice(4) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span3">
              <a target="_blank" href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border thumbnail-center-text">
                <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], size: '150') %>
                <% if spon[:show_text] %>
                  <%= spon[:alt] %>
                <% end %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Veterinary and Medical Partners</h3>

    <% local_biz =
      {
        alt: "Anicira Veterinary Center",
        url: "http://harrisonburg.anicira.org/",
        img: "anicira.png"
      },
      {
        alt: "Banfield Pet Hospital",
        url: "https://www.banfield.com",
        img: "banfield.gif"
      },
      {
        alt: "Blue Ridge Veterinary Associates",
        url: "https://blueridgevets.com/",
        img: "blueridgevet.png"
      },
      {
        alt: "Cape Horn Veterinary Associates",
        url: "https://www.capehornvet.com/",
        img: "capehorn.jpg"
      },
      {
        alt: "Caring Hands",
        url: "http://caringhandsvet.com/",
        img: "caringhandsvet.png"
      },
      {
        alt: "Clearview Animal Hospital",
        url: "http://www.clearviewah.com/",
        img: "clearviewanimalhospital.png",
        show_text: true
      },
      {
        alt: "DC Vets",
        url: "https://dcvets.org",
        img: "dcvets.gif"
      },
      {
        alt: "Helping Hands",
        url: "https://www.helpinghandsvetva.com/",
        img: "helping_hands.jpg"
      },
      {
        alt: "Paws Animal Hospital",
        url: "http://pawsofhanover.com/",
        img: "pawshanover.png"
      },
      {
        alt: "Paw Veterinary Clinic",
        url: "https://www.vetmtairy.com/",
        img: "paw-veterinary.png"
      },
      {
        alt: "Piedmont Pets Veterinary Care",
        url: "http://piedmontpetsvet.com/",
        img: "piedmont.png"
      },
      {
        alt: "Shrewsbury Vet",
        url: "http://www.shrewsburyvet.com",
        img: "shrewsbury.gif"
      },
      {
        alt: "Spay Now Animal Surgery Clinic",
        url: "https://www.spaynow.com/",
        img: "spaynow.gif"
      },
      {
        alt: "Value Vet",
        url: "http://www.valuevet.net/",
        img: "valuevet.png"
      },
      {
        alt: "Walkersville Veterinary Clinic",
        url: "http://www.walkersvillevet.com",
        img: "walkersville.gif"
      }
    %>


    <% local_biz.each_slice(4) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span3">
              <a target="_blank" href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border thumbnail-center-text">
                <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], size: '150') %>
                <% if spon[:show_text] %>
                  <%= spon[:alt] %>
                <% end %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Training Partners</h3>

    <% training =
      {
        alt: "Creekside Canine Training",
        url: "http://www.creeksidecanine.com/",
        img: "creekside.png"
      },
      {
        alt: "Dogwood Elementary",
        url: "http://www.dogwoodelementary.com/",
        img: "dogwood.png",
        show_text: true
      },
      {
        alt: "Dogwood Hill Kennels",
        url: "http://dogwoodhillkennels.com/",
        img: "dogwoodhill.png"
      },
      {
        alt: "Einsteink9 Dog Training",
        url: "http://www.einsteink9training.com/",
        img: "einsteink9.png"
      },
      {
        alt: "Faithful Paws Dog Training",
        url: "https://faithfulpawsdogtraining.wordpress.com/",
        img: "faithfulpaws.png"
      },
      {
        alt: "K9 Harmony",
        url: "http://www.k9harmony.us/",
        img: "k9harmony.png"
      },
      {
        alt: "K9 Koncepts",
        url: "http://www.k9koncepts.com/",
        img: "k9koncepts.png"
      },
      {
        alt: "MCS Dog Training",
        url: "http://mcsdogtraining.net/",
        img: "mcsdogtraining.png"
      },
      {
        alt: "Olde Towne Pet Resort",
        url: "http://www.oldetownepetresort.com/",
        img: "oldetownepetresort.png"
      },
      {
        alt: "Patrick's Pet Care",
        url: "https://patrickspetcare.com/",
        img: "patrickspetcare.png",
        show_text: true
      },
      {
        alt: "Paw by Paw",
        url: "https://www.facebook.com/pawbypawtraining/",
        img: "pawbypaw.png"
      },
      {
        alt: "Perfect Paws U",
        url: "http://perfectpawsu.com/",
        img: "perfectpawsu.gif"
      },
      {
        alt: "Ray's Canine Services",
        url: "http://www.rayscanineservices.com/",
        img: "rayscanineservices.png"
      },
      {
        alt: "Show Me Your Dog",
        url: "http://www.showmeyourdog.com",
        img: "showmeyourdog.jpg"
      },
      {
        alt: "Sidewalk Dog Training",
        url: "http://www.sidewalkdogtraining.com/",
        img: "sidewalk.jpg"
      },
      {
        alt: "Valerie Mocogni",
        url: "mailto:vmoccogni@gmail.com",
        img: "valeriemocogni.gif"
      },
      {
        alt: "Wholistic Hound Academy",
        url: "http://www.wholistichound.com/",
        img: "wholistichound.jpg"
      }
    %>


    <% training.each_slice(4) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span3">
              <a target="_blank" href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border thumbnail-center-text">
                <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], size: '150') %>
                <% if spon[:show_text] %>
                  <%= spon[:alt] %>
                <% end %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Event Hosts</h3>

      <p><strong><a target="_blank" href="http://barknatural.com/">Barks – Pikesville, MD</a></strong> - This Barks location has been a longtime
      supporter of OPH and our Maryland based dogs!</p>

      <p><strong><a target="_blank" href="http://thedogparkva.biz/">The Dog Park - Alexandria, VA</a></strong> – This Dog Boutique is the It Place for dogs
      to be spotted in Old Town Alexandria!  Stop in and meet the entire staff at The Dog Park, located on King Street in
      downtown Alexandria.  While you are there, don’t forget to let your Four Legged Friend
      sample some of the yummy treats offered for sale!</p>

      <p><strong><a target="_blank" href="http://www.petco.com/content/locator/Details.aspx?storeId=2724&Nav=2">Petco - Glen Burnie, MD</a></strong> - The Petco in Glen Burnie, MD
      is a terrific site for community outreach and adoption events.  We will be participating in their Mega Adoption Event weekend on September 21st.
      The Petco is very generous and supportive of adopters by providing discounts on necessary items and providing dog obedience classes.</p>

      <p><strong><a target="_blank" href="http://stores.petsmart.com/1817">PetSmart - Abingdon, MD</a> - </strong>The PetSmart in Abingdon, MD has a very supportive staff that is
      always excited to host an OPH event. They have been very generous with their monthly donation of supplies for the dogs in foster care. PetSmart also donates
      funds to OPH for each dog that is adopted at an event they host.</p>

      <p><strong><a target="_blank" href="http://us.petvalu.com/location/5213">PetValu - Clifton, VA</a></strong> – The wonderful staff at Clifton Pet Valu have been so great to OPH
      dogs and volunteers!  Stop in to Pet Valu and they will be happy to assist in finding the
      best food, discovering the next best thing to a tennis ball, or selecting an outfit for your
      pet!</p>

      <p><strong><a target="_blank" href="http://petvalu.com/location/5030">PetValu - Pasadena, MD</a></strong> - The PetValu in Pasadena, MD has been one of the most generous
      and supportive event hosts that OPH could hope for in our mission to rescue dogs.  They have assisted us in fundraising by matching what we raise and
      have been extremely generous in donating supplies for the dogs in foster care.</p>

      <p><strong><a target="_blank" href="http://www.uptownpetboutique.com/">Uptown Pet Bistro and Boutique</a></strong> - Uptown Pet Bistro and Boutique is one of our most
      popular event locations in Fairfax, VA. This unique boutique is a great place to find one of a kind items for your pampered pet. The Boutique owner
      is extremely knowledgeable about organic dog food, treats and supplements. Be sure to stop by and take advantage of Uptown Pet Bistro and Boutique's
      customer appreciation sales!</p>

  </div>
  </div>
</div>
