<div class="row-fluid">
  <div class="span12">
    <div class="article">

    <h1>Sponsors and Contributors</h1>

    <p>Operation Paws for Homes is a 501(c)(3) organization and is 100% donor funded.
    OPH receives no funding from federal, state, or county governments.  As a result, OPH
    Rescue relies on generous donations and the adoption fees of our dogs to help in our
    mission of saving dogs from shelters and finding them forever homes!</p>

    <h2>Sponsors</h2>

    <p>OPH Rescue would like to express our deep gratitude to the businesses and individuals
    who support our mission by becoming OPH Sponsors!  These contributors help us to
    save the amazing dogs we find huddled in a shelter, running out of time in a kennel run,
    or overlooked because of their fear for being abandoned in an unknown place and give
    them the opportunity to find caring, loving forever homes.  Saying thank you doesn’t
    seem to be enough for the support, but we do know it is a great start!</p>

    <h3>Sporting Dog - $1,000 Sponsorship</h3>

    <% sponsors_1000 =
      { url: "http://www.millertoyota.com/",
        img: "millertoyota.png"
      },
      {
        url: "http://www.royalpethaven.com/",
        img: "royalpethaven.jpg"
      }
    %>

    <% sponsors_1000.each_slice(3) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span4">
              <a href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border">
                <%= image_tag "sponsors/"+spon[:img] %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Herding Dog - $500 Sponsorship</h3>

    <% sponsors_500 =
      { url: "http://www.fvcbank.com/",
        img: "fvcbank.jpg"
      },
      { url: "https://vcahospitals.com/southpaws",
        img: "vcahospitals.jpg"
      }
    %>

    <% sponsors_500.each_slice(3) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span4">
              <a href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border">
                <%= image_tag "sponsors/"+spon[:img] %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Working Dog - $250 Sponsorship</h3>

    <% sponsors_250 =
      {
        url: "https://www.novec.com/",
        img: "novec.jpg"
      },
      {
        url: "http://www.walkingdogsva.com/",
        img: "walkingdogsva.jpg"
      },
      {
        url: "http://huxleyandkent.com/",
        img: "huxley_kent.png"
      },
      {
        url: "https://www.homeagain.com/",
        img: "homeagain.png"
      },
      {
        url: "http://www.dogtranquility.com/",
        img: "dogtranquility.png"
      },
      {
        url: "http://monument-title.com/",
        img: "monument-title.png"
      },
      {
        url: "https://www.burkecentrepetsitting.com/",
        img: "burkecentrepetsitting.jpg"
      },
      {
        url: "http://www.naturesnibbles.com/",
        img: "naturesnibbles.jpg"
      },
      {
        url: "http://www.poop911.com/",
        img: "poop911.png"
      },
      {
        url: "http://www.freshwaveworks.com/",
        img: "freshwaveworks.png"
      }

    %>

    <% sponsors_250.each_slice(3) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span4">
              <a href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border">
                <%= image_tag("sponsors/"+spon[:img], size: '250') %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>Hunting Dog - $100 Sponsorship</h3>

    <% sponsors_100 =
      {
        url: "http://www.valleyenergy.org/",
        img: "valley_energy.jpg"
      },
      {
        url: "http://www.affectionatepetcare.com/",
        img: "affectionate_pc.jpg"
      },
      {
        url: "http://caringhandsvet.com/",
        img: "caringhandsvet.png"
      },
      {
        url: "http://www.awoiponline.com/",
        img: "awoiponline.jpg"
      },
      {
        url: "https://rudysfriendsdogtraining.com/",
        img: "rudysfriendsdogtraining.jpg"
      }
    %>

    <% sponsors_100.each_slice(3) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span4">
              <a href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border">
                <%= image_tag "sponsors/"+spon[:img] %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h3>In-Kind Product Sponsorship</h3>

    <% sponsors =
      { url: "http://www.1800petmeds.com/",
        img: "1800petmeds.jpg"
      },
      { url: "https://www.vippetcare.com/",
        img: "vippetcare.png"
      },
      { url: "https://naturvet.com/",
        img: "naturvet.png"
      },
      { url: "http://www.chocolatebar.com/",
        img: "chocolatebar.png"
      },
      { url: "https://www.fizzionclean.com/",
        img: "fizzionclean.png"
      },
      { url: "https://enjoylifefoods.com/",
        img: "enjoylifefoods.png"
      },
      { url: "https://www.kindsnacks.com/",
        img: "kind_snacks.jpg"
      },
      { url: "http://browniebrittle.com/",
        img: "browniebrittle.jpg"
      },
      { url: "http://www.invisibleglass.com/",
        img: "invisibleglass.jpg"
      },
      { url: "http://www.formostgc.com/",
        img: "formostgc.png"
      },
      { url: "https://www.stellaandchewys.com/",
        img: "stellaandchewys.jpg"
      },
      { url: "http://www.abuelita.com/",
        img: "abuelita.jpg"
      }
    %>

    <% sponsors.each_slice(3) do |slice| %>
      <div class="row">
        <div class="span12">
          <ul class="thumbnails">
          <% slice.each do |spon| %>
            <li class="span4">
              <a href="<%= spon[:url] %>" class="thumbnail thumbnail-no-border">
                <%= image_tag "sponsors/"+spon[:img] %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

      <h2>Contributors</h2>

      <p>Many businesses and professionals give their time, space, resources and discounted
      fees to assist us in our mission of saving dogs.  They are partners with OPH and –
      without their support – we could not continue to rescue dogs, help find forever homes
      for the dogs, and work to end the influx of unwanted dogs into rural shelters in the
      South.  It’s hard to imagine how many moving parts and pieces go into a “rescue” of
      a dog.  You have shown our rescued dogs and our team of incredible volunteers
      that creating a village of dog lovers who will work for a common goal is something
      obtainable!</p>

      <p><%= image_tag "sponsors/bissell.gif" %><%= image_tag "sponsors/lost-pets-usa.gif" %></p>

      <p><strong><a href="http://www.bissell.com/partnersforpets">Bissell’s Partners for Pets</a></strong> –
        Operation Paws For Homes is proud to be a Partner for Pets! BISSELL and LostPetUSA.net have teamed up to help organizations like ours raise money, and now you can help too!  When you purchase pet products on <a href="http://www.bissell.com">bissell.com</a> and enter the code ADOPT at checkout, a portion of your purchase will be donated to our organization.</p>

      <p><strong>Thanks <a href="http://www.1800petmeds.com">1-800-PetMeds</a> for the donation of <a href="http://www.1800petmeds.com/Flea+++Tick-cat10.html">flea prevention</a> for our adoptable pets! </strong></p>

      <a name="it-services"></a><h3>IT Services</h3>
      <p>This website would not be possible without the services donated by these companies.</p>

      <p><a href="https://browserstack.com"><%= image_tag "sponsors/browserstack.png" %></a></p>
      <p>Thanks to <a href="https://browserstack.com">BrowserStack</a> we are able to test the functionaliy of our site across a wide variety of browsers and mobile devices quickly and easily.</p>
      <ul class="unstyled">
        <li><a href=https://github.com/>GitHub</a></li>
        <li><a href="https://google.com">Google</a></li>
        <li><a href="https://hakiri.io">Hakiri</a></li>
        <li><a href="https://moqups.com/">Moqups</a></li>
        <li><a href="https://newrelic.com/">NewRelic</a></li>
      </ul>

      <h3>Photographers</h3>

      <p>A special thank you to our wonderful photographers who donate their time and talent to
      help showcase the adorableness of our pooches!  We appreciate their incredible photos
      and know that several dogs have found forever homes thanks to their efforts! Be sure to visit Allen and Michael’s websites to see their beautiful photographs, learn
      more about the amazing pet portraits they can create for you, and to follow their Doggie
      Blogs.</p>

      <strong><a href="http://www.allenpearsonsphotos.com/-/allenpearsonsphotos/">Allen Pearson</a></strong> <br>
      <strong><a href="http://michaelgarth.com/">Michael Garth</a></strong> <br>

      <a href="https://nancyslattery.smugmug.com/"><%= image_tag "sponsors/wags-pet-portaits.jpg" %></a>


      <h3>Local Businesses</h3>

      <p><strong><a href="http://pawsofhanover.com/">Paws Animal Hospital</a></strong> – Jessica and the wonderful staff at Paws in Hanover, PA have
      been long time supporters of OPH!  We couldn’t be more grateful.  Paws provides high
      quality veterinary medicine in a friendly, welcoming environment.</p>


      <p><strong><a href="http://www.piedmontpetsvet.com/">Piedmont Pets Veterinary Care</a></strong> – A heartfelt thank you to Dr. Lutz and her wonderful
      staff in Warrenton, VA who have been so kind and compassionate to many OPH dogs
      over the years.  Dr. Lutz was our first partner in treating heartworm disease.  Thanks to
      her excellent care, the dogs who came in suffering from heartworm are given a chance
      at life that would not have been possible years ago!</p>

      <p><strong><a href="http://helpinghandsvetclinic.com/">Helping Hands Veterinary Clinic</a></strong> - A huge thanks to Dr. Rao and her staff for the loving care and attention they have given to so many of our OPH dogs. Dr. Rao is a compasionate, caring and thourough vet that provides board certified care.
      Helping Hands Veterinary Clinic offers in house laborartory, radiology, surgery and dental care as well as routine pet care.
      The clinic is located at 13653 Unionville Road, Mt. Airy, Maryland 21771 </p>

      <p><strong><a href="http://pawsibilitiescollars.com/">Pawsibilities Collars for Dogs!</a></strong> – Looking for fashionable accessories for your dog?
      Look no more!  This website has amazing products available for the hip dogster.  They
      are also amazing supporters of OPH and help us in our mission to save dogs!</p>

      <p><strong><a href="http://otsfd.com">Olde Towne School for Dogs</a></strong> – The wonderful staff at Olde Towne School for Dogs
      has been longtime supporters of OPH and our Virginia based endeavors.  Stop in and
      ask for help in finding a great food for your pup!</p>

      <p><strong><a href="http://www.alwaystherehorsecare.com">Malena Brisbois, LVT - Always There Horse Care</a></strong></p>

      <p><strong><a href="http://manassas.anicira.org/">Anicira</a></strong> - Manassas, VA </p>

      <p><strong><a href="https://blueridgevets.com/">Blue Ridge Veterinary Associates </a></strong> - Purcellville, VA <p>

      <p><strong><a href="http://www.valuevet.net/">Value Vet</a></strong> - McLean, VA </p>

      <p><strong><a href="http://www.capehornvet.com/">Cape Horn Veterinary Associates</a></strong> - Red Lion, PA </p>

      <p><strong><a href="http://www.clearviewah.com/">Clearview Animal Hospital</a></strong> - Hanover, PA </p>

      <p><strong><a href="http://piedmontpetsvet.com/">Piedmont Pets</a></strong> - Warrenton, VA </p>

      <p><strong><a href="http://palmyraac.com/">Palmyra Animal Clinic</a></strong> - Palmyra, PA </p>

      <h3>Event Hosts</h3>

      <p><strong><a href="http://us.petvalu.com/location/5213">PetValu Clifton, VA</a></strong> – The wonderful staff at Clifton Pet Valu have been so great to OPH
      dogs and volunteers!  Stop in to Pet Valu and they will be happy to assist in finding the
      best food, discovering the next best thing to a tennis ball, or selecting an outfit for your
      pet!</p>

      <p><strong><a href="http://thedogparkva.biz/">The Dog Park</a></strong> – This Dog Boutique is the It Place for dogs to be spotted in Old Town
      Alexandria!  Stop in and meet the entire staff at The Dog Park, located on King Street in
      downtown Alexandria.  While you are there, don’t forget to let your Four Legged Friend
      sample some of the yummy treats offered for sale!</p>

      <p><strong><a href="http://barknatural.com/">Barks</a></strong> – Located in Pikesville, Maryland, this Barks location has been a longtime
      supporter of OPH and our Maryland based dogs!</p>

      <p><strong><a href="http://petvalu.com/location/5030">PetValu Pasadena, MD</a></strong> - The PetValu in Pasadena, MD has been one of the most generous
      and supportive event hosts that OPH could hope for in our mission to rescue dogs.  They have assisted us in fundraising by matching what we raise and
      have been extremely generous in donating supplies for the dogs in foster care.</p>

      <p><strong><a href="http://www.petco.com/content/locator/Details.aspx?storeId=2724&Nav=2">Petco Glen Burnie, MD</a></strong> - The Petco in Glen Burnie, MD
      is a terrific site for community outreach and adoption events.  We will be participating in their Mega Adoption Event weekend on September 21st.
      The Petco is very generous and supportive of adopters by providing discounts on necessary items and providing dog obedience classes.</p>

      <p><strong><a href="http://stores.petsmart.com/1817">PetSmart Abingdon, MD</a> - </strong>The PetSmart in Abingdon, MD has a very supportive staff that is always excited to host an OPH event. They have been very generous with their monthly donation of supplies for the dogs in foster care. PetSmart also donates funds to OPH for each dog that is adopted at an event they host.</p>

      <p><strong><a href="http://www.uptownpetboutique.com/">Uptown Pet Bistro and Boutique</a></strong> - Uptown Pet Bistro and Boutique is one of our most popular event locations in Fairfax, VA. This unique boutique is a great place to find one of a kind items for your pampered pet. The Boutique owner is extremely knowledgeable about organic dog food, treats and supplements. Be sure to stop by and take advantage of Uptown Pet Bistro and Boutique's customer appreciation sales!</p>

      <h3>Boarding Facilities</h3>

      <p><strong><a href="http://www.dogtalesdaycare.com/">Dog Tales Daycare</a></strong> - Chantilly, VA</p>
      <p><strong><a href="http://www.wholedogz.com/"><%= image_tag "sponsors/whole-dogz.png", size: "120x120" %></a>  <a href="http://www.wholedogz.com/">Whole Dogz</a></strong> - Alexandira, VA</p>
      <p><strong><a href="http://www.royalpethaven.com/">Royal Pet Haven LLC</a></strong> - Alexandria, VA </p>
      <p><strong><a href="http://dogwoodhillkennels.com/">Dogwood Hill Kennels</a></strong> -  Reva, VA</p>
      <p><strong><a href="http://www.oldetownepetresort.com/">Olde Towne Pet Resort</a></strong> - Springfield, VA - Rockville, MD - Sterling, VA</p>
      <p><strong><a href="http://www.countrycomfortkennels.com/"> Country Comfort Kennels</a></strong> - Delta, PA</p>
      <p><strong><a href="https://www.cozycaninepa.com/">Cozy Canine LLC</a></strong> - Fairfield, PA</p>
      <p><strong><a href="http://www.dpncc.com/">Dog Paws 'n Cat Claws Pet Care</a></strong> - Bailey's Crossroads, VA</p>
      <p><strong><a href="http://www.lakesidepetresort.com/">Lakeside Pet Resort</a></strong> – Hanover, PA </p>
      <p><strong><a href="https://www.bestfriendsfurever.com/">Best Friends Fur Ever</a></strong> - Joppa, MD</p>
      <p><strong><a href="http://countryclubkennels-south.com/">Country Club Kennels South</a></strong> - Locust Grove, VA</p>
      <p><strong><a href="http://www.willowrunkennels.net/">Willow Run Kennels</a></strong> - Linden, VA</p>

  </div>
  </div>
</div>
