<div class="container">
    <div class="row pt-4-md pt-2">
        <div class="col-sm-4">
            <div class="my-sm-5">
                <%= image_tag 'donate-1.png', width: 350, class: 'img-fluid rounded' %>
            </div>
            <div class="my-sm-5 d-none d-sm-block">
                <%= image_tag 'donate-2.png', width: 350, class: 'img-fluid rounded' %>
            </div>
            <div class="my-sm-5 d-none d-sm-block">
                <%= image_tag 'donate-3.png', width: 350, class: 'img-fluid rounded' %>
            </div>
            <div class="my-sm-5 d-none d-sm-block">
                <%= image_tag 'donate-4.png', width: 350, class: 'img-fluid rounded' %>
            </div>

        </div>
        <div class="col-sm-8 pt-2">
            <h1>Make a gift. Save a life today.</h1>
            <p>Your gift to Operation Paws for Homes will immediately help us to save dogs in need!</p>

            <p>OPH depends on donations from generous people like you to provide the medical, transportation, fostering, and adoption services needed to place 1,200 homeless dogs in forever homes each year.</p>

            <p><a class="btn btn-primary btn-large" href="/donations/new">Donate</a></p>

            <p>Our rescued dogs are cared for throughout their adoption journey, from before they leave the shelter in the transport van to the day they’re welcomed with open arms by their adopters. Adoption fees help offset our expenses, but do not cover all of the services that are needed and provided by OPH. </p>

            <h3>How you can help.</h3>

            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag "dog-vaccine.png", size: "100"%>
                    <p>$25 provides vaccines for a  small puppy</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "dog-transport.png", size: "100" %>
                    <p>$75 transports one dog up to 600 miles to safety</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "vet-with-dog.png", size: "100" %>
                    <p>$100 spays or neuters a dog and prevents an unwanted litter</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag "sick-dog.png", size: "100" %>
                    <p>$200 covers respiratory treatment for one dog</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "dog-meds.png", size: "100" %>
                    <p>$500 funds lifesaving heartworm treatment for a dog</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "veternarian.png", size: "100" %>
                    <p>$1,000 funds lifesaving tumor removal for one dog</p>
                </div>
            </div>

            <h3>Donate Online</h3>

            <p><a class="btn btn-primary btn-large" href="/donations/new">Donate</a></p>

            <p>Donations can be made <a href="/donations/new">online</a> through our secure website or via <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest">PayPal</a>.</p>

            <h3>Monthly Giving Club</h3>

            <p>OPH receives multiple heartbreaking calls for help every week.  These frantic pleas come at the 11th hour – many times for a dog whose medical needs can't be met by the local shelter.  Join our Monthly Giving Club and help OPH answer this call for help – and let’s make that answer <strong>yes</strong>.</p>

            <%= form_with(url: new_donation_path, method: "get") do |f| %>
                <div class="form-group">
                    <%= f.label :amount, "Monthly Options:" %>
                    <%= f.select :amount, Donation::MONTHLY_AMOUNTS, { include_blank: "Select" }, { class: 'form-control col-2' } %>
                </div>
                <div class="form-group">
                    <%= f.label :comment, "T-Shirt Size:" %>
                    <%= f.collection_select :comment, Donation::TSHIRT_SIZE, :last, :first, { include_blank: "None" }, { class: 'form-control col-2' } %>
                    <small class="form-text text-muted">For donors of $25/month or more</small>
                </div>
                <%= f.hidden_field(:frequency, value: 'Monthly') %>
                <%= f.submit "Join", class: 'btn btn-primary btn-large' %>
            <% end %>

            <p><strong>With your generous donations, we will be the life line for the dogs who need us most.</strong></p>

            <h3>Donate by Check</h3>

            <p>To make a gift by check, please make your check payable to <strong>Operation Paws for Homes</strong> and mail to</p>

            <address>
            <strong>Operation Paws for Homes</strong><br>
            P.O. Box 90813<br>
            Alexandria, VA 22309<br>
            </address>

            <h3>Donate Your Vehicle</h3>

            <p>Operation Paws for Homes has partnered with the Melwood Foundation to accept vehicle donations.  For information on how to donate your vehicle to us call <strong>1-877-MEL-WOOD</strong></p>

            <h3>Combined Federal Campaign <%= Time.now.year %></h3>

            <p>Operation Paws for Homes is proud to be part of the <%= Time.now.year %> <a href="http://cfcnca.org/">Combined Federal Campaign of the National Capital Area (CFCNCA)</a>. Federal Employees within the National Capital Area can use code <strong>44590</strong> to donate to OPH.</p>

            <h3>Donate While Online Shopping</h3>

            <p>Did you know you can shop and support OPH at the same time?  Learn more <%= link_to "here", other_ways_to_give_path %> about additional ways to give.

            <hr>
            <p>Your donation that is made in support of a campaign will be used to fund that campaign or assist that specific animal.  Don’t worry - if the funds raised exceed the goal set for a campaign, the extra funds are used to support our mission. We appreciate your support!</p>

            <p>Operation Paws for Home is a registered as a 501(c)3 nonprofit in the US. All donations are tax-deductible. Tax ID: <strong>45-2785962</strong>. Thank you for your support of our mission!</p>

            <p>Please note that we proudly recognize the names of individuals and funders who give $250 or more within a calendar year on our website. If you would prefer to remain anonymous, please email <a href="mailto:donate@ophrescue.org">donate@ophrescue.org</a>. Thank you for your support of our mission!</p>

        </div>
    </div>
</div>
