<div class="container-fluid">
  <div class="partner">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">

        <h2>Funding Partners</h2>

        <h1>Thank You!</h1>

        <p>Operation Paws for Homes is a 501(c)(3) organization and is 100% donor funded.
        We do not receive funding from federal, state or county governments. As a result,
        we rely on generous donations and the adoption fees to help in our mission of saving animals
        from shelters and finding them forever homes. Thank you for joining our mission to creating a
        No Kill nation and helping to write the futures for thousands of dogs and cats every year.</p>

        <h3>$5,000 - $9,999</h3>
      </div>
    </div>
      <% sponsors_5000 =
          {
            url: "https://ophfriendsfamilyprogram.weebly.com/",
            img: "linda-wolf-homes.jpg",
            alt: "Wolf Real Estate"
          },
          {
            url: "#",
            img: "christina_young.png",
            alt: "Christina Young"
          }
        %>
    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% sponsors_5000.each_slice(3) do |slice| %>
              <% slice.each do |spon| %>
              <div class="col md-4 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75") %>
                    <% if spon[:show_text] %>
                      <div class="card-body"><%= spon[:alt] %></div>
                    <% end %>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h3>$2,500 - $4,999</h3>
      </div>
    </div>
        <% sponsors_2500 =
          {
            url: "http://www.fvcbank.com/",
            img: "fvcbank.jpg",
            alt: "FVC Bank"
          },
          {
            url: "",
            img: "",
            alt: ""
          }
        %>
    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% sponsors_2500.each_slice(3) do |slice| %>
              <% slice.each do |spon| %>
              <div class="col md-4 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75")%>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h3>$1,000 - $2,499</h3>
      </div>
    </div>

        <% sponsors_1000 =
          {
            url: "#",
            img: "fitzgerald-kolish.png",
            alt: "David FitzGerald and Elaine Kolish"
          },
          {
            url: "http://www.petfinderfoundation.com/",
            img: "petfinder-foundation.jpg",
            alt: "Petfinder Foundation"
          },
          {
            url: "#",
            img: "scott_karen_roland.png",
            alt: "Scott and Karen Roland"
          },
          {
            url: "https://www.washluberepair.com/",
            img: "washluberepair.png",
            alt: "The Auto Spa, The Lube Center, The Auto Repair"
          },
          {
            url: "#",
            img: "libera_family.png",
            alt: "The Libera Family"
          },
          {
            url: "http://dzaruba.com/",
            img: "zaruba.jpg",
            alt: "Zaruba Gallery"
          }
        %>

    <div class="album">
      <div class="container">
          <% sponsors_1000.each_slice(3) do |slice| %>
            <div class="row align-items-center">
            <% slice.each do |spon| %>
              <div class="col-md-4 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75") %>
                  </a>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h3>$500 - $999</h3>
      </div>
    </div>

        <% sponsors_500 =
          {
            url:"https://www.cfnova.org/" ,
            img: "cfnva.jpg",
            alt: "cfnva"
          },
          {
            url: "https://huxleyandkent.com/",
            img: "huxleyandkent.png",
            alt: "Huxley and Kent"
          },
          {
            url: "https://www.marksandharrison.com/accident-attorney/car-accidents/after-a-car-accident/",
            img: "marksandharrison.gif",
            alt: "Marks and Harrison"
          },
          {
            url: "http://www.millertoyota.com/",
            img: "millertoyota.png",
            alt: "Miller Toyota"
          },
          {
            url: "https://www.novec.com/",
            img: "novec.jpg",
            alt: "NOVEC"
          },
          {
            url: "http://www.plamondonhospitalitypartners.com/",
            img: "plamondon.jpg",
            alt: "Plamondon Hospitality Partners",
            show_text: true
          },
          {
            url: "#",
            img: "jason_kusar.png",
            alt: "Jason Kusar"
          },
          {
            url: "#",
            img: "lori_eric_painter.png",
            alt: "Lori and Eric Painter"
          },
          {
            url: "http://www.seafordconsulting.com/",
            img: "seaford_consulting.jpg",
            alt: "Seaford Consulting"
          },
          {
            url: "#",
            img: "vortex13.png",
            alt: "Vortex 13, LLC"
          }
        %>
    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% sponsors_500.each_slice(4) do |slice| %>
            <% slice.each do |spon| %>
              <div class="col-md-4 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75") %>
                    <% if spon[:show_text] %>
                      <div class="card-body"><%= spon[:alt] %></div>
                    <% end %>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h3>$250 - $499</h3>
      </div>
    </div>

        <% sponsors_250 =
          {
            url: "http://accentfenceva.com",
            img: "accentfenceva.jpg",
            alt: "Accent Fence, Inc."
          },
          {
            url: "#",
            img: "bryant.png",
            alt: "Joan Bryant"
          },
          {
            alt: "Corinto Gallery",
            url: "https://corintogallery.com/",
            img: "corintogallery.jpg"
          },
          {
            url: "http://www.dn3design.com/",
            img: "doorno3.png",
            alt: "DN3 (Door #3)"
          },
          {
            url: "#",
            img: "fink.png",
            alt: "Margaret Fink"
          },
          {
            url: "http://www.mynewfeet.com/",
            img: "frederickfootankle.png",
            alt: "Frederick Foot and Ankle"
          },
          {
            url: "#",
            img: "guindon.png",
            alt: "Stephanie Guindon"
          },
          {
            url: "https://www.homeagain.com/",
            img: "homeagain.png",
            alt: "HomeAgain"
          },
          {
            url: "#",
            img: "murphy.png",
            alt: "Steven Murphy"
          },
          {
            url: "http://melisapaserophotography.com/",
            img: "melisapaserophotography.jpg",
            alt: "Melisa Pasero Photography"
          },
          {
            url: "https://www.merck-animal-health.com/",
            img: "merckanimalhealth.jpg",
            alt: "Merck Animal Health"
          },
          {
            url: "http://www.olk9md.com/",
            img: "offleashk9.jpg",
            alt: "Off Leash K9 Training Maryland"
          },
          {
            url: "http://www.scoop-squad.com/",
            img: "scoop_squad.jpg",
            alt: "Scoop Squad"
          },
          {
            url: "#",
            img: "wilkins.png",
            alt: "Mike and Jennifer Wilkins"
          }
        %>
    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% sponsors_250.each_slice(6) do |slice| %>
            <% slice.each do |spon| %>
              <div class="col-md-3 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75") %>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h2>In-Kind Donors</h2>
        <p>
          <small>With a veterinarian’s prescription, you can save on medications like <a href="https://www.1800petmeds.com/Bravecto+Chews-prod11638.html" target="_blank">Bravecto</a> at 1-800-PetMeds</small>
        </p>
      </div>
    </div>
        <% sponsors =

          {
            url: "https://chewy.com",
            img: "chewy.png",
            alt: "Chewy"
          },
          {
            url: "https://www.commonmarket.coop/",
            img: "commonmarket.png",
            alt: "Common Market"
          },
          {
            url: "http://www.justforpetsyorkpa.com/",
            img: "justforpets.png",
            alt: "Just for Pets"
          },
          {
            url: "https://rawrev.com/",
            img: "rawrev.png",
            alt: "Raw Revolution"
          },
          {
            url: "https://www.wegmans.com/",
            img: "wegmans.png",
            alt: "Wegmans"
          }
        %>

    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% sponsors.each_slice(6) do |slice| %>
            <% slice.each do |spon| %>
              <div class="col-md-3 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag "sponsors/"+spon[:img], class: "w-75" %>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="article pages">
        <h2>In-Kind Services</h2>
      </div>
    </div>

      <% services =
          {
            url: "https://browserstack.com",
            img: "browserstack.png",
            alt: "Browserstack"
          },
          {
            url: "https://github.com",
            img: "github.jpg",
            alt: "GitHub"
          },
          {
            url: "https://google.com",
            img: "google.png",
            alt: "Google"
          },
          {
            url: "https://www.lustreart.com/",
            img: "lustreart.gif",
            alt: "LustreArt"
          },
          {
            url: "https://moqups.com/",
            img: "moqups.png",
            alt: "Moqups"
          },
          {
            url: "https://newrelic.com/",
            img: "newrelic.png",
            alt: "NewRelic"
          },
          {
            url: "http://michaelgarth.com/",
            img: "michaelgarth.jpg",
            alt: "Michael Garth"
          },
          {
            url: "https://www.facebook.com/wagspetportraitsphotography/",
            img: "wags-pet-portaits.jpg",
            alt: "Wags Pet Portraits"
          }
      %>

    <div class="album">
      <div class="container">
        <div class="row align-items-center">
          <% services.each_slice(6) do |slice| %>
            <% slice.each do |spon| %>
              <div class="col-md-3 mx-auto">
                <div class="card mb-4 border-0">
                  <a target="_blank" href="<%= spon[:url] %>">
                    <%= image_tag("sponsors/"+spon[:img], alt: spon[:alt], class: "w-75") %>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
