<div class="container-fluid">
  <div class="col-12">

    <h1 class="pages">Get Involved - Join Us!</h1>


    <p class="lead pages">Thank you for believing in our mission. There are many ways you can join OPH's family.  Learn more
about how to get involved below.</p>

    </div>


    <div class="album">
      <div class="container">
        <div class="row actions">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "get-involved-adopt.jpg", alt: "Adopt", class: "card-img-top" %>
              <div class="card-body text-center">
                <a class="btn btn-primary btn-lg" role="button" href="/guide">Adopt</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <%= image_tag "get-involved-foster.jpg",  alt: "Foster", class: "card-img-top" %>
              <div class="card-body text-center">
                <a class="btn btn-primary btn-lg" role="button" href="/foster">Foster</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <%= image_tag "get-involved-volunteer.jpg", alt: "Volunteer", class: "card-img-top" %>
                <div class="card-body text-center">
                <a class="btn btn-primary btn-lg" role="button" href="/volunteer">Volunteer</a>
              </div>
          </div>
        </div>
    <div class= "col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "get-involved-events.jpg", alt: "Events", class: "card-img-top" %>
        <div class="card-body text-center">
          <a class="btn btn-primary btn-lg" role="button" href="/events">Events</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "get-involved-trainers.jpg", alt: "Trainers", class: "card-img-top" %>
        <div class="card-body text-center">
         <a class="btn btn-primary btn-lg" role="button" href="/docs/oph-trainer-partnership-packet.pdf">Trainers</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "get-involved-vets.jpg", alt: "Vets", class: "card-img-top" %>
        <div class="card-body text-center">
          <a class="btn btn-primary btn-lg" role="button" href="/docs/oph-vet-partnership-packet.pdf">Vets</a>
        </div>
      </div>
    </div>
    <!-- <div class= "col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "get-involved-fundraise.jpg", alt: "Fundraise", class: "card-img-top" %>
        <div class="card-body text-center">
          <a class="btn btn-primary btn-lg" role="button" href="https://join.ophrescue.org/fundraiseforoph">Fundraise</a>
        </div>
      </div>
    </div> !-->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "get-involved-other.jpg", alt: "Other Ways", class: "card-img-top" %>
        <div class="card-body text-center">
          <a class="btn btn-primary btn-lg" role="button" href="/other-ways-to-give">Other Ways</a>
        </div>
      </div>
    </div>
    </div>
    </div>

  </div>

