<div class="row-fluid">
  <div class="span12">

    <h1>Get Involved - Join Us!</h1>

    <br />

    <p>Thank you for believing in our mission. There are many ways you can join OPH's family.  Learn more
about how to get involved below.</p>

    <br />


    <div class= "row-fluid">
      <ul class="thumbnails donate">
        <li class="span4">
          <div class="thumbnail thumbnail-blue">
            <a href="/adopt">
              <%= image_tag "get-involved-adopt.jpg", size: "350", alt: "Adopt" %>
              <div class="caption">
                <h3>Adopt</h3>
              </div>
            </a>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail thumbnail-blue">
            <a href="/foster">
              <%= image_tag "get-involved-foster.jpg", size: "350", alt: "Foster" %>
              <div class="caption">
                <h3>Foster</h3>
              </div>
            </a>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail thumbnail-blue">
            <a href="/volunteer">
              <%= image_tag "get-involved-volunteer.jpg", size: "350", alt: "Volunteer" %>
              <div class="caption">
                <h3>Volunteer</h3>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class= "row-fluid">
      <ul class="thumbnails donate">
          <li class="span4">
            <div class="thumbnail thumbnail-blue">
              <a href="/events">
                <%= image_tag "get-involved-events.jpg", size: "350", alt: "Events" %>
                <div class="caption">
                  <h3>Events</h3>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail thumbnail-blue">
              <a href="#">
                <%= image_tag "get-involved-trainers.jpg", size: "350", alt: "Trainers" %>
                <div class="caption">
                  <h3>Trainers</h3>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail thumbnail-blue">
              <a href="#">
                <%= image_tag "get-involved-vets.jpg", size: "350", alt: "Vets" %>
                <div class="caption">
                  <h3>Vets</h3>
                </div>
              </a>
            </div>
          </li>
      </ul>
    </div>
    <div class= "row-fluid">
      <ul class="thumbnails donate">
          <li class="span4">
            <div class="thumbnail thumbnail-blue">
              <a href="https://join.ophrescue.org/fundraiseforoph">
                <%= image_tag "get-involved-fundraise.jpg", size: "350", alt: "Fundraise" %>
                <div class="caption">
                  <h3>Fundraise</h3>
                </div>
              </a>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail thumbnail-blue">
              <a href="/other-ways-to-give">
                <%= image_tag "get-involved-other.jpg", size: "350", alt: "Other Ways" %>
                <div class="caption">
                  <h3>Other Ways</h3>
                </div>
              </a>
            </div>
          </li>
      </ul>
    </div>

  </div>
</div>
