<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
			<div class="pages">
				<h1>Adoption Guide</h1>
			</div>
		</div>

		<div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
			<div class="left">
				<%= image_tag "guide-1.jpg", class: "w-75 rounded side" %>
				<%= image_tag "guide-2.jpg", class: "w-75 rounded side" %>
				<%= image_tag "guide-3.jpg", class: "w-75 rounded side" %>
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="article pages">

				<p>The decision to bring a new pet into your home is a big one.
				Operation Paws for Homes wants to make sure your adoption goes as
				smoothly as possible.  With many wonderful dogs and cats to choose from, we’ll
				work with you to find one that is a great fit for you and your family.
				</p>

				<h2 id="application">Your Application</h2>

				<p>
				<%= link_to "Dog Adoption Application", "https://new.shelterluv.com/matchme/adopt/OPFH/Dog", :class => "btn btn-primary btn-large" %>
				<%= link_to "Cat Adoption Application", "https://new.shelterluv.com/matchme/adopt/OPFH/Cat", :class => "btn btn-primary btn-large" %>
				</p>

				<p>Our Adoption Application is designed to capture some information to form a valuable conversation with an adoption coordinator on which pet might be right for you. In addition to the application, you'll want to take care of the following:</p>

				<ul>
					<li><span class="badge badge-danger">Important</span> Your current pets must be up-to-date on vaccinations and preventatives before introducing a new pet to the home. </li>
					<li>If you rent, talk to your landlord about pet policies.</li>
				</ul>

				<p>nce your application is submitted, our volunteers will quickly confirm your veterinary and landlord references if needed, reach out to you for a conversation around what you are looking for in a pet, and help you find the right match.</p>

				<p>The application completion process can be as quick as 1-2 days depending on your availability.</p>

				<h2 id="dog">Selecting Your Pet</h2>

				<p>Once your application is approved, we will introduce you to the foster of the dog or cat you want to adopt. Together you can decide if you want to meet the pet</p>

				<p> Our dogs and cats are located in loving foster homes throughout Virginia, Maryland and Southern Pennsylvania.   You can also attend one of our many <a href="/events">adoption events.</a></p>

				<p>Our <a href="/dogs">Dog</a> and <a href="/cats">Cat</a> Galleries have our most up to date listing of pets available for adoption.  We adopt each dog or cat to the first approved and available adopter.  The dog or cat of your choice cannot be held or reserved until after your application is approved.  If the pet you want is adopted before your application is approved, we will gladly help you select a new pet.</p>

				<h2 id="fees">Adoption Fees and Contract</h2>

				<p>At the time of adoption, you must complete our Adoption Agreement and provide payment of our adoption fees. </p>

					<ul>
						<li>Adult dogs: <strong>$375</strong></li>
						<li>Puppies: <strong>$450</strong></li>
						<li>Seniors: <strong>$275</strong></li>
						<li>Cats: <strong>$200</strong></li>
					</ul>

				<p>OPH does not conduct DNA tests on the dogs it adopts out. We use information provided by the shelters, veterinarians and volunteers to give a best estimate of the dog's breed. As a result, we cannot guarantee the exact breed of any OPH dog. </p>

				<h2 id="after">After Adoption</h2>

				<p>At OPH, we work to ensure that your adoption goes smoothly.</p>

				<h3>Dogs</h3>

				<p>All dogs will be current on
				their DHLPP, bordetella, rabies, and will be tested for heartworm
				(age appropriate), and treated for intestinal parasites prior to adoption. Our dogs come from shelters in rural areas. Certain intestinal parasites may
				not present themselves while the dogs are in our care.</p>

				<p>Worms are a common problem for dogs, especially young dogs and puppies. They
				often require multiple dewormings to ensure you dog is worm free. OPH provides 1-2
				dewormers while the dog is in our care. Many dogs will require a third
				or fourth dewormer.</p>

				<p>Our dogs are also up to date on flea, tick and heartworm prevention before you take them
				home. You must continue these monthly treatments as a condition of your adoption.
				</p>

				<h3>Cats</h3>

				<p>All cats and kittens will be current on FVRCP and rabies vaccines. It is not uncommon for
				cats coming from shelters to have intestinal parasites. While in our care, cats
				and kittens will receive at least one to two doses of dewormers. It is possible your cat or kitten will require
				additional treatments  after they are adopted.</p>

				<p>Our cats and kittens are up to date with flea and tick preventatives as
				appropriate for their age. We recommend you continue these preventives
				after adoption.</p>

				<h3>Medical Concerns</h3>

				<p>If a medical concern arises shortly after adoption we may be able to help.
				Some conditions are not observed by a foster until the pet transitions to a new home.
				Contact the Medical Coordinator at
				<strong><a href="mailto:meds@ophrescue.org">meds@ophrescue.org</a></strong>
				if there is a medical concern. We cannot reimburse you for vet bills or guarantee the health of a dog or cat after adoption.</p>

				<h3>Medical Records</h3>

				<p>Electronic copies of your pet's medical records are provided at adoption and hard copies are mailed approximately two weeks later. If you do not receive a copy of your records at the time of adoption, please email <strong>adopt@ophrescue.org</strong> with the name of your dog or cat and provide an email.</p>

				<h2 id="returns">Returning Your Pet</h2>

				<p>If you can no longer keep an adopted pet, please contact OPH for return or rehoming options and support.
				OPH may require a behavioral assessment at your expense before accepting any pet back into rescue.
				OPH is foster home based, meaning that we do not have a facility to house our pets. We will make reasonable efforts to find a volunteer foster home as quickly as possible for the pet.
				Foster homes are located in VA, MD, DC, and PA. OPH cannot predict which foster home will be available to take your pet, as our foster families are volunteers and choose pets based on which pets will fit in the dynamics of their home.</p>
			</div>
		</div>
	</div>
</div>
