<div class="container">
  <div class="row">
    <div class="span1 hidden-phone hidden-tablet">
      <%= image_tag "logo.png" %>
    </div>

    <div class="span6 hidden-phone hidden-tablet">
      <h2>Operation Paws for Homes</h2>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>

    <div class="span7 hidden-desktop">
      <h2>Operation Paws for Homes</h2>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>


    <div class="span5 hidden-phone">
      <span class="pull-right">
        <a href="https://www.facebook.com/Operationpawsforhomes"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="https://www.youtube.com/user/RescueOPH"><i class="fa fa-youtube fa-3x"></i></a>
        &nbsp; &nbsp;
          <a href="http://greatnonprofits.org/reviews/operation-paws-for-homes/role:2/">
            <%= image_tag "gnp-2016-award.png", alt: "2016 Top-rated nonprofits and charities" %>
          </a>
        </span>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="ophCarousel" class="carousel slide">
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag "hero_bg4.jpg", alt: "Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania" %>
            <div class="carousel-caption">
              <%= link_to "Our Dogs", dogs_path, :class => "btn btn-primary btn-large", :id => "hero-dog" %>
              <%= link_to "Apply for Adoption", new_adopter_path, :class => "btn btn-primary btn-large", :id => "hero-adopt" %>
            </div>
          </div>

          <div class="item">
            <%= image_tag "giving-tuesday-2016.jpg", alt: "Giving Tuesday 2016" %>
              <div class="carousel-caption">
                <%= link_to "Donate", "https://givingtuesday.razoo.com/us/story/B9pd1f", :class => "btn btn-primary btn-large" %>
              </div>
          </div>

          <div class="item">
            <%= image_tag "mooilab-banner.jpg", alt: "Mooilab" %>
              <div class="carousel-caption">
                <%= link_to "Information", "https://www.mooilab.com/", :class => "btn btn-primary btn-large" %>
              </div>
          </div>

        </div>
        <a class="left carousel-control" href="#ophCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#ophCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="well well-small">2016 Combined Federal Campaign of the National Capital Area (CFCNCA) <strong>#44590</strong></div>
    </div>
  </div>

  <div class="row">
    <div class="span4 eventphoto">
      <a href="/donate"><%= image_tag "home-donate.jpg" %></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/volunteer"><%= image_tag "home-get-involved.jpg" %></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/events"><%= image_tag "home-events.jpg" %></a>
      <br />
      <br />
    </div>
  </div>
<br />
  <div class="row">
    <div class="span12 hidden-tablet hidden-desktop">
      <span class="pull-right">
        <a href="https://www.facebook.com/Operationpawsforhomes"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="https://www.youtube.com/user/RescueOPH"><i class="fa fa-youtube fa-3x"></i></a>
        &nbsp; &nbsp;
          <a href="http://greatnonprofits.org/reviews/operation-paws-for-homes/role:2/">
            <%= image_tag "gnp-2016-award.png", alt: "2016 Top-rated nonprofits and charities" %>
          </a>
        </span>
    </div>
    <div class="row">
      <div class="span12">
        <a href="http://adoptapet.com"><%= image_tag "approved-rescue-badge.png" %></a>
        <%= image_tag "best-of-fairfax-2016.png" %>
         &nbsp; &nbsp;
        <a href="http://greatnonprofits.org/reviews/operation-paws-for-homes/role:2/">
            <%= image_tag "gnp-2015-award.png", alt: "2015 Top-rated nonprofits and charities" %>
        </a>
      </div>
    </div>
  </div>

<script type="text/javascript">
$('#ophCarousel').carousel({
   interval: 6000
});
</script>

</div>
