<div class="container front-page">
  <div class="row">
    <div class="span2 front-page-logo">
      <%= image_tag "logo.png", :size => "75x75" %>
    </div>

    <div class="front-page-header">
      <h2 class="front-page-header-title">Operation Paws for Homes</h2>
      <h5>
        <a class="front-page-header-link" href='/aboutus'>About Us</a>
        <%= link_to "Adopt", new_adopter_path, :class => "front-page-header-link"%>
        <a class="front-page-header-link" href="/partnerships">Partners</a>
        <%= link_to "Take Action", '/volunteer', :class => "front-page-header-link" %>
        <%= link_to "Events & Media", events_path, :class => "front-page-header-link"%>
        <a class="front-page-header-link" href="/contact">Contact Us</a>
        <%= link_to "Donate", '/donate', :class => "front-page-header-button" %>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col carousel-col">
      <div id="ophCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "hero_bg4.jpg", alt: "Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania", class:"d-block w-100" %>
          </div>

          <div class="carousel-item">
            <%= image_tag "front-page/rescue.jpg", alt: 'Rescue', class:"d-block w-100" %>
          </div>
        </div>
        <div class="carousel-overlay">
          <div class="carousel-text-wrapper">
            <div class="carousel-overlay-text">
              <h1>RESCUE</h1>
              <h4>We believe they all deserve a second chance.</h4>
              <a href="/resources" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#ophCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#ophCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row our-mission">
    <h3>OUR MISSION</h3>
    <h4>Annually, 50% of our dogs and 70% of cats in shelters are euthanized simply because there is no one to adopt them.</h4>
    <p>__________________________</p>
    <h4>OPH is committed to a No Kill nation and believes every animal deserves a loving home.</h4>
  </div>

  <div class="row take-action">
    <h3 class="col">TAKE ACTION</h3>
  </div>

  <div class="row take-action">
    <div class="col-sm front-page-action-thumbnail">
      <a href="/dogs">
        <%= image_tag "front-page/Adopt.jpg",  :class=> "take-action-image"%>
        <h5>ADOPT</h5>
      </a>
    </div>
    <div class="col-sm front-page-action-thumbnail">
      <a href="/foster">
        <%= image_tag "front-page/Foster.jpg", :class=> "take-action-image"%>
        <h5>FOSTER</h5>
      </a>
    </div>
    <div class="col-sm front-page-action-thumbnail">
      <a href="/volunteer">
        <%= image_tag "front-page/Volunteer.jpg",  :class=> "take-action-image"%>
        <h5>VOLUNTEER</h5>
      </a>
    </div>
  </div>
  <div class="row take-action">
    <div class="col-sm front-page-action-thumbnail">
      <a href="/donate">
        <%= image_tag "front-page/Donate.jpg", :class=> "take-action-image"%>
        <h5>DONATE</h5>
      </a>
    </div>
    <div class="col-sm front-page-action-thumbnail">
      <a href="/events">
        <%= image_tag "front-page/Events.jpg", :class=> "take-action-image"%>
        <h5>EVENTS</h5>
      </a>
    </div>
    <div class="col-sm front-page-action-thumbnail">
      <a href="/fundraise">
        <%= image_tag "front-page/Fundraise.JPG", :class=> "take-action-image"%>
        <h5>FUNDRAISE</h5>
      </a>
    </div>
  </div>
  <div class="row our-impact">
    <div class="container">
      <div class="row">
        <h3 class="col">OUR IMPACT</h3>
      </div>
      <div class="row">
        <div class="our-impact-thumbnail col">
          <%= image_tag "front-page/dogs-rescued.png", :size => "150x150"%>
          <h3>7,300</h3>
          <h5>Dogs Rescued</h5>
          <p>Since our founding in 2010, OPH has rescued over 7,300 dogs in need.</p>
        </div>
        <div class="our-impact-thumbnail col">
          <%= image_tag "front-page/dogs-placed-annually.png", :size => "150x150"%>
          <h3>1,300</h3>
          <h5>Dogs Placed Annually</h5>
          <p>Each year, OPH finds loving, permanent homes for 1,30 0deserving dogs.</p>
        </div>
        <div class="our-impact-thumbnail col">
          <%= image_tag "front-page/educated.png", :size => "150x150"%>
          <h3>240</h3>
          <h5>People Educated</h5>
          <p>Over 240 children and adults have participated in the Mult-i-gress program since 2017.</p>
        </div>
        <div class="our-impact-thumbnail col">
          <%= image_tag "front-page/food-delivered.png", :size => "150x150"%>
          <h3>25,000</h3>
          <h5>Lbs. of Supplies Delivered</h5>
          <p>Each year, OPH donates 25,000 lbs. of food to our shelter partners to support their divfe-saving efforts.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="connect">
  </div>
  <div class="footer">
  </div>


  <script type="text/javascript">
    $('#ophCarousel').carousel({
      interval: 5000
    });
  </script>

</div>
