<div class="row-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <%= image_tag "logo.png", size: "30x30" %> Operation Paws for Homes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Adopt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Take Action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donate</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="dog-hero">
    <div class="row-fluid">
        <div class="col-10">
            <div class="container dog-hero-content pb-5">
                <h1 class="display-5">Rescue</h1>
                <p class="lead">We believe they all deserve a second chance.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Adoptable Dogs</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Apply to Adopt</a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row pt-3 bg-lightblue">
    <div class="col-12 pb-5">
        <h2 class="text-center">Our Mission</h2>
        <h5 class="text-center">50% of dogs and 70% of cats in shelters are euthanized simply because there is no one to adopt them.</h5>
        <hr class="my-4">
        <h5 class="text-center">We are committed to a No Kill Nation and believes every animal deserves a loving home.</h5>
    </div>
</div>

<div class="row pt-5">
    <div class="col-12">
        <h2 class="text-center">Take Action</h2>
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-adopt.jpg", alt: "Adopt", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Adopt</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-foster.jpg", alt: "Foster", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Foster</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-volunteer.jpg", alt: "Volunteer", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Volunteer</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-other.jpg", alt: "Donate", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Donate</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-events.jpg", alt: "Events", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Events</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-fundraise.jpg", alt: "Fundraise", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Fundraise</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row pt-5 bg-lightblue">
    <div class="col-12">
        <h2 class="text-center">Our Impact</h2>
    </div>
</div>
<div class="row bg-lightblue text-center">
    <div class="col-md-3">
        <%= image_tag("home/dogs-rescued.png", size: "200") %>
        <h2>7,300</h2>
        <h5>Dogs Rescued</h5>
        <p>Since our founding in 2010, OPH has rescued over 7,300 dogs in need.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/dogs-placed-annually.png", size: "200") %>
        <h2>1,300</h2>
        <h5>Dogs Placed Annually</h5>
        <p>Each year, OPH finds loving, permanaent homes for 1,300 deserving dogs.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/people-educated.png", size: "200") %>
        <h2>240</h2>
        <h5>People Educated</h5>
        <p>Over 240 children and adults have participated in the Mutt足i足grees速 program since 2017.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/supplies-delivered.png", size: "200") %>
        <h2>25,000</h2>
        <h5>Lbs. of Supplies Delivered</h5>
        <p>Each year, OPH donates 25,000 lbs. of food and supplies to our shelter partners to support their life足saving efforts.</p>
    </div>
</div>


<div class="row justify-content-between pt-5">
    <div class="col-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Stay in Touch</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-4">
        <a href="https://www.facebook.com/Operationpawsforhomes" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="https://www.youtube.com/user/RescueOPH" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
    </div>
</div>
