<div class="container-fluid">

    <div class="row dog-hero">
        <div class="col-10">
            <div class="dog-hero-content">
                <%= image_tag "logo.png", alt: "OPH Logo" %>
                <h2 class="display-5">Operation Paws for Homes</h2>
                <p class="lead">We believe they all deserve a second chance.</p>
                    <span class="p-1"><a class="btn btn-primary btn-lg" id="cats_main" href="/cats" role="button">Cats</a></span>
                    <span class="p-1"><a class="btn btn-primary btn-lg" id="dogs_main" href="/dogs" role="button">Dogs</a></span>
            </div>
        </div>
    </div>


<div class="row pt-5 text-center">
    <div class="col-12">
        <%= image_tag "banner-2020-s2a.jpg", class: "img-fluid", alt: "Spring 2 Action" %>
    </div>
</div>
<div class="row py-2 text-center">
    <div class="col-12">
        <a href="https://www.spring2action.org/organizations/operation-paws-for-homes" class="btn btn-primary" target="_blank" rel="noopener">Donate</a>
    </div>
</div>


<div class="row pt-3 bg-lightblue px-5">
    <div class="col-12 pb-5 text-center">
        <h2 class="text-center">Our Mission</h2>
        <h5 class="text-center">Creating a better world for companion animals and the community through rescue, rehabilitation, education, spay/neuter, and providing resources to underserved populations.</h5>
        <a href="http://greatnonprofits.org/reviews/operation-paws-for-homes/role:2/" target="_blank" rel="noopener">
            <%= image_tag "gnp-2019-award.png", alt: "2019 Top-rated nonprofits and charities" %>
        </a>
    </div>
</div>

<div class="row pt-5">
    <div class="col-12">
        <h2 class="text-center">Take Action</h2>
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row actions">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                        <%= image_tag "get-involved-adopt.jpg", alt: "Adopt", class: "card-img-top" %>
                        <div class="card-body text-center">
                            <a class="btn btn-primary btn-lg" role="button" href="/guide">Adopt</a>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-foster.jpg", alt: "Foster", class: "card-img-top" %>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg" role="button" href="/foster">Foster</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-volunteer.jpg", alt: "Volunteer", class: "card-img-top" %>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg" role="button" href="/volunteer">Volunteer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-other.jpg", alt: "Donate", class: "card-img-top" %>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg" role="button" href="/donate">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-events.jpg", alt: "Events", class: "card-img-top" %>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg" role="button" href="/events">Events</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-international.jpg", alt: "International Programs", class: "card-img-top" %>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg" role="button" href="/international">International Programs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row pt-5 bg-lightblue">
    <div class="col-12">
        <h2 class="text-center">Our Impact</h2>
    </div>
</div>
<div class="row bg-lightblue text-center px-3">
    <div class="col-md-3">
        <%= image_tag("home/dogs-rescued.png", alt: "", size: "200") %>
        <h2>8,800</h2>
        <h5>Dogs Rescued</h5>
        <p>Since our founding in 2010, OPH has rescued over 8,800 dogs in need.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/dogs-placed-annually.png", alt: "", size: "200") %>
        <h2>1,300</h2>
        <h5>Dogs and Cats Rescued Annually</h5>
        <p>Each year, OPH finds loving homes for 1,300 deserving dogs and cats.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/people-educated.png", alt: "", size: "200") %>
        <h2>583</h2>
        <h5>People Educated</h5>
        <p>Over 583 children and adults have participated in the Mutt足i足grees速 program since 2016.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/supplies-delivered.png", alt: "", size: "200") %>
        <h2>47,000</h2>
        <h5>Lbs. of Supplies Delivered Annually</h5>
        <p>Each year, OPH donates 47,000 lbs. of food and supplies to our shelter partners to support their life足saving efforts.</p>
    </div>
</div>

<div class="row pt-5 text-center">
    <div class="col-12">
        <h2>News &amp; Updates</h2>
    </div>
</div>

<div class="row pt-5 text-center">
    <div class="col-12">
        <%= image_tag "banner-2020-5k.jpg", class: "img-fluid", alt: "Fast and Furriest 5k" %>
    </div>
</div>
<div class="row pt-2 text-center">
    <div class="col-12">
        <%= link_to "Registration", "https://bit.ly/2rd047k", :class => "btn btn-primary" %>
    </div>
</div>

<div class="row pt-5 text-center">
    <div class="col-12">
        <%= image_tag "banner-7000-miles.jpg", class: "img-fluid", alt: "7000 Miles Home" %>
    </div>
</div>
<div class="row pt-2 text-center">
    <div class="col-12">
        <%= link_to "Watch 7000 Miles Home", "/international/7000-miles-home", :class => "btn btn-primary" %>
        <%= link_to "Donate", "/campaigns/13", :class => "btn btn-primary" %>
    </div>
</div>

<div class="row justify-content-between pt-5">
    <div class="col-sm-4 offset-1">
        <!-- <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Stay in Touch</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form> !-->
    </div>
    <div class="col-sm-4 offset-1 pt-5">
        <a href="https://www.facebook.com/Operationpawsforhomes" target="_blank" rel="noopener"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH" target="_blank" rel="noopener"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes" target="_blank" rel="noopener"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="https://www.youtube.com/user/RescueOPH" target="_blank" rel="noopener"><i class="fa fa-youtube fa-3x"></i></a>
    </div>
</div>



<div class="row pt-5 text-center">
    <div class="col-12">
        <a href="http://adoptapet.com" target="_blank" rel="noopener"><%= image_tag "approved-rescue-badge.png", class: "img-fluid", alt: "Adoptapet Approved Rescue", size: "125" %></a>
        <%= image_tag "best-of-fairfax-2016.png", class: "img-fluid", alt: "Best of Fairfax 2016", size: "125" %>
        &nbsp; &nbsp;
        <%= image_tag "best-of-fairfax-2017.jpg", class: "img-fluid", alt: "Best of Fairfax 2017", size: "125" %>
         &nbsp; &nbsp;
        <a href="http://vfhs.org" target="_blank" rel="noopener"><%= image_tag "vfhs.png", class: "img-fluid", alt: "VFHS", size: "175"  %></a>
    </div>
<div>
</div>
