<div class="row-fluid">
  <div class="span12">
    <h1>Adopter &amp; Volunteer Takes OPH to India</h1>
  </div>
</div>

<div class="row-fluid">
    <div class="span8">
        <div class="article">
        <br/>
        <p>
            Have you ever had an experience so intense and engaging that you felt that time had stretched out, and weeks went
                by in the course of a single day? &nbsp;A time when when you are so in the flow of the experience that you do
                not want it to end?
        </p>
        <p>
            I recently had a such an experience -- a trip to India to work with an organization that helps sick and injured dogs
                on the streets of New Delhi. It was a life-changing experience, and has given me and a network of other volunteers
                a way to do something we love while making a &nbsp;meaningful contribution to helping animals in great need.
        </p>

        <h3>
            Adoption of an Indian Street Dog
        </h3>
        <p><%= image_tag "kaw-3.jpg", class: "right", alt: "Dogs Living on the Streets" %>
            Here&#39;s how the story begins: in March 2017, our beloved spaniel Clara died unexpectedly of a very aggressive
                form of cancer. We were devastated, but after a couple of months, we decided to move ahead and get another dog.
                &nbsp;We could not replace our beloved spaniel, but how could we &nbsp;live a dog-less life? &nbsp;
        </p>

        <p>
            I had heard of Operation &nbsp;Paws for Homes and took a look at their website. &nbsp;My eye was caught by a cute
                little black-and-white puppy who was described as being a confident and friendly rescue from the streets of India.
                I was intrigued by her story, and we applied to adopt her. Once Maya came into our home at the end of April,
                we were hooked -- she was smart, goofy, and eager to please, like many dogs -- but she also had a quality of
                &quot;otherness,&quot; &nbsp;a sense about her of her unusual place of origin. &nbsp;
        </p>

        <p>
            I did some reading to learn more about the street dogs of India, known as
            &quot;Desi Dogs.&quot; &nbsp;Many Desi Dogs are Indian Pariah Dogs, an ancient breed related to dingoes and other
                native dog breeds around the world. These dogs are very intelligent and loyal dogs with distinctive curled tails
                and narrow snouts.
        </p>

        <p>
            I also &nbsp;learned about the organization in India that had rescued Maya and sent her to OPH -- Kannan Animal Welfare

            (KAW)
            . And through OPH&#39;s Facebook page for adopters, Jagriti Kumar, the person who had fostered Maya in India, reached
                out to me. We started corresponding about Maya&#39;s story and about the work of KAW. &nbsp;I became very interested
                in the plight of Desi Dogs, and simultaneously inspired by the work of KAW in helping these dogs. &nbsp;In the
                summer of 2017, I had the opportunity to meet Jagriti while we both in Canada, and we discussed the possibility
                of my traveling to India and volunteering at KAW at some point. &nbsp;
        </p>

        <p>
            I pondered this idea during the fall, and by the end of the year, I decided that it was something I wanted to do.
                Just before Christmas, I made my reservations to go to New Delhi for ten days in February and March 2018. I was
                committed to this new project!
        </p>

        <h3>
            Kannan Animal Welfare
        </h3>
        <p><%= image_tag "kaw-article-kaw.jpg", class: "right", alt: "Kannan Animal Welfare" %>
            Kannan Animal Welfare (KAW), my destination for this journey, is an extraordinary organization. &nbsp;
            KAW, founded in 2015 by Vandana Achalia, is an animal rescue group that cares for sick and injured Desi Dogs. &nbsp;KAW
                has an animal care center on the outskirts of New Delhi. &nbsp;Dogs that are elderly or disabled live at KAW&#39;s
                center permanently. &nbsp;Approximately 70 to 80 dogs are in residence at KAW at any one time.
        </p>

        <p>
            KAW not only rescues Desi Dogs, but also spays/neuters them and cares for them until they are completely healed.
                &nbsp;In addition, KAW seeks adoptive homes for Desi Dogs when appropriate, both locally in India and internationally.
                &nbsp; KAW is led on a volunteer basis by Vandana and Jagriti, who work full-time in other jobs but devote their
                spare time (and more) to KAW. &nbsp;KAW also has thirteen staff who care for the animals and keep the center
                running. &nbsp;KAW has done amazing work with the hardest cases, committing to each dog they serve for life,
                no matter what the diagnosis or situation. &nbsp;And they do this with very few resources in a country in which
                animal welfare work is very challenging.
        </p>

        <p>
            Since 2016, OPH has partnered with
            KAW to help re-home Desi Dogs in the United States. &nbsp;
            The partnership between OPH and KAW formed after a volunteer who had lived in India connected the two organizations.

            OPH has found adoptive homes in the U.S. for over
            30 Indian dogs in the last two years.
        </p>

        <h3>
            World Spay Day Project and OPH&#39;s Support
        </h3>
        <p>
            Once I made my arrangements to travel, the people at KAW were very supportive of my impending visit. &nbsp;I didn&#39;t
                think that anyone besides KAW would be interested in my travels -- my goal was only to be a helpful volunteer
                and avoid getting in the way. &nbsp;But when word of my planned trip reached Jen Dodge, founder of OPH, and others
                in the OPH network, the outpouring of support amazed me. &nbsp;OPH immediately offered to do a campaign to raise
                money to sterilize dogs in India for World Spay Day. Coincidentally, World Spay Day, an international effort
                to promote spaying and neutering, was going to take place on February 28, during my time at &nbsp;KAW. Ultimately,
                OPH was able to raise funds to spay over 50 dogs, when combined &nbsp;with matching funds raised by KAW.
        </p>

        <p>
            In addition, OPH reached out to its network of supporters to collect donations of supplies for me to deliver to KAW
                on my trip. &nbsp;Supporters stepped up to the task and donated a large quantity of leashes, collars, brushes,
                doggie diapers, coats, toys, and other supplies.
        </p>

        <p>
            OPH also created a special Facebook group for its Desi Dog adopters and supporters, which quickly became a source
                of support, sharing, and organizing for our work to help street dogs.
        </p>

        <p>
            Arrangements were made for me to bring three puppies back with me to the States, to be adopted here through OPH.
                And lastly, OPH also asked me document my experiences, in words, pictures, and videos, so that the story of Desi
                Dogs could be shared more broadly here in the US.
        </p>

        <p>
            This extraordinary level of support was totally unexpected. &nbsp;By the time I left for India, I felt like I had
                an army of supporters traveling with me in spirit.
        </p>

        <h3>
            Dogs Living on the Streets
        </h3>
        <p>
            When I arrived in India, I received a quick education about the realities of street dog life. &nbsp;Americans are
                sometimes surprised to learn that the Desi Dogs on the streets of India are typically not abandoned pets (though
                some are). &nbsp;Most are descended from dogs that have lived on the streets of India for over 10,000 years.
        </p>

        <p><%= image_tag "kaw-1.jpg", class: "right", alt: "Dogs Living on the Streets" %>
            It has been estimated that there are 30 million free-ranging dogs living in India, and around 300,000 street dogs
                in New Delhi alone. During my time in Delhi, this was easily observed -- there were street dogs everywhere, on
                every block, wandering in groups or alone, scavenging in trash, trotting through traffic on the street, sleeping
                on the medians of roads. They appeared to co-exist comfortably with people, sometimes seeking attention and food,
                sometimes keeping to themselves.
        </p>

        <p>
            While these dogs have been living on the streets for thousands of years, Desi Dogs often live difficult lives. &nbsp;Many
                street dogs and puppies are hit by cars, and suffer from disease and malnutrition. Two-thirds of puppies born
                to street dogs die before three months of age, and eight out of ten die before reaching one year. &nbsp;
        </p>

        <p>
            In my travels, it was easy to observe both healthy dogs going about their business, as well as heartbreaking scenes
                of malnourished puppies, dogs dragging broken or paralyzed limbs, and thin mange-covered dogs near death. For
                a dog lover, it was very difficult to pass by these situations and do nothing. &nbsp;But KAW and other animal
                welfare groups are typically full to capacity, and I had to accept that we would not be able to help every dog
                we saw.
        </p>

        <p>
            Interestingly, many of the dogs living on a street are tended to by a network of community &quot;caretakers,&quot;
                individuals who feed and monitor the dogs, and sometimes seek vet care for a sick or injured dog. &nbsp;These
                dogs are not considered pets and do not typically live inside the home. &nbsp;While this provides many dogs with
                food and support, these caretakers are sometimes subject to criticism from other community members who consider
                the dogs to be a problem.
        </p>

        <h3>
            Six Days in Heaven for a Dog Lover
        </h3>
        <p>
            After arriving in India, on my first morning I eagerly headed to KAW with the help of my hosts -- and was quickly
                immersed in the complicated, happy, furry community at the KAW animal center. &nbsp;KAW&#39;s center is a small
                fenced compound with a couple of modest buildings, an open area for the adult dogs, a medical care area, and
                an upstairs area for puppies and other more vulnerable or timid dogs. &nbsp;
        </p>
        <p>

        </p>
        <p><%= image_tag "kaw-5.jpg", class: "right", alt: "Dogs Living on the Streets" %>
            When I arrived at the gate, I was swarmed by enthusiastic dogs who wanted to meet me, sniff me, bark at me, and generally
                check me out. &nbsp;Many dogs were amputees, or were dragging paralyzed legs behind them. &nbsp;Some were blind,
                or very elderly. Several had disorders that caused balance and movement problems. &nbsp;Some were very shy, or
                wanted to be left alone. &nbsp;But most of them, once they warmed up to me, were very eager for petting, and
                attention, and love of any kind. &nbsp;Needless to say, I fell in love immediately -- &nbsp;with all of them!
                &nbsp;
        </p>

        <p>
            And then there was the puppy area: &nbsp;there were eight young puppies at KAW when I arrived, and two more were
                admitted during my time there. There is no joy comparable to sitting in the puppy play area and having puppies
                climb into my lap, inspect my bag, chew on my watchband, and dispense puppy kisses liberally.
        </p>

        <p>
            I spent a total of six days at KAW (with a couple of additional days in the middle of my visit for sightseeing in
                Delhi). &nbsp;During those days, I observed the daily routine at KAW -- the dogs get breakfast (egg and roti,
                an Indian bread), lunch (dry dog food), and dinner (chicken and rice). &nbsp;The feeding process is controlled
                chaos, with each of the 70-plus dogs patiently awaiting their own bowl of food, and KAW staff patrolling the
                group to make sure the bolder dogs did not steal from the shy ones. &nbsp;
        </p>

        <p>
            The dogs got regular baths, and were checked for ticks frequently. &nbsp;(I joined in the fun and became skilled
                at instant tick removal with my bare hands). &nbsp;They also received medical treatment if needed. &nbsp;For
                advanced vet care, KAW brings its dogs to a veterinary clinic in Delhi, but several KAW staff perform assorted
                procedures on site -- blood draws, wound cleaning, post-surgical care, mange treatment, and more. &nbsp;There
                is no veterinary technician certification in India, so the KAW staff are self-taught in these skills -- a remarkable
                accomplishment.
        </p>

        <p>
            And on the topic of the KAW staff -- I cannot say enough good things about them. &nbsp;Twelve of the thirteen full-time
                staff live on-site, in very rudimentary conditions. &nbsp;They sleep in the rooms with the dogs so that they
                can monitor them 24/7. &nbsp;They cook for the dogs, clean up after them, and manage dog behavior, often stopping
                squabbling dogs with a well-timed command. &nbsp;It is hot, dirty, under-appreciated work -- and yet when the
                daily tasks were done, I often found them petting and playing with the dogs. &nbsp;The dogs&#39; adoration for
                the staff was easy to observe.
        </p>

        <p>
            I tried to be helpful while I was there, though I fear I was in the way more than helpful. &nbsp;The KAW staff, most
                of whom do not speak English, were cautious and quiet around me, but I hope I won them over in the end by the
                fact that I kept showing up day after day and hanging out in the dusty courtyard with the dogs. &nbsp;
        </p>

        <p>
            My time at KAW was joyful, because of the wonderful dogs and people -- and sad as well, to see so many dogs in need,
                and so many more on the streets who could not be helped by KAW.
        </p>

        <h3>
            World Spay Day Activities
        </h3>
        <p>
            While I was there, I accompanied the staff in one of KAW&#39;s two battered Jeeps to pick up dogs as part of the
                OPH-supported World Spay Day activities. We picked up a total of eight dogs to be spayed during my time at KAW
                (and many more sterilizations have been completed since my time there ended). &nbsp;KAW had asked community caretakers
                to sign up their dogs to be spayed. This helped KAW identify and catch dogs in need of sterilization, and also
                ensured that there would be support and care for the dogs after the surgery. &nbsp;
        </p>

        <p>
            Most dogs we picked up were cautiously friendly, though glum about being herded into the back of a Jeep and driven
                away from their home territory. &nbsp;A few were wary and tried to stay clear of us -- but the KAW staff are
                have unparalleled skills at dog-catching!
        </p>

        <p>
            Once the dogs were brought to the center, KAW staff took blood samples and dropped them off at a vet clinic for testing,
                to be sure the dogs were fit for surgery. &nbsp;While this added time and expense to the process, it increased
                the likelihood of successful anesthesia and surgery.
        </p>

        <p>
            On my third day at KAW, we brought the dogs to a local vet who did all eight sterilizations in rapid succession.
                &nbsp;We then brought the dogs back to KAW, where the staff cared for the dogs for a few days until they were
                recovered sufficiently to be returned to their home territories.
        </p>

        <p>
            This process sounds simple and straightforward as I write it -- but this conceals the challenges and hassles of doing
                this work in reality. New Delhi is a sprawling, hot traffic-clogged city -- full of energy and life, but also
                a challenging place to get things done. &nbsp;Each spaying case could require four lengthy drives: to pick up
                dogs, to drop off bloodwork at the vets, to drop off dogs at the vet, and to return dogs to their communities.
                With the distances involved and Delhi traffic, each of these drives could be 1 to 2 hours each, meaning that
                one spay case could require 6 to 8 hours of staff time -- and a lot of aggravation. &nbsp;
        </p>

        <p>
            And while many local residents are supportive of KAW&#39;s work, even in my short stay, I experienced a case of a
                community member yelling at me for taking pictures of street puppies, claiming I was exploiting India&#39;s poverty
                for personal gain. Nothing could have been farther from the truth - but this is one example of how hard it can
                be to do animal welfare work in India.
        </p>
        <h3>
            Chitti&#39;s Story
        </h3>
        <p><%= image_tag "kaw-article-chitti.jpg", size: "250x350", class: "right", alt: "Chitti" %>
            I was also able to accompany KAW staff to pick up a case of an injured puppy. &nbsp;Workers at a postal sorting facility
                had been caring for a pup whose mother had died. &nbsp;When the puppy was hit by a car and developed an abscessed
                hernia after the accident, the workers called KAW. &nbsp;When we arrived, we found a young (perhaps 8 week old)
                listless, thin black and white puppy with a huge bulge in her abdomen. Once the KAW person scooped her up, she
                whimpered and nestled close to him. &nbsp;She was named Chitti by the staff. We took her to the veterinary clinic
                for X-rays, and she did not want to be put down by her new human friend. &nbsp;
        </p>

        <p>
            My own Desi Dog Maya had been found in the same condition over a year ago -- a tiny puppy with a large hernia caused
                by a car accident -- and my heart went out to this little girl who so reminded me of my own dog.
        </p>

        <p>
            Back at KAW, after a few good meals and some antibiotics, Chitti was energetic and friendly and wanting to play.
                &nbsp;About a week later, her hernia was surgically repaired, and recovery is proceeding well. &nbsp;When she
                is fully recovered and a few months older, she may come to the US in search of an adoptive home via OPH. &nbsp;(Might
                she end up being adopted by me? &nbsp;I can&#39;t rule that out!).
        </p>

        <h3>
            Zara&#39;s Story
        </h3>
        <p><%= image_tag "kaw-article-zara.jpg", size: "250x350", class: "right", alt: "Zara" %>
            I loved all the dogs at KAW, but I have to confess that I did have a favorite -- a tiny puppy named Zara. &nbsp;She
                was very young, probably only about six weeks old. &nbsp;She had been hit by a car a month previously and had
                a broken spine that had not healed properly, and her back legs were paralyzed. &nbsp;Since she is so young, she
                may yet regain the ability to walk, though that&#39;s very uncertain. &nbsp;
        </p>

        <p>
            She was still very thin and couldn&#39;t have weighed more than 6 or 7 pounds. &nbsp;She had a small face and pointy
                snout, with giant eyes and ears. &nbsp;She was kept in the same room as the other puppies, but due to her age
                and small size, she was often in a separate crate. &nbsp;She struggled to drag herself from place to place. &nbsp;She
                desperately wanted to be held and cuddled -- at the age of six weeks, she should have still been in the care
                of her mother. &nbsp;
        </p>

        <p>
            I kept her in my lap as much as I could, just holding her close. &nbsp;On my final day at KAW, leaving her was the
                hardest thing for me. She needed me, and I couldn&#39;t stay with her. &nbsp;I still wrestle with whether I should
                try to organize to have her brought to the US for the type of the special veterinary care she would be able to
                receive here -- and to be with me.
        </p>

        <h3>
            The Journey of Three Puppies
        </h3>
        <p>
            It was quite unclear to me whether my presence at KAW was helpful or merely an inconvenience. &nbsp;The staff didn&#39;t
                really need any assistance, as they have the center&#39;s daily routine under full control (to the extent you
                can ever have full control over 70 boisterous dogs). &nbsp;
        </p>

        <p>
            But there was one thing I could do that I knew was of value to KAW -- I could bring three puppies back with me to
                OPH for new lives in the US. &nbsp;It is much less expensive to transport dogs as companions to a passenger than
                as an unaccompanied cargo. &nbsp;Three six-month-old puppies who were judged ready for travel and adoption came
                back with me. &nbsp;KAW and OPH did all the legwork for the trip -- vaccinations, import permits. exam by the
                quarantine office, document and crate preparation. &nbsp;
        </p>

        <p><%= image_tag "kaw-article-three-puppies.jpg", class: "right", alt: "three puppies" %>
            My very important contribution was spend as much time as possible with the three puppies so that they knew me and
                would be comfortable with me getting them through the airport security process and meeting them on the US side.
                &nbsp;Spending time with the puppies, of course, was a big sacrifice for me, but I was willing to make that sacrifice
                for the greater good....
        </p>

        <p>
            On the night of my departure (my flight time was the unfortunate hour of 3:15 a.m.!), a contingent of KAW staff and
                supporters delivered me and the puppies to the airport. &nbsp; Tearful goodbyes were said, and then I and the
                anxious puppies headed into the airport. &nbsp;Once I was inside the airport, I was on my own -- only ticketed
                passengers can enter the airport. &nbsp;It took an hour and a fair amount of shuffling papers and filling out
                forms with the airline personnel, but eventually I got my pups through security and checked in. &nbsp;
        </p>

        <p>
            I had one very touching experience en route. At the airport in New Delhi, the puppies must be taken out so the crates
                can go through the X-ray machine. &nbsp;When I took one of the puppies out of the crate, a woman in a security
                guard&#39;s uniform came over and petted the pup briefly. &nbsp;Later, when I was at the security checkpoint,
                I was pulled out of the line and taken for a private pat-down. &nbsp;I was a bit rattled, fearing there was some
                sort of problem -- but when I came into the screening area, it was the same lady. &nbsp;She had pulled me out
                of line just so she could talk to me about dogs! &nbsp;She said she was so happy that I was taking three dogs
                to the US, and that more needed to be done to help Indian Desi Dogs.&nbsp;She said she loved street dogs and
                wanted to adopt one herself, but her current work schedule wouldn&rsquo;t allow it. &nbsp;It was such a lovely
                moment, and a hopeful sign about the future of animal welfare work in India.
        </p>

        <p>
            When I arrived at Dulles International Airport, I collected the three puppy crates at the baggage claim area and
                got myself, my luggage, and the puppies outside. &nbsp;The puppies came tumbling out of their crates and into
                my lap, and quickly made friends with my family and the OPH transport volunteers who were there to meet me. &nbsp;All
                three were driven to their foster homes, and were quickly adopted through OPH. &nbsp;While the cold March weather
                must have been a surprise for the pups, who had just left 90-degre weather in India, they settled in quickly
                to a life full of warmth and love.
        </p>

        <h3>
            Coming Home
        </h3>
        <p>
            As I said at the beginning of this story, while my trip to KAW was brief, it gave a lifetime of memories (along with
                over 700 photos of dogs captured on my phone!) -- and also a new sense of mission about ways that we here in
                the US can help KAW and street dogs more generally.
        </p>

        <p>
            When we drove away from the KAW animal center &nbsp;for the last time, there were tears in my eyes. &nbsp;I won&#39;t
                be back for a while -- though an annual trip is in the works, a year is a long time! -- and I knew I would miss
                those dogs so very much. &nbsp;But I left with ideas and hopes and plans for things that we can all do together
                to make a difference.
        </p>

        <h3>
            The potential for animal welfare work in India
        </h3>
        <p><%= image_tag "kaw-article-street-dog.jpg", class: "right", alt: "Street Dog" %>
            While the context for animal welfare work in India is challenging, there is enormous potential to do good work there.
                &nbsp;A modest amount of resources can go very far in a place like New Delhi. &nbsp;Kannan Animal Welfare has
                set the standard for doing high-quality animal rescue work with limited resource and in difficult conditions.
                &nbsp;The partnership between OPH and KAW, and the potential to link up with the efforts of other international
                street dog rescue efforts, offers the chance to have substantial impact for thousands of street dogs in India
                and other countries.
        </p>

        <p>
            It&#39;s important to acknowledge that some of the strategies that work in the US may have to be modified to work
                in India. There is not a strong culture of volunteerism and charitable donations in India. KAW staff reported
                that they have difficulty getting consistent local volunteers and donations. &nbsp;Very few local residents have
                been willing to adopt or foster Indian street dogs. With hundreds of thousands of dogs in Delhi, the need is
                enormous, and there are limited resources devoted to animal welfare from the public sector. &nbsp;
        </p>

        <p>
            But there is so much we can do. There are short-term and medium-term activities we can do to support the work of
                KAW. &nbsp;And in the longer term, we can engage in outreach and advocacy -- especially by supporting local efforts
                in India and elsewhere -- to encourage changes in public attitudes and public policies around animal welfare.
        </p>

        <p>
            You can help street dogs in India by donating to OPH&#39;s Operation Desi Dog. &nbsp;OPH will pass on these funds
                to Kannan Animal Welfare to support sterilization, medial costs for sick and injured dogs at KAW, transport costs
                for dogs coming to the US for adoption, and other needs.
        </p>

        </div>
        <div class="well">
            <h3>Donate for Desi Dog Transport</h3>
            <p>Help Support Desi Dogs coming to the U.S. by donating to the transportation costs to bring these amazing dogs to us!</p>
            <a href="https://join.ophrescue.org/desidogstransport" target="_blank" class="btn btn-large btn-primary">Donate</a>
        </div>
    </div>
</div>
