<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="partner article pages">

        <h2>Nonprofit and Corporate Partners</h2>

        <h1>Thank You!</h1>

        <p>A No Kill nation takes teamwork! To truly make strides towards ending the overpopulation
        of animals in the United States, OPH understands that we need to do more than adopt – we need to
        partner with local nonprofit organizations to leverage our strengths, assess community needs and
        implement programs to make it a kinder world for animals.</p>

        <h3>Non Profit Partners</h3>

        <div class="media mb-3">
          <a class="mr-4 d-none d-sm-block" target="_blank" href="https://brvbb.com/">
            <%= image_tag("sponsors/brvbb.png", alt: "Blue Ridge Veterinary Blood Bank", size: "150") %>
          </a>
          <div class="media-body">
            <a target="_blank" href="https://brvbb.com"><strong>Blue Ridge Veterinary Blood Bank</strong></a> is the largest all-canine volunteer blood bank
            dedicated to saving lives located in Northern Virginia. Blue Ridge fields calls from veterinarians
            across the country and they provide life saving blood products to veterinary hospitals during
            natural disasters. OPH is proud to support the incredible efforts of the Blood Bank and is honored
            that Adopted OPH dogs given regularly to this amazing cause. Please check out their website to see
            how your dog can become a True Lifesaver!
          </div>
        </div>

        <div class="media mb-3">
          <a class="mr-4 d-none d-sm-block" target="_blank" href="https://www.beltwaybarks.org/">
            <%= image_tag("sponsors/dca4a.png", alt: "DC Actors for Animals, Inc. (DCa4a)", size: "150") %>
          </a>
          <div class="media-body">
            The mission of <a target="_blank" href="https://www.beltwaybarks.org/"><strong>DC Actors for Animals, Inc. (DCa4a)</strong></a>
            is to help animals in the DC metro area through adoption, advocacy, and education. OPH partners with DCa4a
            through their annual adopt-a-thon event, Beltway Barks, featuring musical performances from local theater
            groups, dog presentations, pet-friendly vendors, and adoptable animals from OPH and other local rescue
            organizations and shelters. Beltway Barks is held every September in Rockville, MD.
          </div>
        </div>

        <div class="media mb-3">
          <a class="mr-4 d-none d-sm-block" target="_blank" href="http://hhpdp.org/index.php?id=dogs">
            <%= image_tag("sponsors/hhpdp.png", alt: " Happy Hound Prison Dog Program", size: "150") %>
          </a>
          <div class="media-body">
            <strong><a target="_blank" href="http://hhpdp.org/index.php?id=dogs">Happy Hound Prison Dog Program</a></strong>
            provides scientifically based positive reinforcement training and behavior modification to dogs at risk of homelessness or euthanasia.
            The program also provides the skills necessary to the Inmate Dog Handlers to successfully train the dogs in our care and to then be able to use those
            skills toward successful employment when their incarceration is completed.
          </div>
        </div>

        <div class="media mb-3">
          <a class="mr-4 d-none d-sm-block" target="_blank" href="https://bestfriends.org/">
            <%= image_tag('best-friends-network.jpg', size: "150x75", alt: "Best Friends Network") %>
          </a>
          <div class="media-body">Best Friends created the <a target="_blank" href="https://bestfriends.org/">Best Friends Network</a> to work with rescue organizations and shelters around the country that are reducing euthanasia rates and saving lives in their communities.
          </div>
        </div>

        <h3>Corporate Partners</h3>

        <div class="media mb-3">
          <a class="mr-4 d-none d-sm-block" target="_blank" href="https://www.animalplanet.com/">
            <%= image_tag("sponsors/animalplanet.png", alt: "Animal Planet", size: "150") %>
          </a>
          <div class="media-body">
            OPH partners with <strong><a target="_blank" href="https://www.animalplanet.com/">Animal Planet</a></strong> to provide
            rescued puppies for the annual Puppy Bowl. The focus of this high-profile, family-friendly event is to
            raise awareness about pet overpopulation and highlight the wonderful pets rescued dogs can make.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
