<div class="row-fluid">
  <div class="span12">
    <div class="article">

    <h2>Nonprofit and Corporate Partners</h2>

    <h1>Thank You!</h1>

    <p>A No Kill nation takes teamwork! To truly make strides towards ending the overpopulation
    of animals in the United States, OPH understands that we need to do more than adopt – we need to
    partner local nonprofit organizations to leverage our strengths, assess community needs and
    implement program to make it a kinder world for animals.</p>

    <h3>Non Profit Partners</h3>

    <div class="media">
      <a class="pull-left" href="https://brvbb.com/">
        <%= image_tag("sponsors/brvbb.png", alt: "Blue Ridge Veterinary Blood Bank", size: "150") %>
      </a>
      <div class="media-body">
        <a href="https://brvbb.com"><strong>Blue Ridge Veterinary Blood Bank</strong></a> is the largest all-canine volunteer blood bank
        dedicated to saving lives located in Northern Virginia. Blue Ridge fields calls from veterinarians
        across the country and they provide life saving blood products to veterinary hospitals during
        natural disasters. OPH is proud to support the incredible efforts of the Blood Bank and is honored
        that Adopted OPH dogs given regularly to this amazing cause. Please check out their website to see
         how your dog can become a True Lifesaver!
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="https://www.beltwaybarks.org/">
        <%= image_tag("sponsors/dca4a.png", alt: "DC Actors for Animals, Inc. (DCa4a)", size: "150") %>
      </a>
      <div class="media-body">
        The mission of <a href="https://www.beltwaybarks.org/"><strong>DC Actors for Animals, Inc. (DCa4a)</strong></a>
        is to help animals in the DC metro area through adoption, advocacy, and education. OPH partners with DCa4a
        through their annual adopt-a-thon event, Beltway Barks, featuring musical performances from local theater
        groups, dog presentations, pet-friendly vendors, and adoptable animals from OPH and other local rescue
        organizations and shelters. Beltway Barks is held every September in Rockville, MD.
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="https://radardogs.org/">
        <%= image_tag("sponsors/radar.png", alt: "Raising Aid for Dogs At Risk (RADAR)", size: "150") %>
      </a>
      <div class="media-body">
        <strong><a href="https://radardogs.org/">Raising Aid for Dogs At Risk (RADAR)</a></strong> provides funding
        to support shelter dogs who are least likely to get adopted (e.g., older dogs, black dogs, special-needs dogs,
        and heartworm positive and medical-needs dogs), regardless of breed. Their focus is primarily on smaller,
        overcrowded, and underfunded rural shelters in Appalachia and the Southeast. OPH works with partner shelters
        to identify dogs in need, especially heartworm positive dogs, and secures funding from RADAR to get treatment.
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="http://www.semperk9.org/">
        <%= image_tag("sponsors/semperk9.png", alt: "Semper K9 ", size: "150") %>
      </a>
      <div class="media-body">
        <strong><a href="http://www.semperk9.org/">Semper K9</a></strong> makes a difference in the lives of wounded,
        critically ill, and injured members of the U.S. Armed Forces by providing trained assistance dogs to these individuals.
        OPH identifies shelter dogs and puppies that demonstrate confidence, a strong interest in people, exceptional focus,
        trainability, and treat motivation. When a dog or puppy displays these attributes, OPH reaches out to Semper K9.
        Their expert completes an assessment of the candidate, and if the dog passes, OPH donates the dog to Semper K9.
        All dogs who enter their training program help veterans with mobility issues and PTSD, improving their quality of
        life by assisting with emotional support and activities of daily living.
      </div>
    </div>

    <h3>Corporate Partners</h3>

    <div class="media">
      <a class="pull-left" href="https://www.animalplanet.com/">
        <%= image_tag("sponsors/animalplanet.png", alt: "Animal Planet", size: "150") %>
      </a>
      <div class="media-body">
        OPH partners with <strong><a href="https://www.animalplanet.com/">Animal Planet</a></strong> to provide
        rescued puppies for the annual Puppy Bowl. The focus of this high-profile, family-friendly event is to
        raise awareness about pet overpopulation and highlight the wonderful pets rescued dogs can make.
      </div>
    </div>

    </div>
  </div>
</div>
