<div class="row-fluid">
  <div class="span8 offset4">
    <h1>Other Ways to Give</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <br>
    <br>
    <br>
    <%= image_tag "other-ways-to-give-1.jpg"%>
    <br>
    <br>
    <br>
    <%= image_tag "other-ways-to-give-2.jpg"%>
    <br>
    <br>
    <br>
    <%= image_tag "other-ways-to-give-3.jpg"%>
  </div>

  <div class="span8">
    <div class="article">

        <h3><a href="http://smile.amazon.com/">Amazon Smile</a></h3>

          <p>Do you use Amazon to shop?  Did you know you can shop and support OPH at the same time?  Adding OPH to your shopping trips is easy.  For Amazon, simply go to - http://smile.amazon.com.  Select "Operation Paws for Homes" as your choice of Charity.  Then shop!  It's literally that easy and you can get done shopping and know you helped to save dogs at the same time.</p>

        <h3><a href="http://amzn.com/w/LJMARRL2068Q">Amazon Wishlist</a></h3>

         <p>Make a dog's wish come true with our Amazon Wishlist.  We have gathered a list of favorite toys, treats, bones, chews, medical supplies and other cleaning items our foster homes use on a regular basis. Help us treat our foster dogs to something special and keep our supplies stocked in our foster homes!</p>

         <h3><a href="https://givingassistant.org/np#operation-paws-for-homes">Giving Assistant</a></h3>

         <p>Giving Assistant is the easiest way to donate to Operation Paws for Homes. It’s simple and free! Shop online at any one of 1700+ popular online retailers like Lowes, Macy's, and Target. You’ll earn cash back, and you can choose to donate a percentage of that cash back to us! Let’s change the world together—one purchase at a time.</p>

         <p><a href="https://givingassistant.org/np#operation-paws-for-homes"><%= image_tag "giving_assistant.png" %></a></p>

        <h3><a href="http://www.goodshop.com">GoodShop</a></h3>

          <p>You can now get the best deals at thousands of stores at <a href="http://www.goodshop.com">Goodshop</a> and each time you shop, a percentage of what you spend will be donated to our rescue. For example, you could find a deal like 25% off a pet order with a <a href="http://www.goodsearch.com/1-800-petmeds/coupons">1-800-PetMeds promo code</a> or find an <a href="http://www.goodsearch.com/hotels-com/coupons"> Hotels.com deal </a> that saves you on your next vacation or an <a href="http://www.goodsearch.com/urban-outfitters/coupons">Urban Outfitters coupon</a> that results in a donation to our dogs. Goodshop works with thousands of stores, so start shopping, saving, and giving back today!
          </p>

          <p><a href="http://www.goodshop.com"><%= image_tag "goodshop-logo-600px.jpg" %></a></p>

        <h3><a href="http://www.igive.com">iGive</a></h3>

          <p>With your iGive account our dogs will receive a donation everytime you shop at over 1,000 online stores, including Crate and Barrel, Buy Buy Baby, Petco, Toys R Us, and over 1,300 more.</p>

          <p>Select "Operation Paws for Homes": <a href="http://www.igive.com">iGive</a></p>

          <p class="hidden-phone"><a href="http://www.igive.com"><%= image_tag "igive-poster.jpg" %></a></p>

        <h3><a href="http://rescue.petflow.com/operation-paws-for-pets/">PetFlow</a></h3>

          <p>Help keep our rescue dogs healthy and well fed.  Visit our food wishlist on PetFlow.com to purchase much needed dog food for our rescue dogs.  Food is shipped straight to the rescue.  Thanks for your support!</p>

      <h3><a href="http://www.shareasale.com/r.cfm?b=264125&u=905058&m=29923&urllink=&afftrack=">The Bark</a></h3>

        <p>As an OPH supporter and fellow dog lover, we know that you will be faced with a lot of questions about your dog on a daily basis – How do I know if my dog is sick? – How do I keep my dog’s coat shiny and lustrous in winter? – How can I cook healthy meals for my dog at home? Well, wouldn’t it be great to have all of these questions and more answered in one great magazine? The Bark magazine provides a wealth of information by experts, such as training and health tips, awesome recipes for homemade treats. There are also great articles on healthy living, activities and sports, food and nutrition, and also wonderful stories about the amazing adventures of dogs and their owners!  All this and more is available to you at just $18 a year, and what’s more, you can help OPH with this purchase too! OPH has recently partnered with The Bark magazine to receive 10% of their subscription sales as donation! Just follow this link and complete an $18 magazine subscription purchase and we will receive a donation! A wonderful way to help your dogs and contribute to OPH! Sign up today!  </p>

      <h3><a href="http://www.usbones.com/mm5/merchant.mvc?Affil=1809">U.S. Dog Bones</a></h3>

        <p>US Bones sells a broad range of US manufactured premium qualtiy dog and cat food, treats, and accessories through a program focused on supporting animal welfare groups. Their initial grass roots efforts consisted primarily of generating awareness through event support; e.g. sponsoring and selling products at fundraising events.  US Bones currently has over 500 partner groups with 6-12 new groups added each month.</p>

        <p>Go to the unique link for OPH to make your purchases.  This will tag your orders so OPH can receive 25% of the order value back to the rescue (pre-tax and pre-shipping amount). </p>

      <h3><a href="http://www.wooftrax.com/">Wooftrax</a></h3>

        <p>Support us simply by walking your dog! Use the app each time you grab for the leash. It’s healthy for you, your dog, 
           and OPH.  The average donation is 25 cents per mile.  Find Operation Paws for Homes listed under <strong>Alexandria VA, Baltimore MD, Hanover PA and Washington DC.</strong> </p>

      <h3><a href="https://www.bravelets.com/bravepage/operation-paws-for-homes">Bravelets</a></h3>

        <p>Bravelets is a jewelry company dedicated to making a difference - $10 of every purchase from our Bravelets page will be donated to OPH. Several different style of bracelets to choose from, perfect for gifts or yourself!</p>

      <h3><a href="http://www.chewy.com/rp/2487">Chewy Dog Food</a></h3>

        <p>OPH is a proud partner with Chewy Dog Food!  Place your online order via our <a href="http://www.chewy.com/rp/2487">Chewy site</a> and OPH will receive a $20 dog food credit towards purchasing food for all of our foster dogs! Chewy has a huge selection of pet food, treats and supplies delivered straight to your door!</p>

        <ul>
          <li>Fast, FREE shipping</li>
          <li>24/7 customer service</li>
          <li>Cheaper than your local store</li>
          <li>Save 20% off your first autoship order</li>
        </ul>

        <h3><a href="http://www.ruffguides.com/shop/book">Ruff Guide</a></h3>

        <p>Does your dog need a vacation? Ruff Guide to the United States features 365 of the best places to stay and play with your dog in all 50 states. Whether your pooch prefers to 'ruff it' on a hiking adventure or sit in the lap of luxury at a five-star resort, the assortment of trips in this book is sure to have him (and you) begging for a vacation! When you enter code “OPH” at checkout, you'll get free shipping, and we'll get a $10.00 donation for each book sold! </p>



    </div>
  </div>
</div>
