<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
			<div class="pages">
				<h1>OPH Pup-tastic Parties</h1>
			</div>
		</div>

		<div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
			<div class="left">
				<%= image_tag "party-1.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "party-2.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "party-3.jpg", class: "rounded side img-fluid" %>
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="article pages">

                <p>Interested in having a litter of puppies visit your office, conference, or birthday party? We can
provide puppies! There is nothing like snuggling and playing with puppies to bring joy to people
of all ages. Our puppies are rescued from overcrowded shelters in the South and are available
for adoption (see https://ophrescue.org/guide for information on adopting from OPH). Your
donation will support our work to rescue and find forever homes for dogs in need!
These events are available in the areas where OPH operates: northern Virginia (as far south as
Springfield), the District of Columbia, central Maryland, and southern Pennsylvania (as far north
as York). These events and parties are subject to availability of puppies and volunteers.</p>


				<%= link_to "Pup-Tastic Party Request", "/party_contact_form/new", :class => "btn btn-primary btn-large" %>

				<h2>Corporate or Conference events</h2>
				<ul>
                    <li>Up to 2 hours on a weekday</li>
                    <li>Minimum donation $1000</li>
                </ul>

				<h2>Children's birthday party or other personal event</h2>
				<ul>
					<li>Up to 90 minutes on a weekend</li>
					<li>Minimum donation $400</li>
                    <li>OPH volunteers will supervise the interaction of puppies and children.</li>
				</ul>

                <h2>What the host provides</h2>
                <ul>
                    <li>Space for puppy pen setup that is protected from the weather. The event can be outdoors
if the temperature is between 65-75 degrees; otherwise it needs to be indoors for the
health and safety of the puppies.</li>
                    <li>Free parking for at least two cars for OPH volunteers</li>
                    <li>Chairs for guests to sit while holding puppies</li>
                </ul>

                <h2>What we provide</h2>
                <ul>
                    <li>A puppy pen</li>
                    <li>Floor covering</li>
                    <li>Puppy pads and cleanup supplies</li>
                    <li>Any other supplies needed for the puppies</li>
                </ul>

				<p>The puppies we have in our rescue varies at any particular time, and the size of litters and type of
puppies also varies widely. We are usually able to provide several puppies, but we may not
know the number of puppies or other details until shortly before the event.</p>

                <p>If the puppies have not yet had all their vaccinations, which is often the case with puppies
younger than three months, we will follow puppy quarantine procedures. This means that
puppies cannot be put down on the ground except in the pen provided by OPH, and guests must
sanitize their hands before touching the puppies.</p>

                <p>To request a puppy event or party, please fill out the form and OPH will get back to you.</p>

				<%= link_to "Pup-Tastic Party Request", "/party_contact_form/new", :class => "btn btn-primary btn-large" %>
			</div>
		</div>
	</div>
</div>
