<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
			<div class="pages">
				<h1>Volunteer</h1>
			</div>
		</div>

		<div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
			<div class="left">
				<%= image_tag "volunteer-1.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "volunteer-2.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "volunteer-3.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "volunteer-4.jpg", class: "rounded side img-fluid" %>
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="article pages">
				<p>We could not do our life saving work without dedicated volunteers! Our network of supportive volunteers will help you get started if you have the time and energy. Please contact us if you think any of these jobs are the right fit for you!</p>
				<%= link_to "Apply to Volunteer", "/volunteer_apps/new", :class => "btn btn-primary btn-large" %>

				<h2 name="adoption" id="adoption">Adoption Coordinator</h2>
				<p>We need help screening applications to find each dog and cat a good home! You can do this from the comfort of your own home. We need volunteers that are flexible and available to make calls and coordinate meeting with our dogs and cats for potential approved adopters. It requires training and dedication but the rewards include heartwarming updates from happy adopters as well as knowing that you helped save the life of a dog or cat.  </p>

				<p>The adoption team has two roles:</p>
				<ul>
					<li>Reference Checker - verify personal references, verify vet references, update application notes and communicate readiness for final interviews to Committee Leads.</li>
					<li>Adoption Coordinator - conduct final telephone interviews with potential adopters.</li>
				</ul>

				<p>All volunteers must participate in our virtual volunteer orientation, and additional training is provided for these adoption team roles</p>


				<h2 name="events" id="events">Events</h2>
				<p>Volunteers make events happen! Assist in fundraising or community outreach events to spread the word about our rescue!   Join an event team and help dogs and cats find their forever homes.</p>

				<p>All Adoption Events and some Special Events volunteers may handle live dogs and must participate in additional training before participating in any event requiring such.</p>
				<h5>Adoption Events</h5>
				<p>Whether it’s helping an adopter process the application or handing over their new furry friend to them, adoption events can always use an extra helping hand on-site! </p>

				<h5>Education Programs</h5>
				<p><a href="/education-and-outreach">Education events</a> – The Mutt-i-grees Program helps cultivate a loving and fun environment that allows children to interact in a safe and friendly environment with dogs, as children respond to dog-themed activities and books.</p>

				<h5>Outreach and Engagemnt</h5>
				<p>This is the perfect spot for social butterflies and those artsy, creative, or crafty types! Write personalized notes, lead virtual Craft/Baking/Art classes for OPH pets and adopters, or be part of the team that thanks our wonderful OPH volunteers! </p>

				<h5>Special Events</h5>
				<p>Some events that require more logistics and hands-on volunteer help! Puppy Bowl and the Fast & Furriest 5K are some of our larger-scale annual events, but Special Events volunteers can also be huge ambassadors right in their backyard, any time! By connecting with local breweries, festivals, and pet-themed events, to name a few, volunteers can represent OPH by spreading the mission, opportunities, and vision of OPH on-site and in-person. </p>

				<h2>Fostering</h2>
				<p>As a foster, you will be giving a second chance to a poor dog or cat who has no one to advocate for them except kind hearted people like you! These pets are saved from overcrowded shelters with limited resources who are unable to care for the number of animals that are abandoned at their doors. There is great satisfaction in knowing that you are saving a life!  All fosters must complete the animal handling training courses. </p>

				<h2>Grants and Fundraising</h2>

				<h5>In-Kind Donations</h5>
				<p>OPH gets tens of thousands of pounds of in-kind donations each year. Having volunteers scattered all over the map, who are willing to help collect, inventory and distribute in-kind donations is a huge help.</p>

				<h5>Sponsorships</h5>
				<p>OPH seeks sponsorships on many levels. From year-long corporate partnerships, to one or two-time sponsors for an event, and even short and long-term individual sponsors for dogs, cats, and shelters. This is always an area in need of volunteers and big-picture thinkers! </p>

				<h5>Fundraising Events</h5>
				<p>More OPH fundraising events are virtual events than in-person. Though in-person events have a fundraising component, as a mostly virtual organization, we have mostly virtual  fundraising events. Leading day, week or month long campaigns, like #GivingTuesday, our Autumn Online Auction, or other fundraising events is a great way to help OPH.</p>

				<h5>Grants</h5>
				<p>OPH applies for grants of all kinds year-round. Any volunteers with experience in grant research and writing are encouraged to apply their skills to this team!</p>

				<h5>Reporting</h5>
				<p>Volunteers with strong reporting skills are encouraged to help us keep track of all the financial reports needed to track all grants, fundraising and events outcomes. It’s the last step, but nothing can be fully complete and learned from without it! </p>

				<h2>Marketing and Public Relations</h2>
				<h5>Social Media</h5>
				<p>Do you know all the tips and tricks of Facebook, Instagram, TikTok or Twitter? This team needs your knowledge and creativity! </p>

				<h5>Digital Advertising</h5>
				<p>Getting the word about OPH, events and adoptions is huge! This team supports the event and adoptions team to ensure programs are being advertised as heavily as possible (for free) across social media and online platforms. Having search engine optimization SEO knowledge is a plus!</p>

				<h5>Content Writing</h5>
				<p>Are you a creative writer, research writer, or general content writer? We need writers of all types to help write content for our website, social media and education materials for dogs and cats! </p>

				<h5>Graphic Design</h5>
				<p>We have many opportunities for graphic design from the website, social media, advertising, and collateral materials, including merchandise.  This team is always taking on new projects.</p>

				<h5>E-mail Marketing</h5>
				<p>Help us keep our volunteers, donors and adopters engaged with the rescue.  Experience with the Mailchimp platform is a plus.</p>

				<h5>Photography</h5>
				<p>A picture says a thousand words is never more true than in animal adoption.  Capturing great photos of dogs, cats and the people who care for them accelerates their path to the right adoptive home.</p>

				<h5>Artists</h5>
				<p> We have several projects each year that involve artists of all sorts, and they really are expanding.  We would love to hear about your creative endeavors and how we can work together to integrate them into our programs.</p>

				<h2 name="training" id="training">Training</h2>
				<p>Do you train dogs for a living? For fun? For the sheer enjoyment of seeing dogs succeed in life?  We need trainers.  OPH would like to partner with professional trainers who are looking to assist our dogs and enhance visibility of their organization.  We also need volunteer trainers with experience working with dog behavioral adaptations. Create educational materials and videos for adopters and fosters. Lead educational training sessions via Zoom or live on social media. </p>

				<h2>Training Outreach</h2>
				<p>Are you able to do online research, make lists, and contact local trainers via phone call or email? We need your help establishing relationships to offer training support to our adopters. This important initiative will help set shelter animals and adoptive families up for a successful future together.  </p>

				<h2 name="transportation" id="transportation">Transportation</h2>
				<p>Provide transportation needs, including: transporting dogs or cats to and from large-scale events, helping them get to and from medical appointments (daytime/weekday hours), transporting from a limited drop off point to a secondary location, and from time to time providing rides for dogs and cats to Meet & Greets with potential adopters or to their forever homes.</p>

				<h2>Boarding Buddies</h2>
				<p>OPH partners with boarding facilities in Northern &amp; Central Virginia, Maryland and Southern Pennsylvania. When we are unable to secure a foster for an animal and it goes to one of our boarding facilities, we need Boarding Buddies to check on and walk or play with the animals, take photos of animals and get to know them. Boarding Buddies help provide valuable behavior and personality information for fosters and potential adopters. Boarding Buddies also help facilitate meet &amp; greets with potential adopters.</p>

				<h2>Lost Dog Team</h2>
				<p>Despite everyone's best efforts to prevent dogs from getting loose, every year a few OPH dogs escape and get lost.  This is a scary and stressful situation for both the dog and the foster or adopter. OPH has a Lost Dog Team that helps adopters and fosters find lost dogs and get them home as quickly as possible.  Volunteers are essential to this process, by putting up flyers and posters, setting up and refilling feeding stations, transporting the trap and trail cameras, and taking a shift on a "stakeout" when a trap is live.  </p>

				<%= link_to "Apply to Volunteer", "/volunteer_apps/new", :class => "btn btn-primary btn-large" %>
			</div>
		</div>
	</div>
</div>
