<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-1 mt-5 pt-3 myBackground">

    <h1>Make a gift. Save a life today.</h1>

    <p>Operation Paws for Homes depends on your generous donations to provide the medical, transportation, fostering, and adoption services needed to place 1,200 homeless dogs in forever homes each year.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 offset-md-1 pb-3 myBackground">
    <%= form_for @donation, :html=> { :multipart => true, :class => "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="form-inline">
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate25" data-toggle="button" value="25">$25</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate75" data-toggle="button" value="50">$50</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate75" data-toggle="button" value="75">$75</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate100" data-toggle="button" value="100">$100</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate200" data-toggle="button" value="200">$200</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate500" data-toggle="button" value="500">$500</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate1000" data-toggle="button" value="1000">$1,000</button>
          <div class="form-group">
            <label for="otherAmount" class="mr-2">Other</label>
            <input type="text" id="otherAmount" class="form-control" placeholder="$0.00">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="honorToggle">
          <label class="form-check-label" for="honorToggle">Donate in memory or honor of someone</label>
        </div>
        <div id="honorFields" class="collapse">
          <div class="form-group form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">In Memory of...</label>
          </div>
          <div class="form-group form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">In Honor of...</label>
          </div>
          <div class="form-group">
            <label for="honoreeName">Honoree's Name</label>
            <input type="text" id="honoreeName" class="form-control">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="notifyToggle">
          <label class="form-check-label" for="notifyToggle">Notify someone about your donation</label>
        </div>
        <div id="notifyFields" class="collapse">
          <div class="form-group">
            <label for="recepientName">Recepient's Name</label>
            <input type="text" id="recepientName" class="form-control">
          </div>
          <div class="form-group">
            <label for="honoreeName">Recepient's Email </label>
            <input type="email" id="honoreeName" class="form-control">
          </div>
          <div class="form-group">
            <label for="recepientMessage">Your message to recepient</label>
            <textarea id="recepientMessage" class="form-control" rows="5"></textarea>
          </div>
        </div>
        <h5>Your Contact Information</h5>
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <%= f.hidden_field(:amount) %>
        <%= hidden_field_tag(:stripeToken) %>
        <button id="donateButton" class="btn btn-primary btn-lg">Donate</button>
    <% end %>
    </div>
  </div>
</div>

<script>

    let honorToggle = document.getElementById('honorToggle');
    honorToggle.addEventListener('click', function (event) {
        document.getElementById('honorFields').classList.toggle('collapse')
    });

    let notifyToggle = document.getElementById('notifyToggle');
    notifyToggle.addEventListener('click', function (event) {
        document.getElementById('notifyFields').classList.toggle('collapse')
    });

    let donationAmount = document.getElementById('donation_amount');
    let otherAmount = document.getElementById('otherAmount');

    let otherAmountFunction = function () {
        donationAmount.value = this.value
        console.log('Donation value set to :' + donationAmount.value);
    }

    otherAmount.addEventListener('change', otherAmountFunction);

    let donationButtons = document.getElementsByClassName('donationButton');

    let donationButtonFunction = function() {
        for (let i = 0; i < donationButtons.length; i++ ){
            donationButtons[i].classList.remove('btn-success');
            donationButtons[i].removeAttribute('aria-pressed');
            donationButtons[i].classList.remove('active');
            donationButtons[i].classList.add('btn-primary');
        }
        otherAmount.value = "$0.00";
        this.classList.remove('btn-primary');
        this.classList.add('btn-success');
        donationAmount.value = this.value;
        console.log('Donation value set to :' + donationAmount.value);
    }

    for (let i = 0; i < donationButtons.length; i++ ) {
        donationButtons[i].addEventListener('click', donationButtonFunction);
    }
</script>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Operation Paws for Homes',
    description: 'One-time donation',
    panelLabel: 'Donate {{amount}}',
    zipCode: true,
    image: '/apple-touch-icon.png',

    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  $('#donateButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var email = $('input#donation_email').val();

    var amount = $('#donation_amount').val();
    amount = amount.replace(/\$/g, '').replace(/\,/g, '')

    amount = parseFloat(amount);

    if (isNaN(amount)) {
      $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
    }
    else if (amount < 5.00) {
      $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
    }
    else {
      amount = amount * 100; // Needs to be an integer!
      handler.open({
        amount: Math.round(amount),
        email: email
      })
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
