<div class="row">
  <div class="span8">

<%= form_for @donation, :html=> { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'input-large' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, class: 'input-large' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :amount, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, class: 'input-large' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :comment, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :comment, class: 'input-xlarge', rows: '5' %>
      </div>
    </div>
    <%= hidden_field_tag(:stripeToken) %>

    <button id='donateButton'>Donate</button>
  </fieldset>


<% end %>


<script src="https://checkout.stripe.com/checkout.js"></script>

<script>


  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Operation Paws for Homes',
    description: 'One-time donation',
    panelLabel: 'Donate {{amount}}',
    zipCode: true,
    image: '/apple-touch-icon.png',

    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  $('#donateButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var email = $('input#donation_email').val();

    var amount = $('input#donation_amount').val();
    amount = amount.replace(/\$/g, '').replace(/\,/g, '')

    amount = parseFloat(amount);

    if (isNaN(amount)) {
      $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
    }
    else if (amount < 5.00) {
      $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
    }
    else {
      amount = amount * 100; // Needs to be an integer!
      handler.open({
        amount: Math.round(amount),
        email: email
      })
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
