<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-1 mt-5 pt-3 myBackground">

    <h1>Make a gift. Save a life today.</h1>

    <p>Operation Paws for Homes depends on your generous donations to provide the medical, transportation, fostering, and adoption services needed to place 1,200 homeless dogs in forever homes each year.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 offset-md-1 pb-3 myBackground">
    <% if @donation.campaign.present? %>
      <div class="alert alert-warning" role="alert">
        You will be donating to <%= @donation.campaign.title %>
      </div>
    <% end %>
    <%= form_for @donation, :html=> { :multipart => true, :class => "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="form-inline">
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate25" data-toggle="button" value="25">$25</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate50" data-toggle="button" value="50">$50</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate75" data-toggle="button" value="75">$75</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate100" data-toggle="button" value="100">$100</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate200" data-toggle="button" value="200">$200</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate500" data-toggle="button" value="500">$500</button>
          <button type="button" class="btn btn-primary btn-lg mx-2 my-2 donationButton" id="donate1000" data-toggle="button" value="1000">$1,000</button>
          <div class="form-group">
            <label for="otherAmount" class="mr-2">Other</label>
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input type="number" id="otherAmount" class="form-control" placeholder="0.00">
          </div>
        </div>
        <div class="form-group form-check form-check-inline">
          <%= f.radio_button :frequency, 'Monthly', class: 'form-check-input', id: 'donation_frequency_monthly' %>
          <%= f.label :frequency_monthly, 'Donate Monthly', class: 'form-check-label'%>
        </div>
        <div class="form-group form-check form-check-inline">
          <%= f.radio_button :frequency, 'Once', class: 'form-check-input', id: 'donation_frequency_once' %>
          <%= f.label :frequency_once, 'Donate Once', class: 'form-check-label'%>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :is_memory_honor, class: 'form-check-input', id: 'honorToggle' %>
          <%= f.label :is_memory_honor, 'Donate in memory or honor of someone', class: 'form-check-label', for: 'honorToggle' %>
        </div>
        <div id="honorFields" class="collapse">
          <div class="form-group form-check form-check-inline">
            <%= f.radio_button :memory_honor_type, 'In memory of', class: 'form-check-input' %>
            <%= f.label :memory_honor_type_in_memory_of, 'In Memory of...', class: 'form-check-label'%>
          </div>
          <div class="form-group form-check form-check-inline">
            <%= f.radio_button :memory_honor_type, 'In honor of', class: 'form-check-input' %>
            <%= f.label :memory_honor_type_in_honor_of, 'In Honor of...', class: 'form-check-label'%>
          </div>
          <div class="form-group">
            <%= f.label :memory_honor_name, 'Honoree\'s Name' %>
            <%= f.text_field :memory_honor_name , class: 'form-control' %>
          </div>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :notify_someone, class: 'form-check-input', id: 'notifyToggle' %>
          <%= f.label :notify_someone, 'Notify someone about your donation', class: 'form-check-label', for: 'notifyToggle' %>
        </div>
        <div id="notifyFields" class="collapse">
          <div class="form-group">
            <%= f.label :notify_name, 'Recipient\'s Name' %>
            <%= f.text_field :notify_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :notify_email, 'Recipient\'s Email' %>
            <%= f.email_field :notify_email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :notify_message, 'Your message to recipient' %>
            <%= f.text_area :notify_message, class: 'form-control', rows: '5' %>
          </div>
        </div>
        <h5>Your Contact Information</h5>
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :more_contact_info, class: 'form-check-input', id: 'moreContactToggle' %>
          <%= f.label :more_contact_info, 'Provide additional contact info', class: 'form-check-label', for: 'moreContactToggle' %>
        </div>
        <div id="moreContactFields" class="collapse">
          <div class="form-group">
            <%= f.label :phone, 'Phone Number' %>
            <%= f.text_field :phone, class: 'form-control', maxlength: 40 %>
          </div>
          <div class="form-group">
            <%= f.label :address1, 'Address 1' %>
            <%= f.text_field :address1, class: 'form-control', maxlength: 250 %>
          </div>
          <div class="form-group">
            <%= f.label :address2, 'Address 2' %>
            <%= f.text_field :address2, class: 'form-control', maxlength: 250 %>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <%= f.label :city, 'City' %>
              <%= f.text_field :city, class: 'form-control', maxlength: 100 %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :region, 'State' %>
              <%= f.text_field :region, class: 'form-control', maxlength: 2 %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :postal_code, 'Zip' %>
              <%= f.text_field :postal_code, class: 'form-control', maxlength: 5 %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment, class: 'form-control', rows: '5' %>
          <small id="commentHelp" class="form-text text-muted">(Optional) Include a short message to OPH about your donation.</small>
        </div>
        <% if @donation.campaign.present? %>
          <%= f.hidden_field(:campaign_id) %>
        <% end %>
        <%= f.hidden_field(:amount) %>
        <%= hidden_field_tag(:stripeToken) %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <button id="donateButton" class="btn btn-primary btn-lg">Donate</button>
    <% end %>
    </div>
  </div>
</div>

<script>

    let honorToggle = document.getElementById('honorToggle');
    honorToggle.addEventListener('click', function (event) {
      document.getElementById('honorFields').classList.toggle('collapse')
    });

    let notifyToggle = document.getElementById('notifyToggle');
    notifyToggle.addEventListener('click', function (event) {
      document.getElementById('notifyFields').classList.toggle('collapse')
    });

    let moreContactToggle = document.getElementById('moreContactToggle');
    moreContactToggle.addEventListener('click', function (event) {
      document.getElementById('moreContactFields').classList.toggle('collapse')
    });

    let donationAmount = document.getElementById('donation_amount');
    let otherAmount = document.getElementById('otherAmount');

    let otherAmountFunction = function () {
      donationAmount.value = this.value
      resetDonationButtons();
      console.log('Donation value set to :' + donationAmount.value);
    }

    otherAmount.addEventListener('change', otherAmountFunction);

    let donationButtons = document.getElementsByClassName('donationButton');

    let resetDonationButtons = function() {
      for (let i = 0; i < donationButtons.length; i++ ){
        donationButtons[i].classList.remove('btn-success');
        donationButtons[i].removeAttribute('aria-pressed');
        donationButtons[i].classList.remove('active');
        donationButtons[i].classList.add('btn-primary');
      }
    }

    let donationButtonFunction = function() {
      resetDonationButtons();
      otherAmount.value = "$0.00";
      this.classList.remove('btn-primary');
      this.classList.add('btn-success');
      donationAmount.value = this.value;
      console.log('Donation value set to :' + donationAmount.value);
    }

    for (let i = 0; i < donationButtons.length; i++ ) {
      donationButtons[i].addEventListener('click', donationButtonFunction);
    }

    // Support for Montly Giving Club Form

    let url = new URL(document.URL)
    let search_params = new URLSearchParams(url.search);
    let url_amount = search_params.get('amount');

    if (url_amount) {
      console.log('URL has preset donation of :' + url_amount)
      var donate_button = document.getElementById('donate' + url_amount);
      donate_button.click();
    }
</script>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Operation Paws for Homes',
    //description: 'One-time donation',
    //panelLabel: 'Donate {{amount}}',
    zipCode: true,
    image: '/apple-touch-icon.png',

    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  $('#donateButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var email = $('input#donation_email').val();

    var amount = $('#donation_amount').val();
    amount = amount.replace(/\$/g, '').replace(/\,/g, '');

    amount = parseFloat(amount);

    if ($('input#donation_name').val().length == 0) {
      $('#error_explanation').html('<p>Please enter your name.</p>')
      throw "invalid donor name";
    }

    if ($('input#donation_email').val().length == 0) {
      $('#error_explanation').html('<p>Please enter your email address.</p>')
      throw "invalid donor email";
    }

    var frequency = '';

    if ($('#donation_frequency_monthly').prop('checked')) {
      frequency = $('#donation_frequency_monthly').val();
    } else if ($('#donation_frequency_once').prop("checked")) {
      frequency = $('#donation_frequency_once').val();
    } else {
      $('#error_explanation').html('<p>Please choose Donate Monthly or Donate Once.</p>')
      throw "invalid donation type";
    }

    if (frequency == 'Monthly') {
      var description = 'Monthly Donation';
      var panelLabel = 'Donate {{amount}} Monthly';
    }
    else if (frequency == 'Once') {
      var description = 'One Time Donation';
      var panelLabel = 'Donate {{amount}}';
    } else {
      $('#error_explanation').html('<p>Please choose Donate Monthly or Donate Once.</p>');
      throw "invalid donation type";
    }

    if (isNaN(amount)) {
      $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
    }
    else if (amount < 5.00) {
      $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
    }
    else {
      amount = amount * 100; // Needs to be an integer!
      handler.open({
        amount: Math.round(amount),
        email: email,
        description: description,
        panelLabel: panelLabel
      })
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
