<div class="row">
  <div class="span8">
      <div class="comment-header">
        <small>
          <% if !audit.user %>
            <strong>Deleted User</strong>
          <% else %>
            <strong><%= link_to audit.user.name, user_path(audit.user) %></strong>
          <% end %>
          <em><%= audit.created_at.strftime('%m/%d/%Y %l:%M%P') %></em>
        </small>
      </div>

    <%= audit.auditable_type %> <br/>
    <%= audit.action %> <br/>
    <ul>
    <% audit.audited_changes.each do |key, value| %>
        <li><%= key %> - <%= value %> </li>
    <% end %>
    <ul>
  </div>
</div>
<hr/>
