<div class="row">
  <div class="span8">
      <div class="comment-header">
        <small>
          <% if !audit.user %>
            <strong>Deleted User</strong>
          <% else %>
            <strong><%= link_to audit.user.name, user_path(audit.user) %></strong>
          <% end %>
          <% if audit.action == 'update' %>
            made changes on
          <% elsif audit.action == 'create'%>
            created
          <% end %>
          <%= audit.created_at.strftime('%m/%d/%Y %l:%M%P') %>
        </small>
      </div>
    <table class="table">
      <thead>
        <th>Field</th><th>Old Value</th><th>New Value</th>
      </thead>
      <tbody>
        <% audit.audited_changes.each do |key, value| %>
          <tr>
            <td><%= key.titleize %></td><td><%= value[0] %></td><td><%= value[1] %></td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
<hr/>
