<h1><%=t '.title' %></h1>

<% if is_admin? %>
  <p>
  <%= link_to "New Folder", new_folder_path, class: "btn btn-primary" %>
  </p>
<% end %>
<%= link_to "All Folders", folders_path, class: 'btn btn-primary'%>
<br/>
<br/>
<%= form_tag folder_attachments_path, method: 'get', class: 'form-inline' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search file name or description' %>
  <%= submit_tag "Search", name: nil %>
<% end %>


<% unless @attachments.empty? %>
  <%= render 'attachment_table' %>
<% else %>
  <h3>No matching files found</h3>
<% end %>
