<div class="container">
  <div class="row mt-4">
    <div class="col-6">
      <h3><%= @volunteer_app.name %></h3>
      <dd>Submitted: <%= @volunteer_app.created_at.strftime('%A, %d %b %Y %l:%M %p') %><dd>
      <ul>
        <% if @volunteer_app.marketing_interest %>
      <li>Marketing/PR</li>
      <% end %>
      <% if @volunteer_app.events_interest %>
          <li>Events</li>
      <% end %>
      <% if @volunteer_app.fostering_interest %>
        <li>Fostering</li>
      <% end %>
      <% if @volunteer_app.training_interest %>
        <li>Training</li>
      <% end %>
      <% if @volunteer_app.fundraising_interest %>
        <li>Fundraising</li>
      <% end %>
      <% if @volunteer_app.transport_bb_interest %>
        <li>Transport and Boarding Buddies</li>
      <% end %>
      <% if @volunteer_app.adoption_team_interest %>
        <li>Adoption Team</li>
      <% end %>
      <% if @volunteer_app.admin_interest %>
        <li>Administrative</li>
      <% end %>
      </ul>

      <dl>
        <dt>Email</dt>
        <dd><%= @volunteer_app.email %></dd>
        <dt>Phone</dt>
        <dd><%= @volunteer_app.phone %></dd>
        <dt>Address</dt>
        <dd><%= @volunteer_app.address1 %></dd>
        <dd><%= @volunteer_app.address2 %></dd>
        <dd><%= @volunteer_app.city %>, <%= @volunteer_app.region %> <%= @volunteer_app.postal_code %></dd>
        <dd><%= @volunteer_app.referrer %></dd>
        <dt>About</dt>
        <dd><%= @volunteer_app.about %></dd>
      </dl>

    <%= form_for @volunteer_app do |f| %>
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, VolunteerApp::STATUSES.collect{|s| [s, s]}, {}, class: "form-control" %>
      </div>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>

    </div>

    <div class="col-6 ml-4">
        <%= render "volunteer_foster_app" if @volunteer_app.fostering_interest %>
    </div>

  </div>
  <div class="row">
    <div class="col-8">

      <h4>Add Comment</h4>
      <%= render 'comment_form' %>

      <%= render 'changes/changes', parent: @volunteer_app, device: '' %>

    </div>
  </div>
</div>
