<%= form_for @dog.comments.build, url: dogs_manager_comments_path(@dog), data: {remote: true}, html: { novalidate: true, id: "new_comment", class:"needs-validation"} do |f| %>
  <div class='form-group'>
    <label for='comment_content' class='h4'>Add comment</label>
    <%= f.text_area :content, class: "form-control comment_content", 'data-bootstrap41': true, rows: "6", required: true %>
    <div class='invalid-feedback'><%= validation_error_message_for(f,:content) %></div>
  </div>
  <%= f.submit "Post", class:"btn btn-primary", id: "comment_submit#{device}" %>
<% end %>
<div class="row" >
  <div class="col">
    <%= render partial: 'changes/changes', locals: {parent: @dog, device: device} %>
  </div>
</div>
