<div class="card mb-1" style="max-width: 18rem;">
  <div class="card-header bg-info text-white"><%= treatment_record.treatment.name %></div>
  <div class="card-body">
    <ul class="list-unstyled">
        <% if treatment_record.administered_date.present? %>
            <li><strong>Administered</strong> <%=  treatment_record.administered_date.strftime("%m/%d/%Y") %> </li>
        <% end %>
        <% if treatment_record.due_date.present? %>
            <li><strong>Due</strong> <%= treatment_record.due_date.strftime("%m/%d/%Y") %> </li>
        <% end %>
        <% if treatment_record.result.present? %>
            <li><strong>Results</strong> <%= treatment_record.result %></li>
        <% end %>
        <li><strong>Entered by</strong> <%= treatment_record.user.name %></li>
    </ul>
    <p class="card-text"><%= simple_format(treatment_record.comment) %></p>
  </div>
</div>
