<div class="col-sm-6 col-lg-4 py-1">
  <div class="card h-100">
    <div class="card-header bg-info text-white"><%= treatment_record.treatment.name %> <%= link_to "Edit", edit_polymorphic_path([@treatable, treatment_record]), class: 'btn btn-sm btn-light float-right' %></div>
    <div class="card-body">

      <dl class="row">
          <% if treatment_record.administered_date.present? %>
            <dt class="col-lg-6">Administered</dt>
            <dd class="col-lg-6"><%=  treatment_record.administered_date.strftime("%m/%d/%Y") %></dd>
          <% end %>

          <% if treatment_record.due_date.present? %>
            <dt class="col-lg-6">Due</dt>
            <dd class="col-lg-6"><%= treatment_record.due_date.strftime("%m/%d/%Y") %></dd>
          <% end %>

          <% if treatment_record.result.present? %>
            <dt class="col-lg-6">Result</dt>
            <dd class="col-lg-6"><%= treatment_record.result %></dd>
          <% end %>
      </dl>

      <p class="card-text"><%= simple_format(treatment_record.comment) %></p>
    </div>
    <div class="card-footer text-muted">
        <ul class="list-unstyled">
          <li><small>
            Added by <%= treatment_record.user.name %> ago
          </small><li>
          <li><small>
            Last updated <%= time_ago_in_words(treatment_record.updated_at) %> ago
          </small></li>
        </ul>
    </div>
  </div>
</div>
