<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Medical Summary Record</h4>

            <table class="table table-sm table-borderless">
                <tr>
                    <th>Name</th>
                    <td><%= @treatable.name %></td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td><%= @treatable.age unless @treatable.age.nil? %></td>
                </tr>
                <tr>
                    <th>Altered?</th>
                    <td><%= human_boolean(@treatable.is_altered) unless @treatable.is_altered.nil? %></td>
                </tr>
                <tr>
                    <th>Microchip</th>
                    <td class="col-sm-9"><%= @treatable.microchip unless @treatable.microchip.nil? %></td>
                </tr>
                <tr>
                    <th>Breed(s)</th>
                    <td><%= @treatable.primary_breed.name unless @treatable.primary_breed.nil? %> <%= @treatable.secondary_breed.name unless @treatable.secondary_breed.nil? %> </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h5>Medications</h5>
        <table class="table mt-3 table-sm table-striped table-bordered">
            <thead>
                <th>Administered Date</th>
                <th>Treatment</th>
                <th>Due Date</th>
                <th>Result</th>
                <th>Comments</th>
            </thead>
            <tbody>
                <%= render @treatment_records %>
            </tbody>
        </table>
        </div>
    </div>

<% if @treatable.class.name == 'Dog' %>
    <%= render "dog_vaccinations" %>
<% elsif @treatable.class.name == 'Cat' %>
    <%= render "cat_vaccinations" %>
<% end %>

<small>Report Generated <%= Time.now.strftime("%A, %d %b %Y %l:%M %p")%></small>
</div>


<!-- https://stackoverflow.com/a/56237878/6608616 >
