<div class="pt-1 bg-light">
    <p class="pb-1 mb-0 small">
    <strong class="d-block">Join our Puppy Party</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-1">
    <p class="pb-1 mb-0 small">
    <strong class="d-block">Join our Puppy Party</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-1  bg-light">
    <p class="pb-1 mb-0 small">
    <strong class="d-block">Join our Puppy Party</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-1">
    <p class="pb-1 mb-0 small">
    <strong class="d-block">Join our Puppy Party</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-1  bg-light">
    <p class="pb-1 mb-0 small">
    <strong class="d-block">Join our Puppy Party</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>
