<main role="main" class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">Bulletins</h5>
                <%= render partial: "bulletins" %>
            </div>
        </div>
        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">Opportunities</h5>
                <%= render partial: "opportunities" %>
            </div>
        </div>
    </div>

    <div class="row bg-lightblue">
        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">My Dogs</h5>
                <%= render partial: "dog", collection: @my_dogs %>
            </div>
        </div>
        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">My Adopters</h5>
                <%= render partial: "adopter", collection: @my_adopters %>
            </div>
        </div>
    </div>

    <div class="row bg-dark">
        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">Upcoming Events</h5>
                <%= render partial: "event", collection: @upcoming_nearby_events %>
            </div>
        </div>

        <div class="col-md">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h5 class="border-bottom border-gray pb-2 mb-0">Contacts</h5>
                <%= render partial: "contacts" %>
            </div>
        </div>
    </div>



</main>
