<%= form_for @adopter do |f| %>
  <%= f.fields_for :references do |rf| %>
    <tr>
      <td>
        <%= rf.text_field :name %>
      </td>
      <td>
        <span class="tel value"><%= rf.text_field :phone %></span>
      </td>
      <td>
        <%= rf.text_field :email %>
      </td>
      <td>
        <%= rf.text_field :relationship %>
      </td>
      <td>
        <%= rf.text_field :whentocall %>
      </td>
      <td>
        <%= rf.submit "Save", :id => "ref_edit", class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
<% end %>
