<tr>
  <td>
    <%= reference.name %>
  </td>
  <td>
    <span class="tel value"><%= reference.phone %></span>
  </td>
  <td>
    <%= reference.email %>
  </td>
  <td>
    <%= reference.relationship %>
  </td>
  <td>
    <%= reference.whentocall %>
  </td>
</tr>
