<div class='container' id='public_profile'>
  <%- if active_user? %>
    <div class='row'>
      <div class='col-12'>
        <%= link_to "Manager Profile", dogs_manager_path(@dog), class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
  <div class="row title_row">
    <div class='col-12 col-sm-auto'>
      <h1>#<%=@dog.tracking_id%> <%= @dog.name %></h1>
    </div>
  </div>
  <div class="row title_row">
    <div class='col-12 col-sm-auto'>
      <span class='status'><%= @dog.status.titleize %></span >
      <a tabindex="0" class='fa fa-sm fa-info text-primary'
         data-trigger='focus' data-toggle='popover' data-placement='left'
         data-content='<%=t ".status_definitions.#{@dog.status_key}" %>'></a>
    </div>
  </div>
  <div class="row title_row">
    <div class='col-12 col-sm-auto'>
      <% if @dog.size? %>
        <span><%= @dog.size.titleize %>-size</span>,
      <% end %>
      <span><%= @dog.gender %>,</span>
      <span class='age'><%= @dog.age ? @dog.age.titleize : " " %></span>
      <span class='breed'><%= @dog.breeds.join(" x ").html_safe %></span>,
    </div>
  </div>

  <div class="row profile">
    <div class="col">
      <%= some_details %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-8">
      <div id="galleria"></div>
    </div>

    <div class="col-12 col-sm-4 align-self-center">
      <% if @dog.is_accepting_applications?  %>
        <a href=<%=new_adopter_path(dog_name: @dog.name) %> id='adopt_me' class='show_page_links'>
          <%= render file: Rails.root.join('app', 'assets', 'images', 'foster_icon.svg').to_s %>
          <span class='link'>Adopt Me</span>
        </a>
      <% end %>
      <a href=<%= sponsor_path %> id='sponsor_me' class='show_page_links'>
        <span class='fa-stack fa-lg'>
          <i class='fa fa-circle fa-lg fa-stack-1x'></i>
          <i class='fa fa-dollar fa-stack-1x'></i>
        </span>
        <span class='link'>Sponsor Me</span>
      </a>

      <a href=<%= guide_path %> id='adoption_guide' class='show_page_links' >
        <i class='fa fa-lg fa-compass'></i>
        <span class='link'>Adoption Guide</span>
      </a>

      <div class='share_the_love'>
        <div class='share_the_love_header'>Share the love!</div>
        <div class="fb-like" data-href="<%= request.url %>" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-8">
      <div id="dogDescription" >
        <%= simple_format(@dog.description) %>
      </div>
    </div>
  </div>
</div>


<script>
  $('#galleria').galleria({
    responsive: true,
    imageCrop: false,
    dataSource: <%= @carousel %>,
    theme: 'classic',
    swipe: false
  });

  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  $('.popover-dismiss').popover({
    trigger: 'focus'
  })
</script>
