<div class="row">
  <div class="col-md-4">
    <div class='campaign_photo'>
      <%=  image_tag(campaign.primary_photo.url(:thumb), class:"rounded") %>
    </div>
  </div>
  <div class="col-md-8">
    <h3><%= link_to campaign.title, campaign %></h3>
    <h5><%= number_to_currency(campaign.progress, precision: 0) %> raised of <%= number_to_currency(campaign.goal, precision: 0) %> goal</h5>
    <p><%= campaign.summary %></p>
    <%= link_to_if(is_admin?, "Edit", edit_campaign_path(campaign), :class => "btn btn-sm btn-outline-secondary"){} %>
  </div>
</div>
<br />
