
<div class="container">
<%= form_for @campaign, url: @campaign.new_record? ? campaigns_path : campaign_path(@campaign), :html=> { multipart: true, id: "campaign_form", class: "container form-horizontal needs-validation", autocomplete: 'off', novalidate: true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='row'>
    <div class='col-3 offset-2' id='required_fields_message'>
      <span id='asterix'>*</span> indicates required fields
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :title, nil, class: 'col-form-label col-sm-2 required' %>
    <%= f.text_field :title, class: "form-control col-sm-4", required: true, 'data-bootstrap41': true, maxlength: 255 %>
    <%= f.bootstrap_errors :title, class: 'col-sm-10 offset-2'  %>
  </div>

  <div class="form-group row">
    <%= f.label :goal, "Fundraising Goal", class: 'col-form-label col-sm-2 required' %>
    <%= f.number_field :goal, class: "form-control col-sm-4", required: true, maxlength: 10 %>
    <%= f.bootstrap_errors :goal, class: 'col-sm-12 offset-2'  %>
  </div>

  <div class="form-group row">
    <% if f.object.primary_photo? %>
      <%= f.label "Image", class: 'col-form-label col-sm-2' %>
      <%= link_to image_tag(f.object.primary_photo.url(:thumb)), f.object.primary_photo.url(:original), class: 'col-sm-2' %>
      <div class='col-sm-2'>
        <%= f.check_box :primary_photo_delete, {}, "1", "0" %>
        <%= f.label "delete", for: 'campaign_primary_photo_delete' %>
      </div>
    <% else %>
      <%= f.label "Primary Photo", for: 'campaign_primary_photo', class: 'col-form-label col-sm-2'%>
      <%= f.file_field :primary_photo, data: {max_size: Campaign::ATTACHMENT_MAX_SIZE}, class: 'form-control col-sm-6' %>
      <%= f.bootstrap_errors :primary_photo, class: 'col-sm-8 offset-2'  %>
    <% end %>
  </div>

  <div class="form-group row">
    <% if f.object.left_photo? %>
      <%= f.label "Left Photo", class: 'col-form-label col-sm-2' %>
      <%= link_to image_tag(f.object.left_photo.url(:thumb)), f.object.left_photo.url(:original), class: 'col-sm-2' %>
      <div class='col-sm-2'>
        <%= f.check_box :left_photo_delete, {}, "1", "0" %>
        <%= f.label "delete", for: 'campaign_left_photo_delete' %>
      </div>
    <% else %>
      <%= f.label "Left Photo", for: 'campaign_left_photo', class: 'col-form-label col-sm-2'%>
      <%= f.file_field :left_photo, data: {max_size: Campaign::ATTACHMENT_MAX_SIZE}, class: 'form-control col-sm-6' %>
      <%= f.bootstrap_errors :left_photo, class: 'col-sm-8 offset-2'  %>
    <% end %>
  </div>

  <div class="form-group row">
    <% if f.object.middle_photo? %>
      <%= f.label "Middle Photo", class: 'col-form-label col-sm-2' %>
      <%= link_to image_tag(f.object.middle_photo.url(:thumb)), f.object.middle_photo.url(:original), class: 'col-sm-2' %>
      <div class='col-sm-2'>
        <%= f.check_box :middle_photo_delete, {}, "1", "0" %>
        <%= f.label "delete", for: 'campaign_middle_photo_delete' %>
      </div>
    <% else %>
      <%= f.label "Middle Photo", for: 'campaign_middle_photo', class: 'col-form-label col-sm-2'%>
      <%= f.file_field :middle_photo, data: {max_size: Campaign::ATTACHMENT_MAX_SIZE}, class: 'form-control col-sm-6' %>
      <%= f.bootstrap_errors :middle_photo, class: 'col-sm-10 offset-2'  %>
    <% end %>
  </div>

  <div class="form-group row">
    <% if f.object.right_photo? %>
      <%= f.label "Right Photo", class: 'col-form-label col-sm-2' %>
      <%= link_to image_tag(f.object.right_photo.url(:thumb)), f.object.right_photo.url(:original), class: 'col-sm-2' %>
      <div class='col-sm-2'>
        <%= f.check_box :right_photo_delete, {}, "1", "0" %>
        <%= f.label "delete", for: 'campaign_right_photo_delete' %>
      </div>
    <% else %>
      <%= f.label "Right Photo", for: 'campaign_right_photo', class: 'col-form-label col-sm-2'%>
      <%= f.file_field :right_photo, data: {max_size: Campaign::ATTACHMENT_MAX_SIZE}, class: 'form-control col-sm-6' %>
      <%= f.bootstrap_errors :right_photo, class: 'col-sm-10 offset-2'  %>
    <% end %>
  </div>

  <div class="form-group row">
    <%= f.label :summary, nil, class: 'col-form-label col-sm-2 required' %>
    <%= f.text_area :summary, class: "form-control col-sm-6", :rows => "5", required: true, maxlength: 600 %>
    <span class="form-text text-muted col-sm-10">Max 600 characters.  Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>!</span>
    <%= f.bootstrap_errors :summary, class: 'col-sm-12 offset-2'  %>
  </div>

  <div class="form-group row">
    <%= f.label :description, nil, class: 'col-form-label col-sm-2 required' %>
    <%= f.text_area :description, class: "form-control col-sm-6", :rows => "20", required: true %>
    <span class="form-text text-muted col-sm-10">Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>!</span>
    <%= f.bootstrap_errors :description, class: 'col-sm-12 offset-2'  %>
  </div>

  <%= submit_or_return_to(f, campaigns_path) %>


<% end %>
</div>

<script type='text/javascript'>
  $(function(){
    $('#campaign_photo').on('change', function(campaign){
      var $file_field = $(campaign.target);
      var max_size = parseInt($file_field.data('maxSize'))*1024*1024;
      if(typeof this.files[0] != 'undefined'){
        var file = this.files[0];
        var file_size = file.size;
        var file_type = file.type;
        var too_big = file_size > max_size;
        var wrong_type = !file_type.match(/(jpe?g|png)/)
        if(too_big || wrong_type){
          this.setCustomValidity("some text any text it doesn't matter, the message is specified in the html")
        }else{
          this.setCustomValidity('')
        }
      }
    });
  });
</script>
