<div class='container'>
    <div class="row title_row">
      <div class="col-md-10">
        <%= image_tag(@campaign.photo.url(:medium), class:"img-fluid") %>
        <h1><%= @campaign.title %></h1>
      </div>
      <div class="col-md-2">
        <h5>Our Goal <%= number_to_currency(@campaign.goal, precision: 0) %></h5>
        <h5>Raised <%= number_to_currency(@campaign.progress, precision: 0) %></h5>
        <%= link_to "Donate", new_donation_path({campaign_id: @campaign.id}), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <p><%= simple_format(@campaign.description) %>
    </div>
  </div>
</div>
