<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="pages ml-2">
				<h1>Banned Adopters</h1>
				<% if can_ban_adopters? %>
					<p><%= link_to "Add Adopter", new_banned_adopter_path, :class => "btn btn-primary" %>
				<% else %>
					<p>
				<% end %>

				<% if @banned_adopters.count > 0 %>
					<%= link_to "Download Excel", banned_adopters_path(format: "xls"), :class => "btn btn-success ml-2" %></p>
					<table class="table table-striped table-bordered table-sm">
						<thead>
							<tr>
								<th><%= sortable "name" %></th>
								<th><%= sortable "location" %></th>
								<th>Comment</th>
							</tr>
						</thead>
						<tbody>
							<%= render @banned_adopters %>	
						</tbody>
					</table>
				<% else %>
					<h5>No Banned Adopters</h5>
				<% end %>
			</div>
		</div>
	</div>
</div>
