<div class='row cat line-1'>
  <div class='col'>
    <%= link_to "<span class='id'>##{cat.tracking_id}</span>&nbsp;<span class='name'>#{cat.name}</span>".html_safe, cats_manager_path(cat) %>
  </div>
</div>
<div class='row cat line-2'>
<img class='imagepreview offset-md-1' src="<%=cat.primary_photo_url%>" class="figure-img img-fluid rounded" alt="<%=cat.name%> photo">
  <div class='col offset-md-1'>
    <span><%= size_abbrev(cat.size) %>,</span>
    <span class='age'><%= cat.age ? cat.age.titleize : " " %>,</span>
    <span class='gender'><%= cat.gender %>,</span>
    <span class='breed'><%= cat.breeds.join(" x ").html_safe %>,</span>
    <span class='status'>
      <% if (params[:status] == nil) || (params[:status] == "active")  %>
        <%= cat.status.titleize %>
      <% end %>
    </span >
  </div>
</div>
<div class='row cat line-3 d-none d-md-flex'> <!-- for now it's disabled on mobile, but the layout below is mobile-ready if this info is needed in this list for mobile iso on the #show page -->
  <div class='col-4 col-md-1 intake_date'><%= cat.intake_dt.strftime("%m/%d/%y") unless cat.intake_dt.blank? %></div>
  <div class='col-4 col-md-2 flags'>
    <div class="<%= 'medical_review_needed' unless cat.medical_review_complete %>" data-toggle='tooltip' data-placement='bottom' title='Medical Review Incomplete'></div>
    <div class="<%= 'has_medical_need'      if     cat.has_medical_need %>"        data-toggle='tooltip' data-placement='bottom' title='Medical Need'></div>
    <div class="<%= 'is_high_priority'      if     cat.is_high_priority %>"        data-toggle='tooltip' data-placement='bottom' title='High Priority'></div>
    <div class="<%= 'needs_photos'          if     cat.needs_photos %>"            data-toggle='tooltip' data-placement='bottom' title='Need Photos'></div>
    <div class="<%= 'has_behavior_problem'  if     cat.has_behavior_problem %>"    data-toggle='tooltip' data-placement='bottom' title='Behavior Problem'></div>
    <div class="<%= 'needs_foster'          if     cat.needs_foster %>"            data-toggle='tooltip' data-placement='bottom' title='Needs Foster'></div>
    <div class="<%= 'spay_neuter_needed'    unless cat.is_altered %>"              data-toggle='tooltip' data-placement='bottom' title='Needs Spay/Neuter'></div>
  </div>
  <div class='col-4 d-md-none'>
    <% unless cat.comments.empty? %>
      <a class="fa fa-lg fa-comment-o"
            tabindex='0'
            data-toggle='popover'
            data-placement='left'
            data-trigger="focus"
            title="Most recent comment for <%= cat.name %>"
            data-content="<%= cat.comments.first.content %>" ></a>
    <% end %>
  </div>
  <div class='col-6 col-md-1'>
    Adoption Coordinator:
  </div>
  <div class='col-6 col-md-1'>
    <%= cat.coordinator ? link_to(cat.coordinator.name, cat.coordinator) : "Unassigned" %>
  </div>
  <div class='col-6 col-md-1 foster_txt'>Foster:</div>
  <div class='col-6 col-md-2'><%= cat.foster ? link_to(cat.foster.name, cat.foster) : "Unassigned" %><br />
    <%= cat.foster_location %></div>
  <div class='col-6 col-md-1'>
    Adopter interest:
  </div>
  <div class='col-6 col-md-2'>
    <%- if cat.adopters.empty? %>
      None
    <%- else %>
      <% cat.adopters.each do |d| %>
        <%= link_to d.name, d %>
        <br/>
        (<%= d.status %>)
        <br/>
      <% end %>
    <%- end %>
  </div>
  <div class='d-none d-md-block col-md-1'>
    <% unless cat.comments.empty? %>
      <a class="fa fa-lg fa-comment-o"
            tabindex='0'
            data-toggle='popover'
            data-placement='left'
            data-trigger="focus"
            title="Most recent comment for <%= cat.name %>"
            data-content="<%= cat.comments.first.content %>" ></a>
    <% end %>
  </div>
</div>
