<div class='container' id='manage_profile'>
  <div class='row'>
    <div class='col-12'>
      <%= link_to "Cat Manager", session[:last_cat_manager_search], class: 'btn btn-primary mr-4' %>
      <% if can_edit_cats? || fostering_cat? %>
        <%= link_to "Edit", edit_cats_manager_path(@cat), id: 'edit_cat', class: 'btn btn-primary mr-4' %>
      <% end %>
      <%= link_to "Public Profile", cat_path(@cat), class: 'btn btn-secondary' %>
    </div>
  </div>

  <div class="row title_row justify-content-between">
    <div class='col-12 col-sm-auto'>
      <h1>#<%= @cat.tracking_id%> <%= @cat.name %></h1>
    </div>
  </div>

  <div class="row title_row">
      <div class='col-12 col-sm-auto'>
        <span id='status'><%= @cat.status.titleize %></span>
      </div>
  </div>

  <div class="row title_row">
    <div class='col-12 col-sm-auto'>

      <span id='gender'><%= @cat.gender %></span>,
      <span id='age'><%= @cat.age ? @cat.age.titleize : " " %></span>,
      <% if @cat.size? %>
        <span id='size'><%= @cat.size.titleize %>-size</span>,
      <% end %>
      <% if @cat.coat_length? %>
        <span id='size'><%= @cat.coat_length.titleize %> coat</span>,
      <% end %>
      <span id='breed'><%= @cat.breeds.join(" x ").html_safe %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-8">
      <div id="galleria"></div>
      <div id="catDescription" >
        <h4>Description</h4>
        <%= simple_format(@cat.description) %>
      </div>

      <%= render partial: 'medical_summary' %>
      <%= render partial: 'behaviour_summary' %>

      <% if @cat.attachments.any? %>
        <h4>Attachments</h4>
          <ul class="list-unstyled">
          <% @cat.attachments.each do |a| %>
            <li>
            <%= link_to a.download_url do %>
              <i class="fa fa-cloud-download"></i>
            <% end %>
            <%= link_to a.attachment_file_name, a %>
            </li>
          <% end %>
          </ul>
      <% end %>

      <div class="d-none d-sm-block">
        <%= render partial: 'comments_audits', locals: {device:'_large'} %>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <dl class='row' id='details'>
        <dt>Original Name</dt>
        <dd id='original_name'><%= @cat.original_name || 'unknown' %></dd>
        <dt>Microchip</dt>
        <dd id='microchip'><%= @cat.microchip || 'unknown' %></dd>
        <dt>Adoption Fee</dt>
        <dd id='fee'><%= number_to_currency(@cat.fee, precision: 0) || 'unknown' %></dd>
        <dt>Declawed?</dt>
        <dd id='declawed'><%= (@cat.declawed).as_icon  %></dd>
        <dt>Litter Box Trained?</dt>
        <dd id='litter_box_trained'><%= (@cat.litter_box_trained).as_icon  %></dd>
        <dt>OK with cats?</dt>
        <dd id='cats_ok'><%= (!@cat.no_cats).as_icon  %></dd>
        <dt>OK with dogs?</dt>
        <dd id='dogs_ok'><%= (!@cat.no_dogs).as_icon  %></dd>
        <dt>OK with kids?</dt>
        <dd id='kids_ok'><%= (!@cat.no_kids).as_icon  %></dd>
        <dt>Medical Review Complete</dt>
        <dd id='medical_review_complete'><%= @cat.medical_review_complete.as_icon %></dd>
        <dt>Has Medical Need</dt>
        <dd id='has_medical_need'><%= @cat.has_medical_need.as_icon %></dd>
        <dt>Is Special Needs</dt>
        <dd id='special_needs'><%= @cat.is_special_needs.as_icon %></dd>
        <dt>Needs Spay or Neuter</dt>
        <dd id='not_altered'><%= (!@cat.is_altered).as_icon %></dd>
        <dt>High Priority</dt>
        <dd id='is_high_priority'><%= @cat.is_high_priority.as_icon %></dd>
        <dt>Needs Photos</dt>
        <dd id='needs_photos'><%= @cat.needs_photos.as_icon %></dd>
        <dt>Has Behavior Problem</dt>
        <dd id='has_behaviour_problem'><%= @cat.has_behavior_problem.as_icon %></dd>
        <dt>Needs Foster</dt>
        <dd id='needs_foster'><%= @cat.needs_foster.as_icon %></dd>
        <dt>Foster</dt>
        <dd id='foster'><%= render partial: 'foster_details' %></dd>
        <dt>Adoption Coordinator</dt>
        <dd id='adoption_coordinator'><%= render partial: 'adoption_coordinator' %></dd>
        <dt>Sponsor</dt>
        <dd id='sponsored_by'><%= @cat.sponsored_by %></dd>
        <dt>Source Shelter</dt>
        <dd id='shelter'><%= @cat.shelter&.name || 'unknown' %></dd>
        <dt>Adopters</dt>
        <dd id='adopters'><%= render(partial: 'adopter', collection: @cat.adopters) || "no adopters" %></dd>
        <dt>Available on</dt>
        <dd id='available_on_dt'><%= @cat.available_on_dt || 'unknown' %></dd>
        <dt>Intake date</dt>
        <dd id='intake_dt'><%= @cat.intake_dt || 'unknown' %></dd>
        <dt>Adopted on</dt>
        <dd id='adoption_date'><%= @cat.adoption_date || 'unknown' %></dd>
        <dt>Ads</dt>
        <dd>
          <div id='adoptapet_ad'><%= @adoptapet %></div>
          <div><a href="<%= PETFINDER::OPH_PAGE %>">Petfinder</a></div>
          <div id='craigslist_ad_url'>
            <%= link_to_if @cat.craigslist_ad_url, "Craigslist", @cat.craigslist_ad_url do "Needs Craigslist ad" end %>
          </div>
        </dd>

        <dt>Up-to-date on shots</dt>
        <dd id='is_uptodateonshots'><%= @cat.is_uptodateonshots.as_icon %></dd>
        <dt>First shots</dt>
        <dd id='first_shots'><%= @cat.first_shots || x_icon %></dd>
        <dt>Second shots</dt>
        <dd id='second_shots'><%= @cat.second_shots || x_icon %></dd>
        <dt>Third shots</dt>
        <dd id='third_shots'><%= @cat.third_shots || x_icon %></dd>
        <dt>Rabies</dt>
        <dd id='rabies'><%= @cat.rabies || x_icon %></dd>
        <dt>Felv FIV Test</dt>
        <dd id='felv_fiv_test'><%= @cat.felv_fiv_test || x_icon %></dd>
        <dt>Flea/Tick Preventative</dt>
        <dd id='flea_tick_preventative'><%= @cat.flea_tick_preventative || x_icon %></dd>
        <dt>Dewormer</dt>
        <dd id='dewormer'><%= @cat.dewormer || x_icon %></dd>
        <dt>Coccidia Treatment</dt>
        <dd id='coccidia_treatment'><%= @cat.coccidia_treatment || x_icon %></dd>
      </dl>
      <div class="d-block d-sm-none">
        <%= render partial: 'comments_audits' , locals: {device:'_small'}%>
      </div>
    </div>
  </div>
</div>


<script>
  $('#galleria').galleria({
    responsive: true,
    imageCrop: false,
    dataSource: <%= @carousel %>,
    theme: 'classic',
    swipe: false
  });
</script>
