
<h5>Reference #<%= @i %></h5>
<% @i += 1 %>
<div class="form-group">
  <%= rf.label :name, "Reference's Name"%>
  <%= rf.text_field :name, class: "col-8 form-control" %>
</div>
<div class="form-group">
  <%= rf.label :phone, "Reference's Phone" %>
  <%= rf.text_field :phone, class: "col-8 form-control" %>
</div>
<div class="form-group">
  <%= rf.label :email, "Reference's E-Mail" %>
  <%= rf.text_field :email, class: "col-8 form-control" %>
</div>
<div class="form-group">
  <%= rf.label :relationship, "What is the nature of your relationship?" %>
  <%= rf.text_field :relationship, class: "col-8 form-control" %>
    <small class="form-text text-muted"> References can not be related by blood or marriage to anyone living in your household.</small>
</div>
