<div class="col">
  <div class="row stay-in-touch">
    <div class='col'></div>
    <div class='col'> <a href="http://eepurl.com/h9oyk" class="span6">STAY IN TOUCH</a> </div>
    <div class='col'></div>
  </div>
  <div class="row stay-in-touch">
z   <div class='col'>
    </div>
    <div class='col'>
      <a href=""><%= image_tag "front-page/facebook.png", :alt => "Facebook", :size => "50x50"%></a>
      <a href=""><%= image_tag "front-page/Twitter.png", :alt => "Twitter", :size => "50x50"%></a>
      <a href=""><%= image_tag "front-page/Instagram.png", :alt => "Instagram", :size => "50x50"%></a>
      <a href=""><%= image_tag "front-page/Youtube.png", :alt => "YouTube", :size => "50x50"%></a>
    </div>
    <div class='col'>
    </div>
  </div>
  <div class="row footer-awards">
    <div class='col'><%= image_tag "front-page/top-rated-award.png", :alt => "2017 Great Nonprofits Top Rated Award", :size => "147x110"%></div>
    <div class='col'><%= image_tag "front-page/VA.png", :alt => "Virginia Federation of Humane Societies", :size => "340x144"%></div>
    <div class='col'><%= image_tag "front-page/best-fairfax.jpg", :alt => "Sun Gazette Best of Fairfax 2017", :size => "142x130"%></div>
  </div>
  <div class="row footer-links">
    <div class='col'> <a href="/contact">Contact Us</a> | <a href="/terms">Terms & Conditions</a> | <%= link_to "Sign in", signin_path %> </div>
  </div>
  <hr>
</div>
