<footer>
<div class="stay-in-touch">
    <a href="http://eepurl.com/h9oyk" class="span6">STAY IN TOUCH</a>
    <div class="social-media">
       <a href=""><%= image_tag "front-page/facebook.png", :alt => "Facebook", :size => "50x50"%></a>
       <a href=""><%= image_tag "front-page/Twitter.png", :alt => "Twitter", :size => "50x50"%></a>
       <a href=""><%= image_tag "front-page/Instagram.png", :alt => "Instagram", :size => "50x50"%></a>
       <a href=""><%= image_tag "front-page/Youtube.png", :alt => "YouTube", :size => "50x50"%></a>
    </div>
</div>
<div class="footer">
    <div class="row-fluid footer-awards">
        <%= image_tag "front-page/top-rated-award.png", :alt => "2017 Great Nonprofits Top Rated Award", :size => "70x70"%>
        <%= image_tag "front-page/VA.png", :alt => "Virginia Federation of Humane Societies", :size => "150x150"%>        
        <%= image_tag "front-page/best-fairfax.jpg", :alt => "Sun Gazette Best of Fairfax 2017", :size => "50x50"%>
    </div>
    <div class="row-fluid footer-links">
        <p><a href="/contact">Contact Us</a> | <a href="/terms">Terms & Conditions</a> | <%= link_to "Sign in", signin_path %></p>
    </div>
</div>
<hr>


</footer>