<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
  <%= render 'layouts/assets' %>

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12286524-2', 'auto');
    ga('send', 'pageview');

    <% if signed_in? %>
       ga('set', 'dimension1', 'is_staff');
    <% end %>
  </script>

  <script>
    /**
    * Function that tracks a click on an outbound link in Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label. Setting the transport method to 'beacon' lets the hit be sent
    * using 'navigator.sendBeacon' in browser that support it.
    */
    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {
        'transport': 'beacon',
        'hitCallback': function(){document.location = url;}
      });
    }
  </script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </script>

    <!--[if lte IE 6]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("/assets/ie6warn/")}</script><![endif]-->
  <% if @hide_topbar.nil? %>
    <% if @bootstrap41 %>
      <%= render 'layouts/topbar_bs41' %>
    <% else %>
      <%= render 'layouts/topbar' %>
    <% end %>
  <% end %>
  <div class="container">
    <% flash.each do |key, value| %>
      <% if value == "adoptsuccess" %>
        <div class="alert alert-block alert-success">
          <a class="close" href="/">&times;</a>
              <p><strong>Success!</strong> Your adoption application has been submitted successfully. We will review
              your application and contact you in the next 2 business days.</p>
              <p><strong>Next Steps:</strong></p>
              <ul>
                <li>Contact your references and let them know we will be calling.</li>
                <li>Call your vet and verify that any current dogs or cats are spayed/neutered and up to date on shots.</li>
                <li>Give your vet permission to release records to us.</li>
                <li>Contact us at <strong>adopt@ophrescue.org</strong> if you want to make any changes to your application, or withdraw it.</li>
              </ul>
              <p>For more information please read our adoption guide and other resources.</p>
              <div class="alert-actions">
                  <a class="btn small primary" href="/guide">Adoption Guide</a>
                  <a class="btn small primary" href="/resources">Resources for Adopters</a>
                </div>
        </div>
      <% else %>
        <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
      <% end %>
    <% end %> 
    <% if signed_in? && current_user.out_of_date? %>
      <div class="alert alert-block alert-warning">
        <p>Please verify your profile information!</p>
        <p><%= link_to("Profile", current_user, :class => "btn btn-warning") %></p>
      </div>
    <% end %>
    <div class='row'>
      <%= yield %>
    </div>

    <div class='row'>
      <%- if @bootstrap41 %>
        <%= render 'layouts/footer_bs41' %>
      <%- else %>
        <%= render 'layouts/footer' %>
      <%- end %>
    </div>
      <%= debug(params) if Rails.env.development? %>
  </div>
  </body>
</html>
