<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if current_page?(root_path) %>
      <meta property="og:site_name" content="Operation Paws for Homes">
      <meta property="og:description" content="All breed dog rescue based in Virgina, Maryland, Washington DC and South Central PA">
      <meta property="og:image" content="https://ophrescue.org/og_image.jpg">
      <meta property="og:image:type" content="image/jpg">
      <meta property="og:image:width" content="3059">
      <meta property="og:image:height" content="2447">
    <% end %>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/assets' %>

  <% if Rails.env.production? || Rails.env.staging? %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12286524-2', 'auto');
      ga('send', 'pageview');

      <% if signed_in? %>
        ga('set', 'dimension1', 'is_staff');
      <% end %>
    </script>

    <script>
      /**
      * Function that tracks a click on an outbound link in Analytics.
      * This function takes a valid URL string as an argument, and uses that URL string
      * as the event label. Setting the transport method to 'beacon' lets the hit be sent
      * using 'navigator.sendBeacon' in browser that support it.
      */
      var trackOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
          'transport': 'beacon',
          'hitCallback': function(){document.location = url;}
        });
      }
    </script>
  <% end %>

  <% if Rails.env.test? %>
    <%= javascript_tag "$.fx.off = true;" %>
  <% end %>

  </head>
  <body class="<%= controller_name + action_name %>">
    <% if Rails.env.production? || Rails.env.staging? %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    <% end %>

    <!--[if lte IE 6]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("/assets/ie6warn/")}</script><![endif]-->
  <% if @hide_topbar.nil? %>
    <% if @bootstrap41 %>
      <% if @show_user_topbar.nil? %>
        <%= render 'layouts/topbar_bs41' %>
      <% else %>
        <%= render 'layouts/topbar_user_bs41' %>
      <% end %>
    <% else %>
      <%= render 'layouts/topbar' %>
    <% end %>
  <% end %>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
    <% end %>
    <% if signed_in? && current_user.out_of_date? %>
      <div class="alert alert-block alert-warning">
        <p>Please verify your profile information!</p>
        <p><%= link_to("Profile", current_user, :class => "btn btn-warning") %></p>
      </div>
    <% end %>
  </div>

  <% if @bootstrap41 %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>

  <div class="container">
    <div class='row'>
      <%= render 'layouts/footer' %>
    </div>
      <%= debug(params) if Rails.env.development? %>
  </div>
  </body>
</html>
